[2015-11-30 17:27] dak opened #1256 "Browser - Bottom nav bar does not fill width"
![image](https://cloud.githubusercontent.com/assets/1371232/11479093/2f77473a-975e-11e5-8d86-46752fc9ca0d.png)

[2015-11-30 17:29] dak opened #1257 "Browser - Unable to expand Sub-Collections in ToC"
![image](https://cloud.githubusercontent.com/assets/1371232/11479080/1d9e56a2-975e-11e5-8391-7c5c40c36dc2.png)

[2015-11-30 17:31] dak commented on #1255
![image](https://cloud.githubusercontent.com/assets/1371232/11479109/41fb982a-975e-11e5-9476-0d3cd887e317.png)

[2015-11-30 18:33] edwoodward commented on #1257
If you are testing on dev, the code has not been updated. Where are you
testing?

On 11/30/2015 11:29 AM, Derek Kent wrote:

[2015-11-30 18:33] dak commented on #1257
@edwoodward On my local, updated install

[2015-11-30 19:02] RoyEJohnson commented on #1257
If you're not seeing chapter numbers by the page title, you may have cache issues. The master branch should give you this when you load the Biology book and open the Contents window (the current section is automatically expanded, and you start on the Introduction rather than the Preface).

![screen shot 2015-11-30 at 1 00 01 pm](https://cloud.githubusercontent.com/assets/7315241/11481323/622baa64-

[2015-11-30 19:04] RoyEJohnson commented on #1256
Fixed in latest master.

[2015-11-30 19:08] RoyEJohnson commented on #1254
I think this is fixed in latest master (certainly you won't lose the title), but let me know if elastic scroll still does some unwanted hiding. I don't get any, but I might not be doing what you're doing.

[2015-12-01 15:51] dak commented on #1257
Fixed in latest build

[2015-12-01 15:51] #1257 closed

[2015-12-01 15:51] #1256 closed

[2015-12-01 15:52] dak commented on #1255
Fixed in latest build

[2015-12-01 15:52] #1255 closed

[2015-12-01 15:52] dak commented on #1254
This issue still exists, although now it just hides/shows the whole header.

[2015-12-01 21:53] edwoodward commented on #1205
Can you do a pull request?

Thanks,
Ed

On 11/22/2015 11:58 PM, Christian Burkhartsmeyer wrote:

[2015-12-03 14:09] edwoodward opened #1269 "Accessibility - Concept Coach needs to revert accessibility changes"
We need to correct the tab order to start at the top of the page and reimplement the "Skip to main content" option for all content.

[2015-12-03 14:12] edwoodward opened #1270 "Concept Coach - Header is too tall on demo and alpha"
The spacing in the header is taller on demo and alpha than is it on dev.

Dev header
![screenshot from 2015-12-03 08 11 02](https://cloud.githubusercontent.com/assets/1394695/11562735/7c164986-9995-11e5-90cd-550cd987cd6d.png)

alpha header
![screenshot from 2015-12-03 08 11 24](https://cloud.githubusercontent.com/assets/1394695/11562745/87b62b1c-9995-11e5-80bd-080ec0dec94c.png)

[2015-12-03 15:22] RoyEJohnson commented on #1270
Looks like some css, namely modules/header/header.less is different there than on dev.
![screen shot 2015-12-03 at 9 21 47 am](https://cloud.githubusercontent.com/assets/7315241/11564541/5d4dc236-999f-11e5-898e-d7d01a186de3.png)
![screen shot 2015-12-03 at 9 21 59 am](https://cloud.githubusercontent.com/assets/7315241/11564540/5d4cf3f6-999f-11e5-878d-aa1385d96c69.png)

[2015-12-03 17:55] RoyEJohnson commented on #1270
I wasn't seeing this on my local install, but I am now. It looks like it's not-our CSS overriding ours for the "page-header" class.

[2015-12-03 17:58] RoyEJohnson commented on #1270
Looks like our brand-primary color has gone from green to orange.

[2015-12-06 04:03] pumazi opened #1278 "Error building 'dist' in compile step"
I'm unable to build 'dist' because of [a recently added line in app.less](https://github.com/Connexions/webview/commit/8e92530a8c9154b31d5cc6c5a7146ddaeaa9f737#diff-442ae88174e78030e09edd24902e67c0R1) that went in as part of #1275 .

[code]

Removing a ``../`` from the path in ``app.less`` allows the build to go through.

[2015-12-06 04:27] pumazi opened #1279 "Error building 'dist' in imagemin step"
I'm running into the following error while at the 'imagemin' step of 'dist'.

[code]

[2015-12-06 15:47] #1278 closed

[2015-12-06 15:47] #1279 closed

[2015-12-07 00:18] #1269 closed

[2015-12-07 17:56] edwoodward opened #1284 "TOC - Wrong chapter is bolded after search is removed"
I can only get this to happen on a tablet or phone. I also got it to happen in the chromw dev tools in Phone view.

1. Open TOC and navigate to somewhere in the book.
2. Do an in book search
3. Click on an item in another chapter
4. Remove search term with X in search box
5. View TOC. The original chapter that the search was started in will still be bold. The current Page is displayed correctly, b

[2015-12-07 19:54] RoyEJohnson commented on #1270
Amanda fixed it.

[2015-12-07 19:54] #1270 closed

[2015-12-07 19:56] edwoodward opened #1286 "Header - Too wide on tablet once pinned"
When the header moves up and is pinned on a tablet, the next button moves slightly off screen.

![tablet header](https://cloud.githubusercontent.com/assets/1394695/11638029/4a350378-9cea-11e5-9eba-a2891cc30a9b.png)

[2015-12-07 20:03] edwoodward commented on #1286
Related to this is that the title is hidden when the page is pinned on a small device.

[2015-12-07 20:06] edwoodward commented on #1286
The issue does not happen on a phone.

[2015-12-07 21:58] edwoodward commented on #1284
This is fixed on demo.

[2015-12-07 21:58] #1284 closed

[2015-12-08 20:16] edwoodward opened #1289 "TOC - Auto scrolls to bottom of page"
Select any content, open the TOC and select something at the top of the TOC. The TOC will scroll at least to the middle of the TOC. This is happening in Chrome and Firefox on OSX and Windows.

[2015-12-08 20:18] edwoodward opened #1290 "Ask Us button is missing text in IE11"
The green Ask Us button displays, but the "Ask Us" text is missing.

[2015-12-08 20:58] #1289 closed

[2015-12-08 21:04] RoyEJohnson commented on #1254
This should be ready to close.

[2015-12-17 20:53] #1286 closed

[2015-12-18 10:48] #1231 closed

[2015-12-18 10:50] #1254 closed

[2015-12-18 11:34] #1290 closed

[2016-01-04 19:36] reedstrm opened #1335 "Books without pages display 404"
As reported by Dick Baldwin, versions of books without pages, such as:

http://cnx.org/contents/c9c9bdca-4281-4152-b347-d891e886a3dc@1.1

display a 404. Webview could handle this case, by using a special error code when there's no page in the collection json, then special-case rendering that (give access to book metadata, but a 'This book contains no pages' message)

[2016-01-05 15:25] #1335 closed

[2016-01-06 20:40] edwoodward opened #1341 "Editor - Javascript error when adding a new page or when deriving a page in a Book"
On dev.cnx.org, I opened a derived copy of an existing book and clicked the green "Make editable copy" button on a page. The editor did not load and there was an error in the console

I also tried adding a new page to a Book with published content and got the same Javascript error. Editing a Page by itself or editing a Book with all unpublished Pages seems to work fine.

[2016-01-06 23:02] #1341 closed

[2016-01-07 09:00] karenc opened #1343 "Title search fails when it includes a question mark"
Original ticket: Connexions/cnx-archive#301

----

@edwoodward:
I did a search for the title "What Is Consciousness?" The page blinked, but did nothing. I removed the question mark and it worked as expected.

@karenc:
This appears to be a webview bug. I went to the advanced search page and did a title search for "what is consciousness?", it went to http://cnx.org/search?q=title:%22what%20is%20cons

[2016-01-07 14:44] edwoodward opened #1344 "Archor links are under header"
This was reported by Richard Baldwin

Go to http://cnx.org/contents/mNJTwIBE@35.51:c-n7XnXf@5/Dsp00095-Preface-to-Digital-Si

Open the Contents

Select the item that reads "3 Plotting Data"

Select
3.1 Java1468-Plotting Engineering and Scientific Data using Java

Under "Table of contents", select Listings

Note that the view does not land on the local anchor that reads "Listings". Instead it lands

[2016-01-07 17:28] #1344 closed

[2016-01-07 17:35] #1343 closed

[2016-01-08 19:52] edwoodward opened #1348 "Editor - Image Plugin - cannot add more images after initial save"
This was reported by Michael Moravec

I have come across a bug, in which I am not able to add another image to a multi-image figure which I created a few days ago.

For example, on this page (http://beta.cnx.org/contents/100d968c-b9a5-4969-8d9e-8a591c08c178@draft/Plotting-Discrete-Time-Signals) I have made several figures. But I am only able to add additional images (i.e., the blue plus sign shows

[2016-01-26 14:14] edwoodward opened #1356 "Figure number is left justified when there is no caption"
When a figure does not have a caption, the numbering is left justified which looks incorrect. For examples, see http://cnx.org/contents/SlHEEDcW@20/Adding-Multimedia-to-Your-Conn

**Figure without a caption**
![screenshot from 2016-01-26 08 12 44](https://cloud.githubusercontent.com/assets/1394695/12582748/9e7b45a0-c404-11e5-95f3-4aa2ddfa27fd.png)

**Figure with a caption**
![screenshot from 2016-

[2016-01-26 15:56] RoyEJohnson commented on #1356
I have put in a pull request that treats non-caption figure labels the same as captioned ones, so they're centered under the image regardless. Is that the desired behavior?

[2016-01-26 15:57] RoyEJohnson commented on #1356
Somewhat bizarrely, the PDF has almost the opposite layout.

![screen shot 2016-01-26 at 9 57 00 am](https://cloud.githubusercontent.com/assets/7315241/12585801/36367410-c413-11e5-92fa-08614700b378.png)
![screen shot 2016-01-26 at 9 57 12 am](https://cloud.githubusercontent.com/assets/7315241/12585802/36397c78-c413-11e5-8d19-2ddb21b0900d.png)

[2016-01-27 02:27] pandafulmanda opened #1359 "Weird floating scrollbar from sidebar"
![screen shot 2016-01-26 at 8 23 35 pm](https://cloud.githubusercontent.com/assets/2483873/12601967/34a90c68-c46b-11e5-9a96-e11320fc54a7.png)

Happens after you open and close sidebar
I am unsure if this is only for the latest Chrome?

[2016-01-27 12:45] RoyEJohnson commented on #1359
Not on PC (Chrome 47 or 48.0.2564.82 m).

[2016-01-27 13:36] edwoodward commented on #1356
I think so.

On 01/26/2016 09:56 AM, Roy Johnson wrote:

[2016-01-28 15:39] #1356 closed

[2016-01-29 04:14] pandafulmanda commented on #1359
appears to only happen with latest chrome?  or in situations where the toc is in the pinned state -- the content has been scrolled to hide the top menu

[2016-01-29 11:23] #1359 closed

[2016-02-02 14:19] edwoodward opened #1367 "Wrapped anchor text is not scrolled to correctly"
In this Page

http://cnx.org/contents/p8e91Qcm@6/Itse1359-1420-Understanding-se#Class_methods_versus_instance_methods

Click on any of  the links at the top of the page. The scrolling behavior is as expected the first time. Any other time, it scrolls beyond the title.

[2016-02-02 15:45] edwoodward commented on #1367
Looking at the same content in Firefox, fixing the wrapping does not solve the scroll location. It did fix it in Chrome. I might not be editing correctly in Firebug which might also be a factor.

[2016-02-02 18:48] RoyEJohnson commented on #1367
Extra weirdness: Initially, it scrolls beyond the title. Scroll up to the top, click a different link, then scroll back up and click the problem link, and it works. Clicking the problem link multiple times does not fix it, but clicking a different link and then the problem link worked for me in Firefox, Safari, and Chrome.

[2016-02-05 16:46] pandafulmanda opened #1376 "Check GA Tracker Naming"
#1375 and #1377 made an update to the GA tracker name.  Check whether we need this to be something specific and/or pull this out into a config

[2016-02-05 18:48] philschatz opened #1378 "Add sourcemaps to all builds (including production)"
This would allow the dev instance to run much faster and allow debugging on production.

The code is already open-source and the _only_ overhead is a 10-character comment at the end of the minified JS file.

Plus, it could help get people on the internet to fix bugs or maybe learn some coding :smile:

related: openstax/tutor-js#916

[2016-02-09 22:00] RoyEJohnson commented on #1367
This fix is languishing.

[2016-02-10 13:55] edwoodward commented on #1367
I noticed it earlier in the week. I was waiting on today's rollout
before getting someone to merge it. Once  they roll out the Ask Us
button fix, we can merge it.

Ed

On 02/09/2016 04:00 PM, Roy Johnson wrote:

[2016-02-11 20:49] edwoodward opened #1383 "Editor - cannot derived a copy of a Book on beta.cnx.org"
This was first reported by Kajal

Tried to derive a Book on beta.cnx.org - http://beta.cnx.org/contents/2d29dab3-23f7-4472-9b33-5bd29d19498b@5.68

 and got the following error message

[2016-02-12 18:12] #1367 closed

[2016-02-19 16:52] edwoodward commented on #1236
Tools tab no longer exists so closing

[2016-02-19 16:52] #1236 closed

[2016-02-24 17:34] #1378 closed

[2016-03-15 15:55] reedstrm opened #1393 "Improve mobile view of content on http://cnx.org"
- **Urgency:**           medium
- **Expected Due Date:** 8/20/2016
- **Type of Request:**   Feature
- **Requestor:**         @reedstrm
### Explain reason for due date

We expect to rollout changes (CTE) that will
bring out PDF and web formats in better alignment by the beginning of the
summer. This has been seen as a major hurdle for use of the website by
students in classes that have adopted one

[2016-05-31 21:06] edwoodward opened #1408 "Link to a figure in another page does not land on correct location"
from Richard Baldwin

Please go to http://cnx.org/contents/5sRB9gpG@5.3:GHIZVlcF@2/Json0220-Decoding-JSON-Strings

Scroll down to the sentence beneath Figure 1.

Click on the link to Figure 1 in the sentence that reads:

The contents of the JSON strings for this same data were displayed in Figure 1 of the earlier page titled Json0215: Encoding JSON Strings .

Note that control doesn't land where i

[2016-06-01 13:53] edwoodward opened #1410 "Page History link using Book id"
In the History tab at the bottom of any content page, the Page link is pointing to the Book id rather than the page id. This causes a 404.

[2016-08-03 11:54] edwoodward opened #1442 "Workspace - query on "Recently Published" is malformed"
The query string used when the "Recently Published" button is selected is missing the author id

[2016-08-12 20:50] reedstrm commented on #1408
I see this one landing correctly: it positions 'Figure 1' (the label) directly below the page header.

[2016-09-09 18:13] helenemccarron opened #1450 "Link to an anchor from composite page"
When targeting an anchor on a composite page, the links doesn't take you to the anchor itself but to the top of the page.

For example, clicking on ex. 4 in chapter 4 takes you to the top of the answer key page and not to the chapter 4 exercise 4 anchor (lower on the page).
http://cte-cnx-dev.cnx.org/contents/aWGdK2jw@11.330:S_xJI5Er@1/Self-Check-Questions

The url is correct and loads correctly o

[2016-11-04 14:12] reedstrm opened #1471 "ALINA RETEST TeX math not converted when exercises pulled in"
When webview pulls in exercises from exercises.openstax.org, the code to tell mathjax to convert the included TeX math is not firing correctly. See: http://cnx.org/contents/bDIuMp-w@1.1:XwiMLb76@2/Synthesis-of-Biological-Macrom#fs-id1425951

![d0347078-a26e-11e6-83aa-c944de55029b](https://cloud.githubusercontent.com/assets/253212/20008993/b8b11fb2-a270-11e6-8b2f-d0c39249cd6c.png)

[2016-12-09 17:36] chouston31 opened #1475 "Android App Link on legacy.cnx.org give a 404 error"
If you click on the android app link on http://legacy.cnx.org/   you get redirected to a 404 error on cnx.org
<img width="1280" alt="screen shot 2016-12-09 at 11 01 34 am" src="https://cloud.githubusercontent.com/assets/17411988/21058438/8f87ae7c-be03-11e6-9634-aca600ae2357.png">
<img width="1147" alt="screen shot 2016-12-09 at 11 02 05 am" src="https://cloud.githubusercontent.com/assets/17411988/

[2016-12-12 14:19] edwoodward commented on #1475
Fixed in https://github.com/Rhaptos/Products.CNXPloneSite/pull/3

[2017-04-13 18:16] Stackblocks commented on #1475
Now navigates correctly to https://play.google.com/store/apps/details?id=org.cnx.android

[2017-04-13 18:16] #1475 closed

[2017-06-07 22:50] philschatz opened #1547 "use yarn instead of npm install to have precise versions"
This is a recurring problem: "It builds fine for me, what packages did you build with?"

Yarn makes sure we all use the same versions of packages. It's similar to a `Gemfile.lock` in ruby land

/cc @reedstrm because of the frustration this causes.

[2017-06-08 13:57] reedstrm commented on #1547
I thought bower (and bower.json) was supposed to handle that? Or is there an issue where that only controls direct dependencies, those may drag in other things in a less constrained way?

[2017-06-08 14:36] RoyEJohnson commented on #1547
A comparison: https://www.slant.co/versus/5094/17851/~bower_vs_yarn

[2017-06-08 21:09] edwoodward commented on #1040
No longer using Zendesk, so closing

[2017-06-08 21:09] #1040 closed

[2017-06-08 21:16] edwoodward commented on #1245
Cannot reproduce. Closing.

[2017-06-08 21:16] #1245 closed

[2017-06-08 21:18] edwoodward commented on #1070
Closing since this has not gone into further discussion in 2 years

[2017-06-08 21:18] #1070 closed

[2017-06-08 21:20] edwoodward commented on #1032
With the new index, this is no longer an issue. Closing

[2017-06-08 21:20] #1032 closed

[2017-06-12 21:04] kerwinso opened #1553 "Book/page author displayed as TAKE() on dev"
Go to any book on dev.cnx.org, e.g. Biology: https://dev.cnx.org/contents/GFy_h8cu@10.61:fVAf83sY@12/Preface-to-Biology

Look at the `Book by:` and `Page by:` attributions near the top right of the page. The author is listed as `TAKE()`. There is also a pipe character `|` pre-pended to the attribution string.

Dev (left) compared to production (right):

![image](https://user-images.githubuserconte

[2017-06-15 16:54] reedstrm commented on #1553
Took this to Katalyst, they recommend pinning to l20n v < 5 I thought @phil had a PR for that, but I can't find it.

[2017-06-15 17:25] philschatz opened #1554 "use absolute paths in nginx.development.conf"
Newer versions of nginx require an absolute path.

We would need to add a new task to grunt that:

1. takes a template file and fills in the absolute path (and port?) and saves it as `nginx.development.conf`
2. runs `grunt nginx:start`

It would probably be run by running `npm start`

[2017-06-15 18:01] kerwinso commented on #1450
Also see https://trello.com/c/HTRKJnP1/131-bug-cannot-link-to-id-in-webview, currently in progress.

[2017-06-15 20:38] reedstrm commented on #1554
Perhaps do it as part of grunt dist, then provide both compiled and dev on diff ports

[2017-06-16 15:32] kerwinso commented on #1553
@reedstrm I noticed this problem on tea.cnx.org as well. I'm concerned this bug will make it into the final deployment. Should this be a requirement for assignable webview?

[2017-06-16 16:39] reedstrm commented on #1553
@kerwin it's a fairly simple deployment issue. We just need to pin the version of a dependency.

[2017-06-19 14:00] reedstrm commented on #1554
The absolute path thing is truly annoying - it even applies to the argument to the `-c` option, so I have to call it as `nginx -c "$PWD"/nginx.development.ini`

[2017-06-19 17:09] philschatz commented on #1553
Something like https://github.com/Connexions/webview/commit/c8c79299512c6c67ffa4f89f4526dc544b5db31d . I'll make a PR

[2017-06-22 20:23] #1553 closed

[2017-07-06 19:42] kerwinso opened #1569 "Make equations numbers display on the same line as the equation"
(Found while testing [University Physics](https://qa.cnx.org/contents/1Q9uMg_a@5.22:Bioz__AG@5/25-Products-of-Vectors) on qa.cnx.org for https://github.com/Connexions/cnx-recipes/issues/275.)

Currently, numbered equations display their number on a separate line. Alina has requested that the number display on the same line as the equation.

![image](https://user-images.githubusercontent.com/112981

[2017-07-07 18:28] kerwinso commented on #1569
Addressed in PR #1570

[2017-07-12 21:14] kerwinso commented on #1569
Verified fix on https://qa.cnx.org/contents/1Q9uMg_a@5.22:Bioz__AG@5/25-Products-of-Vectors, on webview sha `1a4d6a55fac2f3beac9eb80f7ec93370c84269f1`.

Equation numbers are bold, aligned right, and display on the same line as the equation.

![image](https://user-images.githubusercontent.com/11298165/28140177-e0dc31d6-671c-11e7-900b-5521476e7f90.png)

[2017-07-12 21:14] #1569 closed

[2017-07-18 20:19] kerwinso opened #1575 "clicking anchor link in book page reloads entire page in the browser"
While testing PR https://github.com/Connexions/webview/pull/1562 on Chrome 59 incognito OS X El Capitan, I noticed a bug. To reproduce:

1. Go to https://qa.cnx.org/contents/GFy_h8cu@10.115:pPjfgsd4@10/23-Water (Biology, chapter 2.2, 'Water')

2. Click this footnote link:
![image](https://user-images.githubusercontent.com/11298165/28337741-43b59f14-6bcc-11e7-80b2-1654607b6027.png)

3. Notice the e

[2017-08-04 19:56] kerwinso opened #1578 "footnote reference links broken"
(spin-off of #1575, found while testing #1577)

1. Go to https://qa.cnx.org/contents/GFy_h8cu@10.115:pPjfgsd4@10/23-Water (Biology, chapter 2.2, 'Water')

2. Click this footnote link:
![image](https://user-images.githubusercontent.com/11298165/28337741-43b59f14-6bcc-11e7-80b2-1654607b6027.png)

This will jump to the bottom of the page where the Footnotes are listed.

3. Next, click on either of th

[2017-08-04 19:58] kerwinso commented on #1575
Footnote links no longer reload the page, thanks to https://github.com/Connexions/webview/pull/1577. Closing this issue as fixed.

However, I did notice a regression, so I opened a new issue for that: #1578.

[2017-08-04 19:58] #1575 closed

[2017-08-04 21:07] kerwinso opened #1579 "Inconsistent hash link behavior in Statistics"
While testing #1577, I found this weirdness in Statistics:

1. go to https://qa.cnx.org/contents/MBiUQmmY@18.55:rDfDV_m8@18.55/Homework
2. scroll down to question 74 about the tires. click on it. sometimes i get the top of the Solutions page, sometimes it jumps to the correct solution.
3. if you do jump to the correct place, click 74 again. you’d expect it to jump back to the question number, but

[2017-08-11 15:11] kerwinso commented on #1578
Verified fix on https://qa.cnx.org/contents/GFy_h8cu@10.115:pPjfgsd4@10/22-Water on `fix-reload` branch, commit `30f6fab` from https://github.com/Connexions/webview/pull/1577.

[2017-08-11 15:11] #1578 closed

[2017-08-11 18:31] kerwinso commented on #1579
Verified fix on`fix-reload` branch, commit `30f6fab` from https://github.com/Connexions/webview/pull/1577.

[2017-08-11 18:31] #1579 closed

[2017-09-15 16:56] reedstrm opened #1585 "Implement mathml reading w/ explorer.js"
Currently Vox (and other screen readers) skip the math
The explorer.js plugin as used here:
https://github.com/openstax/tutor-js/pull/1902/files
enables good reading.

[2017-11-07 18:15] pumazi opened #1588 "User thinks they need to pay for a book when "Download for Free" is greyed out"
## The problem as reported
A student/user believes they need to pay for "Introduction to Sociology" after having clicked to [download the PDF](https://cnx.org/donate/download/afe4332a-c97f-4fc4-be27-4e4d384a32d8@7.23/pdf). This is because the "Download for Free" button is not active right away when the user navigates to the page.

## Acceptance Criteria
-"Download for Free" button loads when the p

[2017-11-07 18:17] pumazi commented on #1588
Technically, the "Download for Free" button becomes active after 5-8 seconds. But that's like an eternity today.

My suggestion would be to **make the button active but less prominent**. This is similar to what sites do with ads before you are able to see an article.

[2017-11-07 19:00] kerwinso commented on #1588
Related Trello card: https://trello.com/c/yMAkLZOI/133-user-thinks-they-need-to-pay-for-a-book-when-download-for-free-is-greyed-out

[2017-11-15 21:52] reedstrm opened #1589 "Collapse header on mobile when scrolling on mobile"
We desperately need to collapse the header on scrolling  - it currently takes 1/4 - 1/2 the screen!

[2017-11-15 21:53] reedstrm opened #1590 "Enable horizontal scroll on mobile (tables)"
Tables in general need better layout on mobile. Some could probably reflow to viewport width, but for those that can't  we need to be able to scroll sideways!

[2017-11-16 17:47] kerwinso commented on #1589
I think this is a related Trello card: https://trello.com/c/u4pwBB64/178-the-title-toc-and-search-bar-banner-on-top-of-each-book-is-too-intrusive

[2018-01-19 12:24] aiwenar opened #1591 "Notes with @type have unstyled labels"
Compare those `<note type="warning">` and `<note class="check-understanding">`:

![spectacle t26340](https://user-images.githubusercontent.com/385442/35150787-fb8407ee-fd1b-11e7-8596-cbc6331f5d74.png)

[2018-01-31 15:23] apienk opened #1594 "Unwanted markup in page attribution tab"
![image](https://user-images.githubusercontent.com/9961826/35630898-ce1b745a-06a2-11e8-9084-4a6ca04183d8.png)

Notice `<span>` element in the first line of the bulleted list.

[2018-01-31 15:30] apienk opened #1595 "Bad placement of images in Problems section"
![image](https://user-images.githubusercontent.com/9961826/35631230-a6266c6a-06a3-11e8-84ce-0ac3fb412b7a.png)
When the last line of preceding `<para>` is short image tends to be inserted inline.

Example link: https://cnx.org/contents/1Q9uMg_a@9.1:KZu_UBk-@9.1/Chapter-Review (scroll down to Problems)

[2018-01-31 15:37] apienk opened #1596 "Escape codes instead of letters in Table of Contents at OpenStax.org"
![image](https://user-images.githubusercontent.com/9961826/35631493-5532b0b0-06a4-11e8-869f-e60cea694c70.png)

Navigate to: https://openstax.org/details/books/fizyka-dla-szkół-wyższych-polska

The beginning should look like this:

1. Jednostki i miary
  1.1. Wstęp
  1.2. Zakres stosowalności praw fizyki
  1.3. Układy jednostek miar

[2018-02-06 15:06] reedstrm commented on #1591
Fixed, and deployed:

https://cnx.org/contents/TqqPA4io@1.1:ATZlJC9S@4/41-Przemieszczenie-i-prdko#eip-654
![screenshot from 2018-02-06 09-05-05](https://user-images.githubusercontent.com/253212/35866523-0499887c-0b1d-11e8-95bf-819c26e4665a.png)

[2018-02-06 15:20] reedstrm commented on #1594
Oy, worse than that: the given URL is bogus, since this is a composite page, it only exists in a book context, so that URL will currently 404.

[2018-02-06 15:45] aiwenar commented on #1595
I had a look at the generated code, and it's simply a case of `<img>`s begin `display: inline` by default (why, w3c, why?). The simplest fix would be to add the following to book stylesheet

[code]

[2018-03-06 10:45] tomekstach opened #1601 "Too many different links, to the same page in a book, is sent to Google Analytics"
Google Analytics should receive only canonical links - now, GA receives all versions of link to the single page in the book.

The problem is with too early sending requests to the GA. `canonicalizePath` in the *src/scripts/modules/media/body/body.coffee* do a replace previous URL with the canonical path in the end of everything - because earlier it doesn't know that `canonicalPath` is not in `curr

[2018-03-06 16:49] tomekstach commented on #1601
https://github.com/tomekstach/webview/commit/aa663f6067894056f498fd85da224ce00070fbde

I've did only two changes:

1. I added request to the `trackAnalytics` in the end of `canonicalizePath` in the *src/scripts/modules/media/body/body.coffee*
2. I removed `@listenTo(@model, 'change:googleAnalytics', @trackAnalytics)` from the *src/scripts/modules/media/media.coffee*

And it works: request to the G

[2018-03-23 21:31] Dantemss opened #1607 "Feature request: allow changing in-book search results order"
Would be nice to have a way to toggle the in-book search to sort by relevance. This info is already returned in the search results (and they seem to come pre-sorted), so this change could happen entirely in the frontend.

[2018-03-23 22:17] kerwinso commented on #1607
feel free to open a PR @Dantemss ;)

[2018-03-29 20:40] Stackblocks opened #1609 "Answer Key entries on new line after number"
# **Description of the issue**
In the Answer Key, answers are appearing on the line below the associated numbers.

# **Screenshots**
![image](https://user-images.githubusercontent.com/12678235/38112360-4f49e502-3367-11e8-8c17-f5bf97789f02.png)

# **Impact**
-   [col23873](https://devb.cnx.org/contents/WUj6TfJ0@5.1:pOpsYFzJ@5.1/Answer-Key) Answer Key

[2018-03-29 22:05] kerwinso opened #1610 "books page is in: link to book is longer than 2 lines"
## Acceptance Criteria:

## Bug:
On https://dev.cnx.org/contents/xelFKBHs@6/Systems-Development-Life-Cycle, the book link expands to 3 lines. Acceptance criteria is 2 lines max.

![image](https://user-images.githubusercontent.com/11298165/38115795-04581300-3373-11e8-8d2a-1865a296f0ab.png)

[2018-03-29 22:05] kerwinso commented on #1610
I need to verify this is happening on the qa server after deploy.

[2018-03-30 16:44] kerwinso commented on #1610
yup, still there on https://qa.cnx.org/contents/xelFKBHs@6/Systems-Development-Life-Cycle:

![image](https://user-images.githubusercontent.com/11298165/38145582-a10f0126-340f-11e8-96fe-bb8ec806073c.png)

(you can also see the varnish caching issue in this screenshot)

[2018-03-30 16:50] kerwinso opened #1611 "Flicker bug test (QA checklists)"
Regression testing for https://github.com/Connexions/webview/pull/1608.

Try these variations of URL's in Chrome, FireFox, Safari:

# Chrome
- [x] [just a Book uuid, with version](https://staging.cnx.org/contents/afe4332a-c97f-4fc4-be27-4e4d384a32d8@7.20)
- [x] [just a Book uuid, no version](https://staging.cnx.org/contents/afe4332a-c97f-4fc4-be27-4e4d384a32d8)
- [x] [just a Book shortid, with ver

[2018-03-30 17:03] kerwinso opened #1612 "caching issue: `textbook-view-*` elements showing instead of UI buttons & links"
Should be addressed by https://github.com/Connexions/cnx-deploy/pull/535 upon deployment.

![image](https://user-images.githubusercontent.com/11298165/38146118-2c1c33cc-3412-11e8-86ad-f4de847d0b6f.png)

![image](https://user-images.githubusercontent.com/11298165/38146121-2fa486ac-3412-11e8-94d3-5663bbd62d5f.png)

[2018-03-30 17:04] kerwinso commented on #1612
Need to request another rev and deploy of cnx-deploy

[2018-03-30 17:52] reedstrm commented on #1612
Fixed in https://github.com/Connexions/cnx-deploy/pull/535

[2018-03-30 17:57] reedstrm commented on #1612
For future deploys, at least. For this one, browsers are likely to cache the dictionary file for
`(now - Last-Modified)*0.1` i.e. 10% of the apparent age of the page, in this case `dictionary.ftl` has a Last-Modified date of: `Thu, 15 Mar 2018 19:16:24 GMT`, so approx 2 days worst case, assuming an April 9 rollout

[2018-03-30 18:06] philschatz commented on #1610
I think that adding in ellipses is only possible if the text is one line long. 2 lines with ellipses is not possible. Given that, is it better to have one line or 3? (who should I ask @reedstrm ?)

Here it is with one line:

![image](https://user-images.githubusercontent.com/253202/38148220-83827c6e-3423-11e8-8fbd-3ab46bb4b56a.png)

[2018-03-30 18:09] reedstrm commented on #1610
Style already in the pull-request, it just wasn't applied to the div. I added the class in #1613  Locally, it seems to DTRT:
![image](https://user-images.githubusercontent.com/253212/38148312-867c56d6-341b-11e8-9e03-fa2580bd34eb.png)

[2018-03-30 18:10] philschatz commented on #1612
@reedstrm If we wanted to be safe, does that mean we could deploy the existing code that is on production and then, 2 days later, deploy the new code?

Or does that mean we will always need to deploy the `dictionary.ftl` 2 days in advance?

[2018-03-30 18:11] reedstrm commented on #1610
one line at the narrow width leads to lots of "Derived copy of …" or "The title of parent book …" etc. Critical distinguishing info chopped off.

[2018-03-30 18:20] philschatz commented on #1610
Reopened to let @kerwinso confirm 😄

[2018-03-30 19:22] kerwinso commented on #1610
Appears to be working on qa server, need to check again on staging when webview is revved and re-deployed.

![image](https://user-images.githubusercontent.com/11298165/38150655-a639fd0c-3425-11e8-908f-befa7e5fa96c.png)

[2018-03-30 19:49] kerwinso commented on #1610
However as expected, the 2 lines max constraint does not apply in Firefox. Looks like you get the whole shebang.

![image](https://user-images.githubusercontent.com/11298165/38151586-8583c580-3429-11e8-9258-9e43a7889be4.png)

[2018-03-30 20:20] kerwinso opened #1614 "books page is in: "Go to book" link doesn't work"
# Acceptance Criteria

# Bug
This link doesn't work.

1. Go to https://qa.cnx.org/contents/v4eUAFAP@3/Civil-Rights-for-Indigenous-Gr
1. In the left pane, under "This page is in 2 books", click 'Derived copy of American Government' (https://qa.cnx.org/contents/D8lx5QEw@1.3:v4eUAFAP@3). That link works.
1. At the bottom of the left pane, click 'Go to book' (https://qa.cnx.org/contents/D8lx5QEw@1.3).

[2018-03-30 20:27] kerwinso opened #1615 "books page is in: add a colon to messaging "This page is in this/_n_ book[s]""
### Request 1:
A page that is in >1 book should display the messaging:
`This page is in 2 books:` (with colon)
Currently it's:
`This page is in 2 books` (no colon)

### Request 2:
A page that is in only 1 book should display the messaging:
`This page is in this book:` (with colon)
Currently it's:
`This page is in this book` (no colon)

![image](https://user-images.githubusercontent.com/11298165/38

[2018-04-02 13:45] reedstrm commented on #1612
Once this code is out, we're good - `dictionary.ftl` will follow along with `main.js` and `settings.js`. The idea of doing a bug-fix point release of cnx-deploy with just the varnish change is an excellent one - get the updated caching behavior out there _before_ the code change exposes it.

[2018-04-02 14:27] reedstrm opened #1618 "setup cache-control and versioned filenames for minified JS"
Currently, webview has a one-hour caching lifetime for the 2 (soon to be 3) primary files that the browser needs to render the site: scripts/main.js, scripts/settings.js. and locale/[your-locale-here]/dictionary.ftl There is _no_ cache-control set for index.html, which hard codes the path to scripts/require.js, which is also currently not cache-controlled.

This will continue to work for deploymen

[2018-04-02 15:12] kerwinso commented on #1612
We are doing a hotfix so this bug will never be exposed to users. cnx-deploy will be revved off the latest production release, with the change in https://github.com/Connexions/cnx-deploy/pull/535/files added to it, to create this bug fix tag: https://github.com/Connexions/cnx-deploy/releases/tag/v2.12.7.

This will then be verified on staging, and rolled out to prod.

[2018-04-02 15:55] kerwinso commented on #1610
This is what it looks like in Edge, Windows 10. In addition to >2 lines, the bullets are misaligned:

![image](https://user-images.githubusercontent.com/11298165/38203294-5d0fe808-3664-11e8-998a-1e7a392ab8ae.png)

[2018-04-02 17:48] kerwinso commented on #1618
Ross asking @philschatz for input

[2018-04-02 18:54] kerwinso commented on #1614
Works on qa now.

[2018-04-02 18:54] #1614 closed

[2018-04-03 14:59] kerwinso opened #1620 "UX: 'This page is in books' loading message in blank pane looks like a bug"
https://staging.cnx.org/contents/6AjDYAxi@16/Composizione-Grafica-in-Proces

![image](https://user-images.githubusercontent.com/11298165/38257269-887dde02-3725-11e8-9af8-48e5283958ca.png)

## wait for it...
![image](https://user-images.githubusercontent.com/11298165/38257289-9072a8a4-3725-11e8-864c-38ed18d4618e.png)

[2018-04-03 15:14] reedstrm commented on #1620
@sisiz Here's the bug.

[2018-04-03 18:30] kerwinso commented on #1610
The decision of the team was to remove this constraint because it doesn't work consistently across browsers, looks bad in Edge, and may hide important info in the title.

This new criteria was tested on the qa server with a collection with a reeeeally long title (https://qa.cnx.org/contents/BWYBGK7C@2/Executive-Summary) and passed.

![image](https://user-images.githubusercontent.com/11298165/38268

[2018-04-03 18:30] #1610 closed

[2018-04-03 18:31] kerwinso commented on #1612
I want to verify this fix is working on prod before I close this issue.

[2018-04-03 18:32] kerwinso commented on #1620
https://trello.com/c/7XpChr94/436-ux-this-page-is-in-books-loading-message-in-blank-pane-looks-like-a-bug

[2018-04-03 21:58] kerwinso commented on #1611
Need to test on staging when it's updated.

[2018-04-03 22:04] kerwinso commented on #1620
Looks good on qa server. The loading pane updates so fast I recorded a video/animated gif of what it looks like loading this page: https://qa.cnx.org/contents/yWshIYVW@1/How-Changes-in-the-Cost-of-Liv

Watch the left pane closely:

![1620](https://user-images.githubusercontent.com/11298165/38278160-84809b38-3760-11e8-8265-36cb5514429b.gif)

In any event, definitely an improved user experience.

[2018-04-03 22:04] #1620 closed

[2018-04-04 16:57] kerwinso commented on #1620
FYI, this is what it looks like on staging during those 3-4 seconds of loading time. The left pane is blank but open:

![image](https://user-images.githubusercontent.com/11298165/38322150-37013a44-37ff-11e8-8828-ac96531fc1a9.png)

cc @openstaxalina in case you want to consider a different user experience with Fred (e.g., default books list closed)

[2018-04-04 18:43] kerwinso opened #1626 "books page is in: reducing browser width causes page content to disappear"
1. Visit any page like this one: https://staging.cnx.org/contents/4fGVMb7P@1/Taboo-language-and-slanguage
2. Keep shrinking the browser width until it goes from this:

![image](https://user-images.githubusercontent.com/11298165/38327455-e1030a82-380d-11e8-8667-57fb2a5c42de.png)

to this:

![image](https://user-images.githubusercontent.com/11298165/38327555-1ee9dbfa-380e-11e8-9177-f8d8ef4425d2.png)

[2018-04-04 18:57] kerwinso commented on #1626
Not a showstopper for initial release.

[2018-04-04 20:34] reedstrm commented on #1626
Note that this only happens when you resize, not when you visit a page originally at a small size: we don't start w/ the book-list open if the window is too narrow. The "content goes away" the same way if you have the table of contents open and resize down.

[2018-04-05 15:00] kerwinso commented on #1611
All testing passed.

[2018-04-05 15:00] #1611 closed

[2018-04-09 21:42] kerwinso commented on #1612
Verified on prod

[2018-04-09 21:42] #1612 closed

[2018-04-10 16:31] brittany-johnson opened #1627 "Find way to not include <p> for inline solutions"
In reference to https://github.com/Connexions/webview/pull/1625

Problem: if we set the solutions to display inline, we may encounter a problem if the solution runs over more than 1 line.

[2018-04-10 20:42] Stackblocks commented on #1609
Displaying correctly with new code.

![image](https://user-images.githubusercontent.com/12678235/38582540-b03a4e84-3cd5-11e8-8d7c-c5a4095126e7.png)

[2018-04-10 20:42] #1609 closed

[2018-05-07 07:55] tomekstach commented on #1601
@philschatz Wojtek has sent me a two more links:

- [documentation](https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications)
- [pageVisibilityTracker](https://github.com/krisu7/autotrack/blob/master/docs/plugins/page-visibility-tracker.md)

[2018-05-07 21:53] philschatz commented on #1601
Oh nice! Both options (using the [autotrack](https://github.com/googleanalytics/autotrack) project and the `urlChangeTracker`) seem promising. I can try creating a Pull Request (or 2) so folks can evaluate and try it out.

[2018-05-08 17:09] philschatz commented on #1601
Ah, I misunderstood. I think that the `urlChangeTracker` plugin in `autotrack` will still send multiple pageview events since the URL changes multiple times.

Also, it seems like there is no easy way to add/remove tracking codes when the content changes. Currently, we explicitly call the `pageView` event for all the tracking codes for a piece of content. With `autotrack` it seems like we would nee

[2018-05-08 19:55] tomekstach commented on #1601
Yes, you are right - but in the documentation I've found part [Customizing what is considered a URL change](https://github.com/googleanalytics/autotrack/blob/master/docs/plugins/url-change-tracker.md#customizing-what-is-considered-a-url-change). Maybe this is a right solution for the problem with redirects (customizing when the request should be send to GA).

You are right about add/remove trackin

[2018-05-09 22:25] #17 closed

[2018-05-09 22:26] #31 closed

[2018-05-09 22:26] #299 closed

[2018-05-09 22:30] #1097 closed

[2018-05-09 22:31] openstaxalina commented on #1148
Has this been fixed with recipes?

[2018-05-09 22:31] #1188 closed

[2018-05-09 22:32] openstaxalina commented on #1189
We removed the link to the devblog.

[2018-05-09 22:32] #1189 closed

[2018-05-09 22:33] openstaxalina commented on #1205
resolved with above PR; closing

[2018-05-09 22:33] #1205 closed

[2018-05-09 22:34] openstaxalina commented on #1235
music does not play now when visiting the page on qa.cnx.org.  closing

[2018-05-09 22:34] #1235 closed

[2018-05-09 22:34] openstaxalina commented on #1376
@philschatz thoughts on this?  Is it at all related to your ongoing work with GA?

[2018-05-09 22:35] openstaxalina commented on #1393
Addressed with https://github.com/Connexions/webview/pull/1628, closing

[2018-05-09 22:35] #1393 closed

[2018-05-09 22:36] #1408 closed

[2018-05-09 22:37] openstaxalina commented on #1410
resolved, closing

[2018-05-09 22:37] #1410 closed

[2018-05-09 22:38] openstaxalina commented on #1450
This was fixed with the Trello card Kerwin referenced above.  closing

[2018-05-09 22:38] #1450 closed

[2018-05-09 22:45] openstaxalina commented on #1471
aHA!  Is this still an issue?  Appears to be, at least in some cases...see: https://trello.com/c/reT0cIeF/222-investigate-latex-issue

[2018-05-09 22:46] openstaxalina commented on #1547
@philschatz is this still an issue?

[2018-05-09 22:46] openstaxalina commented on #1554
@philschatz is this still an issue?

[2018-05-09 22:47] openstaxalina commented on #1585
See also: https://trello.com/c/hKibrkht/173-a11y-enable-assistivemml-so-mathml-is-read-by-screenreaders-1

...seems like AssistiveMML is an alternative.
Whoever works on the AssistiveMML card may want to look at explorer.js as well/instead.

[2018-05-09 22:48] openstaxalina commented on #1589
yep, this is done

[2018-05-09 22:48] #1589 closed

[2018-05-09 22:50] openstaxalina commented on #1590
Accepted change request: https://trello.com/c/QQjOym19/305-enable-horizontal-scroll-on-mobile-tables

[2018-05-09 22:53] openstaxalina commented on #1618
@reedstrm , is this related to https://trello.com/c/jPHr1INO/37-files-do-not-have-a-cache-control-header-so-browsers-will-cache-them?

[2018-05-09 22:54] #752 closed

[2018-05-09 22:55] #653 closed

[2018-05-09 22:56] #538 closed

[2018-05-09 23:00] #1029 closed

[2018-05-09 23:01] #965 closed

[2018-05-10 16:37] philschatz commented on #1376
I do not think this is an issue anymore

[2018-05-10 16:37] #1376 closed

[2018-05-10 16:39] philschatz commented on #1547
This may no longer be an issue since we use tarballs to deploy the code but I think it's still good practice to explicitly update our package dependencies so please leave it open 😄

[2018-05-10 16:40] philschatz commented on #1554
Yes, unfortunately

[2018-05-11 14:10] reedstrm opened #1632 "GoogleAnalytics (SEO) - add authors to page title?"
On cnx.org, we currently build a title as so:
```<page title> - <book title> - Openstax CNX```
For example:
```Energy and Metabolism - Biology - OpenStax CNX```
This is useful for Google Analytics, since the page title is sent and is part of the primary interface for viewing and sorting pages. The "OpenStax CNX" part may or may not be that useful - it is not useful for filtering in GA, since it's

[2018-05-11 15:07] lwtchu opened #1633 "Centered text shows up as a grey bar"
![screen shot 2018-05-11 at 10 02 41 am](https://user-images.githubusercontent.com/11299125/39931253-75fcbe74-5502-11e8-9432-68b138a24b81.png)
PDF **module m65585 1.3 Defining and Entrepreneurial Mindset or Spirit col23876**

![screen shot 2018-05-11 at 10 05 56 am](https://user-images.githubusercontent.com/11299125/39931400-e9bf0c7c-5502-11e8-96e7-bae7b9855468.png)
Webview https://devb.cnx.org/co

[2018-05-22 22:37] Stackblocks commented on #1633
Displaying correctly in updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/40393890-d6cce6b0-5de6-11e8-847e-b503644095eb.png)

[2018-05-24 20:36] Stackblocks commented on #1633
Displaying correctly in updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/40512367-372ef30e-5f68-11e8-8604-516466bebfea.png)

[2018-05-24 20:36] #1633 closed

[2018-05-31 21:55] lwtchu opened #1636 "Improper text wrapping around exercise figures"
https://github.com/Connexions/cnx-recipes/issues/388

Question text wraps incorrectly in some exercises that start with images:

---

![screen shot 2018-05-04 at 3 21 02 pm](https://user-images.githubusercontent.com/28710954/39650856-61a2246c-4faf-11e8-9678-827061a2287a.png)
---
![screen shot 2018-05-04 at 3 20 48 pm](https://user-images.githubusercontent.com/28710954/39650857-61afbb18-4faf-11e8-9

[2018-05-31 21:56] kerwinso commented on #1601
Still finding this while testing on staging after #1630 was merged. The following 3 URLs were tested simultaneously:
- https://staging.cnx.org/contents/65bd3065-1509-46ca-8890-2619bb6e6b24@5
- https://staging.cnx.org/contents/Zb0wZRUJ
- https://staging.cnx.org/contents/Zb0wZRUJ@5

They are being reported to GA as 3 separate URLs:

![image](https://user-images.githubusercontent.com/11298165/4081046

[2018-06-01 15:58] Stackblocks opened #1637 "Headings of different hierarchy are same size"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/390)

![heirarchy weird](https://user-images.githubusercontent.com/33228728/39329483-127d245a-4964-11e8-9dc1-2f5f230d1539.jpg)

[2018-06-01 16:01] Stackblocks opened #1638 "Caption appearing as grey and unclear"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/392)

![grey caption](https://user-images.githubusercontent.com/33228728/39327501-d1db63f4-495d-11e8-8b0c-3e96a2cbc431.jpg)

[2018-06-01 16:02] Stackblocks opened #1639 "Lines on Example boxes not consistent"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/393)

![example double lines](https://user-images.githubusercontent.com/33228728/39324728-d0a914d4-4955-11e8-8518-20ad5bc15708.jpg)

---

@lwtchu commented on [Fri Jun 01 2018](https://github.com/Connexions/cnx-recipes/issues/393#issuecomment-393906541)

@Stackblocks this might be due to the fact that ther

[2018-06-01 16:03] Stackblocks opened #1640 "Table title/caption font are same size as body text"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/394)

<img width="445" alt="screen shot 2018-04-26 at 12 07 00 pm" src="https://user-images.githubusercontent.com/1895432/39320661-6c3421e8-494a-11e8-9c96-4bfbafa419bb.png">

[2018-06-01 16:04] Stackblocks opened #1641 "Feature type/title text is the same size/font as body text"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/395)

# In College Physics
<img width="925" alt="screen shot 2018-04-26 at 11 54 55 am" src="https://user-images.githubusercontent.com/1895432/39320088-b3aa117e-4948-11e8-94da-89775959f36a.png">

---

@hwangange commented on [Tue May 22 2018](https://github.com/Connexions/cnx-recipes/issues/395#issuecommen

[2018-06-01 16:05] Stackblocks opened #1642 "H2 padding uneven"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/396)

# Screenshot 1
end-of-para padding does not balance that after H2s
<img width="597" alt="screen shot 2018-04-26 at 9 51 29 am" src="https://user-images.githubusercontent.com/1895432/39313408-89f6838c-4937-11e8-815c-a612785f2028.png">

# Screenshot 2
![h2 padding](https://user-images.githubusercontent

[2018-06-01 16:06] Stackblocks opened #1643 "Figure caption text same size as body text"
@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/397)

[Example section in College Physics](https://devb.cnx.org/contents/Ax2o07Ul@9.98:HR_VN3f7@3/Introduction-to-Science-and-th)

![intro stats figure text same](https://user-images.githubusercontent.com/33228728/39322071-4af03f86-494e-11e8-9c8d-2009c31e8dee.jpg)

[2018-06-01 16:07] Stackblocks opened #1644 "Answer key has no line breaks"
@nicolasdamiani commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/398)

Answer key doesn't have any line breaks, making it one big block of text.

![screen shot 2018-05-21 at 1 44 12 pm](https://user-images.githubusercontent.com/28710954/40324512-5678977c-5cfe-11e8-9b19-1a1de21a422f.png)

---

@tomjw64 commented on [Mon May 21 2018](https://github.com/Connexions/cnx-r

[2018-06-01 16:09] Stackblocks opened #1645 "Math symbols styled incorrectly"
@JoseEscalante6 commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/401)

Ellipsis appears as three large dots rather than three periods
In the Descriptive Statistics Chapter (2) Geometric Mean Section (5)
This is a recurring issue throughout the book

![screenshot 16](https://user-images.githubusercontent.com/30252254/40328619-971b052c-5d0c-11e8-9d2b-9fed3ee51ad5.png)

[2018-06-01 16:20] Stackblocks opened #1646 "Math symbols styled incorrectly"
@JoseEscalante6 commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/401)

Ellipsis appears as three large dots rather than three periods
In the Descriptive Statistics Chapter (2) Geometric Mean Section (5)
This is a recurring issue throughout the book

![screenshot 16](https://user-images.githubusercontent.com/30252254/40328619-971b052c-5d0c-11e8-9d2b-9fed3ee51ad5.png)

[2018-06-01 16:21] Stackblocks opened #1647 "Custom bullet point list error"
@jonathan-uba commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/406)

In Chapter 21.1, there is an error in the bullet point list for the Virus Classification by Genome Structure table.
![biology 2e error](https://user-images.githubusercontent.com/39272234/40331801-1dac4498-5d17-11e8-9d3e-b0ecc1f15d27.jpg)

[2018-06-01 16:22] Stackblocks opened #1648 "Figure & Table Text not confined within section"
@JoseEscalante6 commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/408)

The table in Chapter 13 Linear Regression and Correlation Section 4 The Regression Equation causes the Figure text included within Example 13.5 to appear outside of the box it is supposed to be within.

![screenshot 19](https://user-images.githubusercontent.com/30252254/40331947-c57433e8-5d17-11e8

[2018-06-01 16:22] Stackblocks opened #1649 "Space between last term and period in a sentence"
@hwangange commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/405)

Ch. 6 (Gravitation and Universal Circular Motion): Section Summary

There is a space between the end of the gravitational constant and the period.

<img width="824" alt="screen shot 2018-05-21 at 4 35 12 pm" src="https://user-images.githubusercontent.com/12180288/40331150-fbc4528c-5d14-11e8-93df-bde0aa

[2018-06-01 16:23] Stackblocks opened #1650 "Inconsistent spacing between number and first word of question, in Problems & Exercises"
@hwangange commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/403)

There are seemingly sporadic instances where no space exists between a question's number and first word. Like question 20 in Ch. 2 Kinematics, Problems & Exercises.
<img width="852" alt="screen shot 2018-05-21 at 3 54 28 pm" src="https://user-images.githubusercontent.com/12180288/40329472-4497bb1c-5d0f

[2018-06-01 16:23] Stackblocks opened #1651 "Vertically stretched image"
@hwangange commented on [Tue May 22 2018](https://github.com/Connexions/cnx-recipes/issues/410)

<img width="374" alt="screen shot 2018-05-22 at 9 39 14 am" src="https://user-images.githubusercontent.com/12180288/40369641-03749764-5da4-11e8-8129-536cc55f3482.png">

Section 13.6 - Humidity, Evaporation, and Boiling

Image still appears stretched no matter how I resize the browser.

[2018-06-01 16:23] Stackblocks opened #1652 "Unformatted numbering of equations throughout book"
@hwangange commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/400)

It appears that basically ALL equations in the book, even those that are just steps to a solution, are numbered (ex. "1.2", "1.3") etc. even though the steps are already numbered (1), (2), etc.

<img width="854" alt="screen shot 2018-05-21 at 3 30 21 pm" src="https://user-images.githubusercontent.com/1

[2018-06-01 16:24] Stackblocks opened #1653 "Equation text size much larger than surrounding text"
@hwangange commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/404)

Recurring problem. Some examples:

6.2: Centripetal Acceleration, Example 6.3
<img width="719" alt="screen shot 2018-05-21 at 4 24 26 pm" src="https://user-images.githubusercontent.com/12180288/40330716-74e9c18a-5d13-11e8-8d88-9e1944153089.png">

"7.50 x 10^4 rev/min" is oversized.. except for the expo

[2018-06-01 16:25] Stackblocks opened #1654 "Line incorrectly placed above exponent"
@hwangange commented on [Tue May 22 2018](https://github.com/Connexions/cnx-recipes/issues/409)

<img width="564" alt="screen shot 2018-05-22 at 9 30 47 am" src="https://user-images.githubusercontent.com/12180288/40369097-df8007cc-5da2-11e8-9f2c-d7daf1b1b539.png">

Section 13.4 Kinetic Theory, Example 13.11
Line should directly above the variable v, and then this entire quantity is raised to the s

[2018-06-01 16:25] Stackblocks opened #1655 "Spacing, text alignment is inconsistent in tables"
@hwangange commented on [Mon May 21 2018](https://github.com/Connexions/cnx-recipes/issues/399)

There are multiple instances (beyond the ones listed below) of the inconsistent use of "equations" and plain text in the same column, leading to lack of alignment.

Example of spacing being off:
<img width="630" alt="screen shot 2018-05-21 at 3 20 11 pm" src="https://user-images.githubusercontent.com/1

[2018-06-08 16:12] kerwinso opened #1659 "Regression: green 'Get This Book button' is missing"
Somehow we lost the green 'Get This Book!' button that was on the upper right inside books in webview. This regression is live on qa.cnx.org and staging.cnx.org (but not yet on prod).

Screenshot: prod on left, staging on right:
![image](https://user-images.githubusercontent.com/11298165/41168850-c0414020-6b0c-11e8-80c3-499ee7d63c51.png)

[2018-06-08 19:04] kerwinso commented on #1659
Weird... we just re-ran cnx-deploy on qa.cnx.org. Now the green button has reappeared for some books (e.g., Soc 1e, https://qa.cnx.org/contents/r-QzKsl_@9.1:_97x1rAv@4/Introduction-to-Sociology) but not all.

I think the availability of the button depends on if there are files available for download. If there are no files, then the button doesn't appear. I think the files are generated in legacy (

[2018-06-08 19:15] kerwinso commented on #1659
So based on my last comment... I'm not sure if this is actually a bug. Maybe we were just looking at the books that just happened not to have files available. This could have happened if the completezip and/or PDF were not re-built for some reason (e.g., the collection had a print status of `locked` on the staging server).

[2018-06-11 20:09] kerwinso commented on #1659
Confirmed that the green button does appear if there are downloads available, and will not appear if there are no downloads available.

https://staging.cnx.org/contents/r-QzKsl_@11.1:_97x1rAv@5/Introduction-to-Sociology
![image](https://user-images.githubusercontent.com/11298165/41254522-5fec9452-6d89-11e8-8b4f-9fc8177ad185.png)

Closing as NAR (not a regression.)

[2018-06-11 20:09] #1659 closed

[2018-06-18 18:00] helenemccarron commented on #1148
This should be the case, equations are handled via the recipes.
![2018-06-18_13-00-22](https://user-images.githubusercontent.com/8514591/41553522-a046f8da-72f7-11e8-8acc-e79b671925ce.png)

[2018-06-18 18:06] helenemccarron commented on #1148
Styling will be addressed in https://github.com/Connexions/webview/issues/1652

[2018-06-18 21:21] helenemccarron commented on #1644
![2018-06-18_16-18-55](https://user-images.githubusercontent.com/8514591/41562927-b53a002c-7313-11e8-8a16-26d3be11e5e3.png)

[2018-06-19 15:06] PatBoj commented on #1654
It is not an issue, the line (that represent the average value) should be above v^2. It is because the mean kinetic energy is proportional to average squared velocity, not average velocity squared.

[2018-06-19 15:19] helenemccarron commented on #1651
This might be a content issue, the values are hardcoded within the image
![2018-06-19_10-19-05](https://user-images.githubusercontent.com/8514591/41606850-3f4fd05c-73aa-11e8-85c2-01b9554a1b1d.png)

[2018-06-19 15:57] Adrianltd commented on #1647
![image](https://user-images.githubusercontent.com/40228907/41608897-dcd196be-73e9-11e8-99a0-86a1ad0f176c.png)
It's already fixed on devb.cnx.org

[2018-06-19 16:23] PatBoj commented on #1643
This issue does not appear in the baked book.
![image](https://user-images.githubusercontent.com/20907906/41610544-cf17d7e6-73ed-11e8-88d4-c2d5d69b5206.png)

[2018-06-19 17:48] helenemccarron commented on #1652
Per Alina, please use the following as a reference

![2018-06-19_12-47-57](https://user-images.githubusercontent.com/8514591/41614804-105274e8-73bf-11e8-9a71-a9322c008861.png)

[2018-06-19 18:23] helenemccarron commented on #1644
This is ready for review.

[2018-06-19 18:51] wilkus27 commented on #1644
Verified on devb.
![test1](https://user-images.githubusercontent.com/40228854/41618074-ccf5ea46-73c7-11e8-8880-5ff5ec138e3e.JPG)

[2018-06-19 19:44] Adrianltd opened #1662 "Empty caption in tables"
![image](https://user-images.githubusercontent.com/40228907/41620248-66a8075a-7409-11e8-9275-c0a5c28959aa.png)
There's an empty `<caption></caption>` in each `os-table`.
The example above  is taken from College Physics For AP® Courses, chapter 1.2

[2018-06-19 20:28] #1644 closed

[2018-06-19 20:33] Stackblocks commented on #1643
Displaying as specified with updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/41622717-19418550-73d6-11e8-8d14-88faf9d9513c.png)

[2018-06-19 20:33] #1643 closed

[2018-06-19 20:37] wilkus27 commented on #1647
![test2](https://user-images.githubusercontent.com/40228854/41622884-ab47c3ec-73d6-11e8-80b6-1aad2e840aa2.JPG)
Verified

[2018-06-19 20:37] #1647 closed

[2018-06-19 20:46] Stackblocks commented on #1638
Tested in https://devb.cnx.org/contents/Mmq0W-88@11.1:1KJYQ8ob@5/top-titled-class-table-testing, caption is still light grey.

![image](https://user-images.githubusercontent.com/12678235/41623312-f3277742-73d7-11e8-8385-75d5386325e6.png)

[2018-06-19 20:56] Adrianltd commented on #1655
@marcjeannott It looks like the alignment issue is caused by the combination of math and plain text. Is that possible to move the (=1) to the math?

[2018-06-19 21:04] Stackblocks commented on #1651
Content error fixed on Production.

[2018-06-19 21:04] #1651 closed

[2018-06-19 21:05] Stackblocks commented on #1654
Closing as a non-issue.

[2018-06-19 21:05] #1654 closed

[2018-06-19 21:09] Adrianltd commented on #1655
Alignment in 5.1 is already fixed in baked book
![image](https://user-images.githubusercontent.com/40228907/41624345-b4232544-7415-11e8-9e92-a11c682dcd09.png)

[2018-06-19 21:10] PatBoj commented on #1642
I don't see the problem. I think it's because webview from screenshot wasn't baked.
![image](https://user-images.githubusercontent.com/20907906/41624427-f1bf781c-7415-11e8-806b-f55cfc8d0499.png)

[2018-06-19 21:11] Adrianltd commented on #1655
And the same in 6.1
![image](https://user-images.githubusercontent.com/40228907/41624458-0c4dcb98-7416-11e8-968e-daaf2c9a4347.png)

[2018-06-19 21:16] Stackblocks commented on #1148
Displaying as specified with updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/41624659-0d1d682e-73dc-11e8-92bb-4a8252fbb675.png)

[2018-06-19 21:16] #1148 closed

[2018-06-21 14:42] Stackblocks commented on #1642
Displaying as specified with updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/41726248-5792bdc6-7537-11e8-8e6b-3a63801ddc7f.png)

[2018-06-21 14:42] #1642 closed

[2018-06-21 14:58] Stackblocks commented on #1649
Displaying as specified with baked version of content / code.

![image](https://user-images.githubusercontent.com/12678235/41727295-9cf96584-7539-11e8-8b09-9ab68e9b797b.png)

[2018-06-21 14:58] #1649 closed

[2018-06-21 15:01] Stackblocks commented on #1648
Confirmed that this is still behaving erratically in the baked version of the book.

Link to test content: https://devb.cnx.org/contents/tWu56V64@33.86:8EtejTNd@30/134-The-Regression-Equation

![image](https://user-images.githubusercontent.com/12678235/41727469-0a9cade4-753a-11e8-87dd-3522d5fc6093.png)

[2018-06-22 16:13] wilkus27 opened #1664 "History buttons floats on top of header"
![button](https://user-images.githubusercontent.com/40228854/41787047-d4547bbc-760c-11e8-8abc-4da05b8f59c5.JPG)
Link to the example: https://devb.cnx.org/contents/GFy_h8cu@10.120:fVAf83sY@13/Preface
This bug is in all the books.

[2018-06-22 16:14] Stackblocks commented on #1664
Occurring with both the `Book` and `Page` buttons

![image](https://user-images.githubusercontent.com/12678235/41787228-526e1ce2-760d-11e8-9018-9ae2b2968fd3.png)

[2018-06-25 12:27] PatBoj commented on #1653
The problem lays in MathML itself. Someone or something fixed font size in `mstyle` node: `<mstyle mathsize="12pt">`. I haven't seen `mstyle` node in any well-sized equations.

[2018-06-25 14:55] PiotrKozlowski commented on #1664
To solve this problem change `z-index` for higher value in:

[code]

[2018-06-25 15:27] wilkus27 opened #1666 "<newline> changes related to Different font color in list of authors"
![font_colour](https://user-images.githubusercontent.com/40228854/41859346-4b7b5166-789c-11e8-9fd3-d80bc54f3a3f.JPG)
Link to the issue: https://devb.cnx.org/contents/GFy_h8cu@10.120:fVAf83sY@13/Preface

[2018-06-25 22:03] wilkus27 opened #1667 "Connected figures are of different heights"
![fig_height](https://user-images.githubusercontent.com/40228854/41878083-f7eef5e2-78d3-11e8-8208-46269bf60521.JPG)

Link to the figures: https://devb.cnx.org/contents/GFy_h8cu@10.120:agVo2CPX@12/11-The-Science-of-Biology#8141

[2018-06-26 04:07] openstaxalina opened #1668 "DevMath: Numbers should be suppressed in list with tokens"
In DevMath (Prealgebra, Intermediate Algebra, Elementary Algebra) we used "tokens" (circled letters) to denote different exercises.  The solutions are listed under the exercises in Webview, and they have both the tokens and a number when they are in a list.  This occurs in legacy and Rewrite (but we mainly care about Rewrite which gets more viewing traffic).  See the attached screenshot.

We need

[2018-06-26 09:29] wilkus27 opened #1669 "Polish text on English webview"
When language of browser is non-English, part of text on the page is displayed in Polish (I don't check browsers with other languages):

![pol](https://user-images.githubusercontent.com/40228854/41901621-adb4a874-7931-11e8-8152-8048738b2cbb.JPG)

What is more, the same text on different pages, one time is in English and other time in Polish:

![links2](https://user-images.githubusercontent.com/402

[2018-06-26 21:34] Dantemss opened #1671 "College Physics 24.2 crashes the browser"
URL: https://cnx.org/contents/Ax2o07Ul@11.1:R_XAX-aM@6/Production-of-Electromagnetic-

@reedstrm  thinks it might be an interaction between MathJax and the sim loading.

[2018-06-27 08:07] wilkus27 opened #1672 "Extra comma"
![comma](https://user-images.githubusercontent.com/40228854/41960961-6424d916-79f1-11e8-8063-5587766fb84f.JPG)

Link to the page: https://devb.cnx.org/contents/GFy_h8cu@10.120:6kS4-uei@12/31-Synthesis-of-Biological-Mac#fig-ch03_01_01

[2018-06-27 10:00] wilkus27 opened #1673 "Biology => Extra space between parenthesis and link to figure."
In all 4.3 and 7.5 modulas in Biology book there are extra spaces between parenthesis and link to the figure. In other modulas this space doesn't occur.

![parenthesis](https://user-images.githubusercontent.com/40228854/41967225-6ef241d4-7a01-11e8-9c75-7e53b044dfe2.JPG)

Links: https://devb.cnx.org/contents/GFy_h8cu@10.120:FPF-phhT@14/43-Eukaryotic-Cells ;
https://devb.cnx.org/contents/GFy_h8cu@10

[2018-06-27 15:16] wilkus27 opened #1674 "Broken link"
![link2](https://user-images.githubusercontent.com/40228854/41983185-a00aeec0-7a2d-11e8-9e50-a72cb8d8963f.JPG)

Link to the page: https://devb.cnx.org/contents/GFy_h8cu@10.120:Gj6xeWoG@10/94-Signaling-in-Single-Celled-

[2018-06-27 19:54] helenemccarron commented on #1674
@openstaxalina This looks like it might be a content issue. It looks like the link to the iframe is incorrect: https://www.openstaxcollege.org/l/bacteria_bioflm

[2018-06-27 20:05] #1662 closed

[2018-06-27 20:05] Stackblocks commented on #1662
Issue moved to [Connexions/cnx-recipes #434](https://github.com/Connexions/cnx-recipes/issues/434) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-27 20:20] helenemccarron commented on #1673
@openstaxalina I think this is a content issue, this is one of the examples I found in the CNXML: " ( <link target-id="fig-ch04-03-03" document=""/>). Such cells are typically found lining the small intestine, the organ that absorbs nutrients from digested food. This is an excellent example of form following function.".

[2018-06-27 20:28] helenemccarron commented on #1667
I believe this is working as intended. The image sizes are content driven. As a reference, this is a screenshot from the PDF
![2018-06-27_15-27-47](https://user-images.githubusercontent.com/8514591/41997831-be467b7a-7a1e-11e8-9636-f03fc6fd0fb3.png)
@openstaxalina can you confirm?

[2018-06-27 20:48] helenemccarron commented on #1666
This looks like a CNXML -> HTML transforms issue.

The CNXML looks like this:
[code]
is being converted into
[code]

This seems to be working in both the PDF and in the complete baked HTML but on webview, the `p` tag is closed right before the first div. @philschatz I am not sure where we should start looking to solve this issue?

[2018-06-27 20:50] helenemccarron commented on #1669
@PiotrKozlowski feel free to create a new pull request with your change!

[2018-06-27 20:51] helenemccarron commented on #1664
@PiotrKozlowski feel free to create a new pull request with your change!

[2018-06-28 00:13] openstaxalina commented on #1667
I agree this is fine as-is, since the images are sized this way in the PDF.  However, this was a good thing to bring up @wilkus27 - thank you!

[2018-06-28 00:13] #1667 closed

[2018-06-28 00:14] openstaxalina commented on #1672
This is acceptable English grammar, since "sped up" defines the word "catalyzed".

[2018-06-28 00:14] #1672 closed

[2018-06-28 00:14] openstaxalina commented on #1673
Assigning to @Bkblodget for content investigation.

[2018-06-28 00:15] openstaxalina commented on #1673
Nice find, @wilkus27 :-)

[2018-06-28 00:17] openstaxalina commented on #1674
@Bkblodget, I think the link should be https://www.openstax.org/l/bacteria_biofilm (note the added "i" in "film").  This directs to: https://www.youtube.com/watch?v=lpI4WCM_9pM.

Could you please correct this content on devb, and also on production, if this content exists there?

[2018-06-28 13:43] wilkus27 opened #1676 "Too small distance between figures discription and list."
![distance](https://user-images.githubusercontent.com/40228854/42037944-e739e26c-7ae9-11e8-8344-48f82a2de745.JPG)

Link: https://devb.cnx.org/contents/GFy_h8cu@10.120:1tJ55Ot6@7/102-The-Cell-Cycle

[2018-06-28 13:55] Stackblocks commented on #1637
In the inspector all of these Formula(s) titles are H2s

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/cf73555b-5e45-437f-8eae-fb4aa9f2b663)

[2018-06-28 18:33] helenemccarron commented on #1637
@Stackblocks and @openstaxalina This is actually working as intended. We are converting all headers based on their nesting. In this case, the headers are siblings, thus logically, they have the same weight. For the h3 to remain h3, the headers should be nested within a section.

[2018-06-29 09:43] uskka opened #1677 "Biology => Footnote format issue"
**Where**: devb & Katalyst01, Biology 1e & 2e books, 11.1 The Process of Meiosis .
[updated Katalyst01 link below]

**Description**: On the bottom of the page, in footnotes, first note is below it's number.

![image](https://user-images.githubusercontent.com/40228918/42084779-f35b3636-7b8e-11e8-9a0d-3be43ea1c73c.png)

[2018-06-29 13:30] wilkus27 opened #1678 "Website from link can not load."
Link from Link to Learning leads to website which can't load.
![link_problem](https://user-images.githubusercontent.com/40228854/42094732-f7a6e0b0-7bb0-11e8-93f5-71f4efdc89e3.JPG)

This is the last one Link to Learning on page: https://devb.cnx.org/contents/GFy_h8cu@10.120:fL0VrVv_@7/212-Virus-Infections-and-Hosts

[2018-06-29 16:26] #1655 closed, assigned to nobody

[2018-06-29 18:10] wilkus27 commented on #1678
I got this information:
![website_3](https://user-images.githubusercontent.com/40228854/42107549-220a39a2-7bd8-11e8-9263-56cee68aad2d.JPG)
It means that the website is unavailable

[2018-06-29 18:44] openstaxalina commented on #1678
That is strange!  Here is what I see:

![screen shot 2018-06-29 at 1 43 34 pm](https://user-images.githubusercontent.com/7863733/42109209-7cdb7cbe-7ba2-11e8-9c8b-c203b045ecee.png)

This error must be location-specific.  I will file content errata for this so we can consider pointing to another website, instead.

[2018-06-29 18:44] #1678 closed

[2018-07-02 06:59] PiotrKozlowski commented on #1677
[code]

I think it's also problem with CNXML > HTML conversion, because first list item is inside `<p>` and second isn't.

[2018-07-02 13:38] Adrianltd commented on #1639
I thought that I have already commented on this. Some of those are `exercise` tags inside `example` tags and some are not so I guess it's a recipe issue. Am I wrong? @helenemccarron

[2018-07-03 10:12] Adrianltd commented on #1640
So the gap between table and caption is caused by empty `<caption></caption>` inserted after every table in baking process. There's already an [issue](https://github.com/Connexions/cnx-recipes/issues/434) for that.

And about the font: I've added 0.9em font-size to the .os-caption-container, but first of all, as mentioned above - there is `caption` tag generated during baking process, it should co

[2018-07-03 10:38] Adrianltd commented on #1668
Recipe issue, solution lists are put into `ol` instead of `ul` during baking process. So I guess I will take care of this issue and all others related to recipes after our call.
@helenemccarron

[2018-07-03 13:19] helenemccarron commented on #1640
@Stackblocks this is related to https://github.com/Connexions/cnx-recipes/issues/434 - can we move this to recipes

[2018-07-03 13:43] helenemccarron commented on #1653
@openstaxalina can you confirm this is a content issue?

[2018-07-03 13:51] wilkus27 opened #1681 "Inconsistancy in distance between QR code and text"
In the whole book there is inconsistancy in distance between QR code and text in Link to Learning boxes.
One way:
![distance_ltl3](https://user-images.githubusercontent.com/40228854/42223517-3c2d0244-7ed8-11e8-84df-1918f61305b4.JPG)

Another one:
![distance_ltl4](https://user-images.githubusercontent.com/40228854/42223680-a0126c54-7ed8-11e8-94dd-f309bf07ee50.JPG)

[2018-07-03 13:52] helenemccarron commented on #1677
@openstaxalina this looks like it might be a content issue, could you double check the markup is correct?

[2018-07-03 14:34] PiotrKozlowski commented on #1669
For example we can see footer in polish on home or about page but when we open any book then footer will be in english.

[2018-07-03 14:47] wilkus27 opened #1682 "Two types of items"
In Unit 5-29.3 https://devb.cnx.org/contents/GFy_h8cu@10.120:TIORyfla@5/293-Amphibians in Link to Learning box there are two types of items next to each other. One should be removed.
![items](https://user-images.githubusercontent.com/40228854/42226823-378473dc-7ee0-11e8-83dd-404e3d54ada0.JPG)

[2018-07-03 14:48] PatBoj commented on #1636
Fix it
![image](https://user-images.githubusercontent.com/20907906/42227057-e58224c0-7ee0-11e8-9dc0-6144b0788eab.png)

[2018-07-03 14:50] PatBoj commented on #1652
Fixed it
![image](https://user-images.githubusercontent.com/20907906/42227174-2b829a40-7ee1-11e8-8242-7c99ebd61404.png)
![image](https://user-images.githubusercontent.com/20907906/42227181-307325a6-7ee1-11e8-86c1-7c2f2aa122fd.png)

[2018-07-03 15:03] wilkus27 opened #1683 "Two the same links next to each other"
In Unit 7-36.2 https://devb.cnx.org/contents/GFy_h8cu@10.120:sy9h_F-r@7/362-Somatosensation in Link to Learning box two links, which are next to each other direct to the same website.
![two_links](https://user-images.githubusercontent.com/40228854/42227586-1e63fb3c-7ee2-11e8-9742-dc81b4e63c80.JPG)

[2018-07-03 15:27] Adrianltd commented on #1641
![image](https://user-images.githubusercontent.com/40228907/42228414-2e9edb64-7ee4-11e8-9146-2b1f21733457.png)

that's how it looks on devb.cnx.org (it's baked, but I'm not sure if it's baked correctly. @wilkus27 can say more about that). Can you (@Stackblocks ) check that?

[2018-07-03 15:28] PatBoj commented on #1645
I think it's a content problem. Here I would like to present a proof.
![image](https://user-images.githubusercontent.com/20907906/42229229-482044c2-7ee6-11e8-8397-1a91d38a9947.png)
Symbol in the content: [bullet operator](https://www.fileformat.info/info/unicode/char/2219/index.htm)

![image](https://user-images.githubusercontent.com/20907906/42229266-5bc78972-7ee6-11e8-8280-6cf17eba4f07.png)
Symb

[2018-07-03 15:29] PatBoj commented on #1646
This is a copy of (issue #1645)[https://github.com/Connexions/webview/issues/1645].

[2018-07-03 15:43] wilkus27 commented on #1641
At the first moment it looks that it's baked:
![phisics](https://user-images.githubusercontent.com/40228854/42229983-1c75f252-7ee8-11e8-8557-149b79425b21.JPG)
But parts of this book are totally different than in other baked one:

Biology (baked):
![ch_outline_biology](https://user-images.githubusercontent.com/40228854/42230091-6c3dabd6-7ee8-11e8-8f28-d8de0ba2dfb5.JPG)

College Phisics:
![ch_outlin

[2018-07-03 16:12] helenemccarron commented on #1645
@openstaxalina I believe this is an encoding issue, it looks like those aren't supported characters. Could you please check the markup?

[2018-07-03 16:13] helenemccarron commented on #1646
@openstaxalina, please see comment above.

[2018-07-03 20:30] openstaxalina commented on #1645
@marcjeannott, would you be able to investigate the AP Physics issue(s), and also the Introductory Business Statistics issue(s) if you can?  Please confirm that the incorrect symbols are coded into the markup (making this a content issue).  We can also discuss more at our next team meeting and/or roundtable?

[2018-07-03 20:32] openstaxalina commented on #1683
@wilkus27 could you please submit errata for this for **Biology 2e** on openstax.org?  I'm going to close this issue.

[2018-07-03 20:32] #1683 closed

[2018-07-03 20:33] openstaxalina commented on #1677
@Bkblodget could you please check the markup on this?  It's biology (1e) on devb - link above.

[2018-07-03 20:35] openstaxalina commented on #1653
@marcjeannott please investigate the above content.  Do you see <mstyle mathsize="12pt"> being used in the markup itself?  I believe you can check this content on devb or on production.

[2018-07-04 06:58] PiotrKozlowski commented on #1669
@helenemccarron Should I do something here?

[2018-07-05 09:02] Adrianltd commented on #1682
This list is created with unordered list `ul` and then there's numbering inside of the `li` elements (e.g.`1: The evolution from fish to earliest tetrapod`).

I suggest that we keep the numbers instead of the dots, because the title says that we have exactly 5 videos from Animal Planet, and that's something that will not change.
We should transform that into ordered list during baking process and

[2018-07-05 10:03] Adrianltd commented on #1671
No crash using Firefox 60.0.2 on Ubuntu 18.04

[2018-07-05 12:05] PiotrKozlowski commented on #1666
@helenemccarron I think that I can't help you with it at this stage.

[2018-07-05 13:43] helenemccarron commented on #1669
ooh, that's interesting. @reedstrm or @philschatz do you have any insight on this?

[2018-07-05 14:00] helenemccarron commented on #1638
That's great news, @PatBoj ! Please reassign to a tester to confirm the issue can be closed

[2018-07-05 14:01] philschatz commented on #1669
@PiotrKozlowski & @helenemccarron : oh, I've seen this error too (I thought it was just one of my browser extensions but I guess not). Ah, l20n is running `JSON.parse(element.getAttribute('data-l10n-args') || null)];` which causes the exception.

And the element looks like the following:

`<span class="title" data-l10n-id="textbook-view-page-in-books" data-l10n-args="{&quote;numbooks&quote;: }">`

[2018-07-05 14:04] helenemccarron commented on #1641
@Adrianltd can you verify the book is baked properly?

[2018-07-05 14:19] Stackblocks commented on #1638
Verified. Displaying as specified with updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/42328653-7880f1e4-8034-11e8-9095-5270c12745de.png)

[2018-07-05 14:19] #1638 closed

[2018-07-05 15:18] Adrianltd commented on #1676
Reopen for the tests

[2018-07-05 15:18] helenemccarron commented on #1668
@Adrianltd I think in this case, we can simply hide the default for lists to use the token instead.

[2018-07-05 15:34] PiotrKozlowski commented on #1669
It's related to
`webview\src\scripts\modules\media\tabs\contents\contents-template.html`
or
`dictionary.ftl` files

I need to check how l20n works to solve this

[2018-07-05 15:56] helenemccarron commented on #1648
@openstaxalina, it looks like there are a table and an image inside a figure. The result isn’t very successful on webview. Is that something common? Should we support that kind of display, and if so, what is the desired result?

This is a screenshot from the PDF:
![2018-07-05_10-55-55](https://user-images.githubusercontent.com/8514591/42334060-ffe7653e-8041-11e8-8cb2-85dfdb974933.png)

[2018-07-05 16:02] helenemccarron commented on #1639
This might be a caching issue, this is how it displays for me now.
![2018-07-05_11-02-07](https://user-images.githubusercontent.com/8514591/42334470-eb142ede-8042-11e8-986e-22eedf27be5e.png)

[2018-07-05 16:14] helenemccarron opened #1685 "Equations need design and styling"
We need to design a more robust approach to numbered equations.

An example can be found in https://devb.cnx.org/contents/jQSmhtXo@14.60:lU8zWeww@3/134-Kinetic-Theory-Atomic-and-

![2018-07-05_11-10-28](https://user-images.githubusercontent.com/8514591/42334995-8864820a-8044-11e8-9f6f-20590e2b4be7.png)

[2018-07-05 16:21] helenemccarron opened #1686 "College Physics Chapter outlines need to be designed and styled"
@openstaxalina, could you provide specs or the design guidance? Currently, they are very confusing.
![2018-07-05_11-06-21](https://user-images.githubusercontent.com/8514591/42335297-86a3c236-8045-11e8-8cc3-de313eedbc70.png)

[2018-07-05 16:21] helenemccarron commented on #1641
@wilkus27 I believe the last screenshot is actually showing the content baked properly. I think it's a separate issue, the chapter outline isn't styled and thus very confusing. I opened an issue here: #1686

[2018-07-05 16:31] helenemccarron commented on #1686
This would be using styles matching webivew or should we try to replicate a similar layout (centered text, block headers etc?)

[2018-07-05 16:36] openstaxalina commented on #1686
@helenemccarron styles matching webview, but using the screenshot as a guideline for moving the bullets closer to their section header, and making the entire outline more compact.

[2018-07-05 17:19] wilkus27 commented on #1652
It looks now like that:
![ap_physics](https://user-images.githubusercontent.com/40228854/42336983-a18af408-8085-11e8-97a4-2f1fac0bebf6.JPG)
Are problems with equations correlated with this fix? I see there is new issue for that #1685.
Should I test numbering of equations again after solving this problem?

[2018-07-05 17:23] helenemccarron commented on #1652
I think as far as this issue is concerned, the requirement has been met, at least for this release. We can concentrate on #1685 next release (cc @openstaxalina)

[2018-07-05 18:37] helenemccarron commented on #1685
After a little bit of research, controlling the height of the equations might help (the screenshot isn't perfect but shows potential).

![2018-07-05_13-35-36](https://user-images.githubusercontent.com/8514591/42341396-8b40dc94-8058-11e8-8f21-d8268167da51.png)

[2018-07-05 18:57] helenemccarron commented on #1641
@Stackblocks can we move this issues to recipes? This is cause because the markup is an exercise with a type of "check your understanding", so it's not supported.

[code]

[2018-07-05 19:11] helenemccarron commented on #1686
![2018-07-05_13-20-42](https://user-images.githubusercontent.com/8514591/42342967-495279e6-805d-11e8-91ce-0a4ea839f4b8.png)
@openstaxalina approved :D Please make the chapter outline look like the above

[2018-07-05 19:16] helenemccarron commented on #1682
Yes, I agree, disable the ul styling.

[2018-07-05 19:22] openstaxalina commented on #1685
@helenemccarron I agree that looks much better.  I would approve that, except one thing:

Shouldn't the equations be centered, as they are in the PDF (screenshot below)?  Apologies if I missed another issue about this.

<img width="825" alt="screen shot 2018-07-05 at 2 20 15 pm" src="https://user-images.githubusercontent.com/7863733/42343450-b72e441c-805e-11e8-8b22-417039a94e35.png">

[2018-07-05 19:46] openstaxalina commented on #1685
@helenemccarron yes, that looks great.  I don't see the need for any further changes.

[2018-07-05 20:34] marcjeannott commented on #1645
@openstaxalina Yes! Let's meet about this, I can post my findings below, but would like to meet to discuss.

![image](https://user-images.githubusercontent.com/33228728/42346608-d0ce74a0-8068-11e8-9636-6fdd29a97821.png)

[2018-07-05 21:07] marcjeannott commented on #1653
I was able to locate the mathsize="12pt" in the full source editor. After removing it, the math now appears at much more reasonable size.  I'm worried this 12pt style may be found in more places in the book, and would like to do a quick spot check and remove any others.

[2018-07-05 21:14] openstaxalina commented on #1682
Yep, sounds good @Adrianltd.  cc @helenemccarron

[2018-07-05 21:20] openstaxalina commented on #1648
hmmmmm, good question @helenemccarron.  @marcjeannott, could you investigate (a) how this was done in markup, and (b) whether that markup is common?  If there's something searchable in the markup, you could use Atom to research this (?).

[2018-07-06 07:06] #1652 closed

[2018-07-06 07:15] wilkus27 commented on #1664
Verified on devb. Both Book and Page buttons work correctly.

Book:
![his_button](https://user-images.githubusercontent.com/40228854/42364822-d5449bf6-80fc-11e8-9f2b-bcd7412f8d2c.JPG)

Page:
![his_button2](https://user-images.githubusercontent.com/40228854/42364847-eae939d0-80fc-11e8-91d6-c000abe5f2ef.JPG)

[2018-07-06 07:15] #1664 closed

[2018-07-06 07:18] wilkus27 commented on #1676
Verified on devb:

![small_distance](https://user-images.githubusercontent.com/40228854/42364999-7d9805cc-80fd-11e8-91ca-3f08ec4b3378.JPG)

[2018-07-06 07:18] #1676 closed

[2018-07-06 08:19] wilkus27 commented on #1639
The first question is, on which server was this issue found? On devb, sign "Example" is on the gray background and on cnx.org there is no numbering of example, but on the screenshot from Alan "Example" is on the black background.

Next question: what is the issue about? The problem is that there are two lines in Example 3.2 (red arrows) or that there is different padding between left side of the e

[2018-07-06 08:30] Adrianltd commented on #1685
I am to blame here. I overwrote the `.Mathjax_Display` with `width: auto !important;` in other issue (#1655). If we remove that, Mathjax elements, e.g. https://devb.cnx.org/contents/jQSmhtXo@14.60:vainocWC@3/51-Friction will not display inline properly.
Any idea how to solve those, so they both display correct?
@helenemccarron

[2018-07-06 08:31] wilkus27 commented on #1640
Verified on devb:

![font_table](https://user-images.githubusercontent.com/40228854/42368582-b1a36afa-8107-11e8-9519-188150cbb4a4.png)

[2018-07-06 08:31] #1640 closed

[2018-07-06 08:49] wilkus27 commented on #1636
Verified on devb https://devb.cnx.org/contents/bDIuMp-w@5.1:w3qFD6Qv@5.1/Critical-Thinking-Questions:

![images_text](https://user-images.githubusercontent.com/40228854/42369406-2a7062e2-810a-11e8-96a4-3ac713ad6bb4.JPG)

[2018-07-06 09:07] wilkus27 commented on #1636
But the problem is still occuring with images of bigger size:
![images_text2](https://user-images.githubusercontent.com/40228854/42370275-9dac3dc4-810c-11e8-83a6-70599a067f33.JPG)

[2018-07-06 09:50] PatBoj commented on #1685
Good to hear that I didn't screw up :smile:.

[2018-07-06 10:58] wilkus27 opened #1688 "Different beginning of the module"
There are different ways how modules look at the beggining of the page in different books:

(1) Biology: (e.g. https://devb.cnx.org/contents/GFy_h8cu@10.120:agVo2CPX@12/11-The-Science-of-Biology) List on the grey background.

![begin_biology](https://user-images.githubusercontent.com/40228854/42375160-f5023f8e-811a-11e8-9b55-2dc33b000dd6.JPG)

(2) University Physics Volume 2: (e.g. https://devb.cn

[2018-07-06 11:14] uskka opened #1689 "Confusing link on the main page. (CNX Author/Legacy Site)"
What: User can not click CNX Author link, both links are underlined together when user moves cursor to any of the links. Clicking redirects to the same page but design suggests that they are both different links.

Where: devb and cnx.org
https://cnx.org

![cnx button](https://user-images.githubusercontent.com/40228918/42375632-6a226158-811c-11e8-9978-dfb2b375dec6.png)

[2018-07-06 11:19] Adrianltd commented on #1668
@helenemccarron There is no Prealgebra recipe so I can't bake it. That page exists in 7 books (most of them are different Openstax Prealgebra versions and few from other authors).
If I can't bake it, I can't set `list-style: none` on that.

[2018-07-06 11:49] PatBoj commented on #1636
Maybe it could be fixed in recipes? I think we need `if` statement. If the picture would be too big then the content will go to the next line. What do you thnik @helenemccarron?

[2018-07-06 13:45] helenemccarron commented on #1682
@openstaxalina upon further review, I think we should change the ul to an ol rather than hard code the numbers. If we remove styling for unstyled lists, we might cause issues for all other lists.

![2018-07-06_08-43-25](https://user-images.githubusercontent.com/8514591/42382082-d1014f98-80f8-11e8-86bd-61c4ff1dd5bd.png)

[2018-07-06 14:10] hwangange opened #1692 "Math symbols styled incorrectly: Large Ellipsis"
@JoseEscalante6 commented on Mon May 21 2018:

Ellipsis appears as three large dots rather than three periods
In the Descriptive Statistics Chapter (2) Geometric Mean Section (5)
This is a recurring issue throughout the book
![40328619-971b052c-5d0c-11e8-9d2b-9fed3ee51ad5](https://user-images.githubusercontent.com/12180288/42383257-5b2a0220-80fc-11e8-9107-d2b944fb029d.png)

[2018-07-06 14:13] hwangange commented on #1692
PatBoj: I think it's a content problem. Here I would like to present a proof.
![42229229-482044c2-7ee6-11e8-8397-1a91d38a9947](https://user-images.githubusercontent.com/12180288/42383323-83557d4c-80fc-11e8-8753-ad1704914afa.png)
Symbol in the content: [bullet operator](https://www.fileformat.info/info/unicode/char/2219/index.htm)

[2018-07-06 14:15] hwangange commented on #1692
marcjeannott:

![image](https://user-images.githubusercontent.com/12180288/42383541-1f1586a0-80fd-11e8-85d5-bff718aeecd6.png)

[2018-07-06 14:17] openstaxalina commented on #1682
Actually, this is no longer an issue on production:
![screen shot 2018-07-06 at 9 16 06 am](https://user-images.githubusercontent.com/7863733/42383588-41593d4c-80fd-11e8-9b40-6b807415285a.png)

There is another issue where the videos are spilling outside the note container.  I am going to talk with @Stackblocks today about a possible content refresh on DevB so we can ensure we are testing updated

[2018-07-06 14:17] #1682 closed

[2018-07-06 14:19] hwangange opened #1693 "Math symbols styled incorrectly: Less than (<) symbols"
JoseEscalante6 commented on Mon May 21 2018:

There is a problem with weirdly styled less than (<) symbols.
Chapter 7 The Central Limit Theorem Section 4 Finite Population Correction Factor

![40330852-e58916a2-5d13-11e8-88fe-f59056078a97](https://user-images.githubusercontent.com/12180288/42383726-bb8f973c-80fd-11e8-8922-94e1d2843ab0.png)

[2018-07-06 14:20] hwangange commented on #1693
PatBoj:

I think it's a content problem. Here I would like to present a proof.

![42229266-5bc78972-7ee6-11e8-8280-6cf17eba4f07](https://user-images.githubusercontent.com/12180288/42383755-d2eaee5e-80fd-11e8-823e-c3aa4ff6899f.png)
Symbol in the content: [angle](http://www.fileformat.info/info/unicode/char/2220/index.htm)

[2018-07-06 14:21] hwangange commented on #1693
marcjeannott:

It appears that the angle symbol is used instead of less than, or “∠” instead of “<”, because the editor thinks it’s an open tag otherwise. The code for this one is “&#8736;”

[2018-07-06 14:25] hwangange opened #1694 "Math symbols styled incorrectly: Asterisks used for multiplication"
JoseEscalante6 commented on Mon May 21 2018:

There is a problem with asterisks used for multiplication.
Chapter 7 The Central Limit Theorem Section 4 Finite Population Correction Factor

![40330852-e58916a2-5d13-11e8-88fe-f59056078a97-1](https://user-images.githubusercontent.com/12180288/42384004-8130e95a-80fe-11e8-9512-df4bff997416.png)

[2018-07-06 14:27] hwangange opened #1695 "Math symbols styled incorrectly: Large multiplication dot"
hwangange commented on Mon May 21 2018:

AP PHYSICS:

Multiplication dot is abnormally large between "kg" and "m" in "Making Connections: Illustrations of Force Exerted" in Section 8.2 (Impulse).

<img width="889" alt="40332030-228f5efe-5d18-11e8-8019-f5f851f52993" src="https://user-images.githubusercontent.com/12180288/42384130-ca62366a-80fe-11e8-9389-dd94b23aa88a.png">

[2018-07-06 14:34] hwangange commented on #1695
PatBoj:

I think it's a content problem. Here I would like to present a proof.
<img width="713" alt="screen shot 2018-07-06 at 9 32 13 am" src="https://user-images.githubusercontent.com/12180288/42384457-a2a591c0-80ff-11e8-8061-1b6ef0694f4b.png">
(Note: I changed the screenshot because I think he accidentally pasted the wrong one?)

Symbol in the content: [bullet](https://www.fileformat.info/info/

[2018-07-06 14:34] hwangange commented on #1695
marcjeannott:

In AP Physics, the “•” are marked up as “&#8226;” I think this may have to do with the bullet being in the math tags. I can copy and paste it into a normal para tag and the bullet appears at a more reasonable size.  I can change it to “∙”, which appears smaller, but might still be too big?

[2018-07-06 14:38] hwangange commented on #1645
Hi, I separated this issue into 4 separate issues. You can find them linked below:

Large Ellipsis: [https://github.com/Connexions/webview/issues/1692](https://github.com/Connexions/webview/issues/1692)

Less than (<) symbols: [https://github.com/Connexions/webview/issues/1693](https://github.com/Connexions/webview/issues/1693)

Asterisks used for multiplication: [https://github.com/Connexions/web

[2018-07-06 14:38] Adrianltd commented on #1636
Or you can remove `float: left;` and style the text paragraphs wherever they're inline to be block and display below image.

[2018-07-06 14:39] #1645 closed

[2018-07-06 15:22] #1653 closed

[2018-07-06 18:32] marcjeannott commented on #1648
@openstaxalina
Looking at the markup, it appears these objects are in two different subfigure tags nested inside the typical figure tag. I've never seen subfigure tags used in any of our other books, so I'm pretty unfamiliar with the intended behavior. This book has two other modules using the subfigure tag (1.2 and 1.3), and looking at how those are displayed, I think the only difference is in th

[2018-07-06 19:13] helenemccarron commented on #1688
That is expected. Different books will have different chapter openers

[2018-07-06 19:33] helenemccarron commented on #1639
@wilkus27 my screenshot was taken from devb, there is no baked content on dev.cnx.org. In other words, I do not see the issue when the book is baked.

[2018-07-06 19:58] #1641 closed

[2018-07-06 19:58] helenemccarron commented on #1641
Issue moved to [Connexions/cnx-recipes #456](https://github.com/Connexions/cnx-recipes/issues/456) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-06 19:59] helenemccarron commented on #1627
closed in favor of https://github.com/Connexions/cnx-recipes/issues/454

[2018-07-06 19:59] #1627 closed

[2018-07-06 20:15] helenemccarron opened #1698 "Intro to Business: unnumbered list displays as bullet style"
@clteam18 commented on [Fri Jul 06 2018](https://github.com/Connexions/oer.exports/issues/3693)

**Chapter 17 - m10295 / Similar occurrence in few chapters**

**XML Coding:**
![image](https://user-images.githubusercontent.com/39794953/42385910-bcafdeca-815b-11e8-85a3-a87fa628c860.png)

**Online View:**
![image](https://user-images.githubusercontent.com/39794953/42385851-8dd9c390-815b-11e8-8470-705

[2018-07-06 20:20] helenemccarron opened #1699 "Intro to Business: Notes callout not in superscript"
@clteam18 commented on [Fri Jul 06 2018](https://github.com/Connexions/cnx-recipes/issues/448)

Global for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42385250-dfd72306-8159-11e8-844a-d273d83b6f64.png)

Notes callout are not in superscript position, seems to be continuation with the paragraph text.

[2018-07-06 20:22] helenemccarron opened #1700 "Intro to Business: References - Global"
@clteam18 commented on [Fri Jul 06 2018](https://github.com/Connexions/cnx-recipes/issues/447)

**Global for all Chapters**

![image](https://user-images.githubusercontent.com/39794953/42384974-20f8d420-8159-11e8-87fe-4bb05e1cd6b1.png)

There is no separation between the Note numbers and the text in online view.

[2018-07-06 23:05] openstaxalina commented on #1688
Yes, this is acceptable.  At some point we may try to standardize, but this meets the requirements for Assignable Webview.

[2018-07-06 23:05] #1688 closed

[2018-07-07 00:18] openstaxalina commented on #1648
@marcjeannott I think that is a great solution.  We would need to get alt text written for the image of the table, but I can help with that once we have the image of the table.  Are you comfortable making this image, perhaps using guidance from other table images in the book?  We can also consult with @lwtchu for guidance :-)

[2018-07-07 00:50] openstaxalina commented on #1689
This is out of scope for Assignable Webview.  I will prioritize this issue for later releases.

[2018-07-07 00:52] openstaxalina commented on #1671
No crash using Chrome Version 67.0.3396.99 on Mac OS 10.11.16.  @Dantemss could you report which browser for replication/testing?

[2018-07-07 00:54] openstaxalina commented on #1636
OpenStax will discuss Monday July 9; will share feedback on July 10 at the latest.

[2018-07-07 00:59] openstaxalina commented on #1669
I think this is resolved by the attached PR.  If so, this can likely be assigned to Natalia for testing.

[2018-07-07 01:04] openstaxalina commented on #1666
I suggest that we move this to a future milestone; the valid XHTML work is not within scope for a two-week release.  The existing display is acceptable for a MVP.

[2018-07-07 01:05] openstaxalina commented on #1668
Suggest moving to a future release; the DevMath books are out-of-scope for Assignable Webview Phase 1 (they'll probably be the first to prioritize in Phase 2).

[2018-07-09 08:07] PatBoj commented on #1685
@helenemccarron Is it fixed already? Adrian says that he undone his changes and equations should look like before.

[2018-07-09 08:57] uskka opened #1701 "No margin in table content"
Where: Every book on devb. Screen from devb / College Physics / 2.7-Falling-Objects
https://devb.cnx.org/contents/Ax2o07Ul@9.98:nkhtuBIO@6/27-Falling-Objects

Description: No margin in all of the tables content.

![screenshot-devb cnx org-2018 07 09-10-37-51](https://user-images.githubusercontent.com/40228918/42439917-79ef79a0-8364-11e8-9bf8-26d6791e395e.png)

[2018-07-09 09:44] uskka opened #1702 "Problem with "-" and "+" in tables"
Description: In tables when there is a "-" or "+" before number, there is no white space before other numbers so the table content doesn't look good.

Where: Every table on devb. Screen from College Physics/ 2.7 Falling Objects
https://devb.cnx.org/contents/Ax2o07Ul@9.98:nkhtuBIO@6/27-Falling-Objects

![screenshot-devb cnx org-2018 07 09-11-30-55](https://user-images.githubusercontent.com/40228918

[2018-07-09 10:57] PiotrKozlowski commented on #1669
We are waiting for @philschatz review for PR #1687

[2018-07-09 13:36] uskka opened #1703 "Problem with Filter in Search"
Description: Filter bar is too close to the footer while loading which looks like something broke.

Where: Cnx/devb.
https://cnx.org/search?q=subject:%22Arts%22

![screenshot-cnx org-2018 07 09-15-15-59](https://user-images.githubusercontent.com/40228918/42453664-b855be92-838d-11e8-8137-71084f8e3791.png)

[2018-07-09 13:46] Dantemss commented on #1671
Yep no longer crashes. Something fixed it, just not sure what.

[2018-07-09 13:46] #1671 closed

[2018-07-09 14:13] Bkblodget opened #1704 "Intro to Business: Terms and Index Terms are Bolded"
both <term> and <glossary> items appear as bolded text in webview. Only <glossary> terms should appear in bolded text, as in the PDF.

I believe this happens because webview lacks an Index.

[2018-07-09 14:15] openstaxalina commented on #1704
This is most likely happening for all titles.

[2018-07-09 14:16] uskka opened #1705 "Issue with big tables"
Description: When Contents are shown and table is too big, part of the table content is cut out of the screen. There should be mechanism that prevents such behaviour.

Where: Screen from devb/ Accounting / B | Present Values Table Set Rotated (Landscaped at 90°) as Art and Table
https://devb.cnx.org/contents/l6eNxxA-@2.6:YykWtsbi@3/B--Present-Values-Table-Set-Ro

![screenshot-devb cnx org-2018 07

[2018-07-09 14:42] Stackblocks commented on #1681
Spacing appears consistent after new code deploy. There is some variance in the size of the QR codes themselves, but this is still the old content so we are more concerned about the structure.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/8805cdfb-0163-4de5-ac3d-d9b81bf432d5)
---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/a87f3000-1c64-

[2018-07-09 14:42] #1681 closed

[2018-07-09 14:45] Stackblocks commented on #1681
(And the link that was the demo of the issue is working correctly too)

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/1614ce6a-e6e4-4093-9c88-bd7604130845)

[2018-07-09 15:33] lwtchu commented on #1692
@marcjeannott &#8230;

[2018-07-09 15:35] lwtchu commented on #1693
@marcjeannott `&lt;`

[2018-07-09 15:36] lwtchu commented on #1694
@marcjeannott interpunct `&#183;`

[2018-07-09 15:41] marcjeannott commented on #1648
Another suggestion would be to make each it's own entity.  I'll try this to reduce the end to maintain another piece of art.

[2018-07-09 15:53] helenemccarron commented on #1702
@openstaxalina is that something we should try to address?

[2018-07-09 15:55] helenemccarron commented on #1705
@openstaxalina I am not sure what we can do CSS wise to fix this type of issue.

[2018-07-09 15:56] helenemccarron commented on #1703
@openstaxalina is this within AW's scope?

[2018-07-09 17:15] openstaxalina commented on #1704
@Bkblodget will provide any known examples for testing purposes.  These changes will apply to all books.

[2018-07-09 17:16] openstaxalina commented on #1700
We need to verify that the book is baked properly.  If this is truly an issue, it should be a relatively easy fix.

[2018-07-09 17:17] openstaxalina commented on #1699
Footnote call needs to be superscript.

[2018-07-09 17:18] openstaxalina commented on #1699
This may need to move to using a superscript in cnx-recipes.

[2018-07-09 17:49] openstaxalina commented on #1701
We would like to add padding so the content isn't flush with the border lines of the table.

[2018-07-09 17:52] openstaxalina commented on #1636
For now, let's simply make sure that the content is breaking after images.  We will not have text wrapping around images for our minimum viable product.  We can investigate this further in the future.

[2018-07-09 17:54] openstaxalina commented on #1639
@Stackblocks will verify that the book is baked and that this is no longer an issue.

[2018-07-09 17:54] openstaxalina commented on #1650
This is a duplicate of the issue in cnx-recipes referenced above; closing.

[2018-07-09 17:55] openstaxalina commented on #1650
Actually, we are not sure what repo this should be in.  Helene will investigate.

[2018-07-09 17:59] helenemccarron commented on #1685
@Adrianltd is it possible to target `.Mathjax_Display` inside of tables rather than in such a wide fashion?

[2018-07-09 17:59] openstaxalina commented on #1666
@helenemccarron and I agree this is out of scope.  Removing from the Assignable Webview milestones.

[2018-07-09 18:00] openstaxalina commented on #1668
Confirmed we will remove this from Assignable Webview Phase 1 (AW for half).

[2018-07-09 18:20] openstaxalina commented on #1669
Thank you, I asked Phil to review.

[2018-07-09 18:34] marcjeannott commented on #1695
I've edited the content to instead use an even smaller bullet. Looks good now.

[2018-07-09 18:34] #1695 closed

[2018-07-09 22:03] openstaxalina commented on #1703
@helenemccarron this is not within AW's scope, but I will keep this in our general backlog.

[2018-07-09 22:05] openstaxalina commented on #1705
@helenemccarron can this be fixed with JavaScript?  I would like to try to include this with Assignable Webview.  The screen won't scroll right, so the content is completely inaccessible/illegible for the user.

[2018-07-09 22:09] openstaxalina commented on #1702
This display was acceptable for the PDF:

![screen shot 2018-07-09 at 5 08 30 pm](https://user-images.githubusercontent.com/7863733/42478564-c21f256e-839a-11e8-9709-974fdec390b4.png)

Therefore, I am going to close this issue.

[2018-07-09 22:09] #1702 closed

[2018-07-10 07:10] PiotrKozlowski commented on #1705
You can try something like this:
[code]
Then in mobile you will be able to scroll table by swiping and on desktop you can scroll horizontally with `shift + scroll`. Eventually we can add js script which will allow to scroll tables horizontally on desktop also by swiping with mouse.

[2018-07-10 10:25] wilkus27 opened #1707 "Inconsistent font style of columns headers in tables"
In parts of tables in Introductory Business Statistics (e.g. https://devb.cnx.org/contents/tWu56V64@33.86:XEZYKVYN@6/22-Measures-of-the-Location-of) headers of columns are in block letters:

Module 2.2 Example 2.16
![big_font](https://user-images.githubusercontent.com/40228854/42504228-5e5f514c-843b-11e8-9f81-b0b698faadee.JPG)

and in other ones, in normal font:

Module 2.2 Try It 2.16
![small_fon

[2018-07-10 10:48] wilkus27 commented on #1707
I created similar issue https://github.com/Connexions/cnx-recipes/issues/459. Which convention should be accepted: block letters, normal font or words in block letter with white spaces between each other?

[2018-07-10 15:22] brittany-johnson commented on #1704
University Physics V 3 Key Terms section on production
![screen shot 2018-07-10 at 10 14 01 am](https://user-images.githubusercontent.com/24909007/42519696-39e22c2e-842a-11e8-8239-5c317a4f4e8f.png)

Intro to Business Key Terms Section on devb
![screen shot 2018-07-10 at 10 14 10 am](https://user-images.githubusercontent.com/24909007/42519697-39f58d3c-842a-11e8-8472-1bfebd21019e.png)

Index U Physi

[2018-07-10 15:31] Bkblodget commented on #1704
@brittany-johnson sorry for the lack of clarification - this issue actually refers to terms that are in the body portion of the content. For instance, in the screenshot below **Walmart** is a term tag and should not appear bolded.

![screen shot 2018-07-10 at 10 28 23 am](https://user-images.githubusercontent.com/11299035/42520560-2a02ae08-842c-11e8-8be4-b0295c9505ea.png)

[2018-07-10 15:32] brittany-johnson commented on #1704
@Bkblodget AHHH! Makes sense now, thank you!

[2018-07-10 15:37] brittany-johnson commented on #1704
One more thing, can you post the link from the screenshot? Thanks! @Bkblodget

[2018-07-10 16:59] openstaxalina commented on #1707
Agree; I am going to close this.

[2018-07-10 17:11] openstaxalina commented on #1705
Thank you @PiotrKozlowski !  I am concerned that many people do not know how to use shift + scroll.  How much work is it to add the js scripe that allows scrolling tables horizontally on the desktop with the mouse?  cc @helenemccarron  (Note: this card is still un-prioritized; we can discuss here and try to get this into a future sprint.)

[2018-07-10 17:21] openstaxalina opened #1708 "Separate the Answer Key by Chapter"
**Not a requirement for Assignable Webview MVP**

As a student, I need to be able to navigate to answers for the chapter that I am currently reviewing.

Here is the Answer Key for _University Physics Volume 1_: https://cnx.org/contents/1Q9uMg_a:5qqYClIo
It takes a long time to typeset all the math and load the entire page.

### Acceptance Criteria
-Each chapter's answer key appears on a separate p

[2018-07-10 17:22] openstaxalina commented on #1708
Per Ross: BE tasks done, this now only needs recipe implementation.

[2018-07-10 17:23] openstaxalina commented on #1708
Per Helene, the following tasks remain:
-CSS Change the recipes to add data-type="composite-page" to chapter sections of the AK  CSS
-Set each Page data-uuid-key attribute to be based on the book and which chapter they came from

[2018-07-10 17:34] helenemccarron opened #1709 "Business Ethics - Art oversized in Webview"
@mwest-WWprod commented on [Tue Jul 10 2018](https://github.com/Connexions/oer.exports/issues/3696)

content01
GLOBAL

Art is appearing correctly/as expected in generated PDFs after the latest code rollout, but still appears oversized in webview.

Example from col10003 (Ch. 4)
PDF
![shareholders_pdf](https://user-images.githubusercontent.com/19212926/42526251-4e4f2f2c-8443-11e8-9987-6182ef6ea005.P

[2018-07-10 17:41] lwtchu commented on #1709
@helenemccarron if this is taking wayyy too much time, let's move to the next milestone. but hopefully this is a resolution thing?

[2018-07-10 17:46] helenemccarron commented on #1709
@lwtchu which book is this in? Do we have access to the data same data on devb? At a glance, it looks like it.

[2018-07-10 18:22] marcjeannott commented on #1648
As discussed in roundtable, I've removed the subfigure tags, and instead simply and a table, and a figure. I did not see anything linking to the original subfigure table, so I think we're good on that end.

[2018-07-10 18:22] #1648 closed

[2018-07-10 19:45] marcjeannott commented on #1694
I've replaced all the asterisks in the module with &#183; .

[2018-07-10 19:45] #1694 closed

[2018-07-10 19:48] marcjeannott commented on #1693
The angle signs that were mistakenly being used as less than symbols, have been replaced with the correct symbol: &lt;

[2018-07-10 19:48] #1693 closed

[2018-07-10 21:06] Stackblocks commented on #1639
I agree that the examples in the original post look unbaked. Attached are images of how the examples look both collapsed and expanded. Note the lightness of the line above show solution, that is pretty consistent across baked content.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/d4bb4d0a-a0a2-44bc-9440-36fbdf1cb1b1)
![image.png](https://images.zenhubusercontent.com/5

[2018-07-10 21:06] #1639 closed

[2018-07-10 21:28] Stackblocks commented on #1637
@openstaxalina since this appears to be a content fix, how should we move forward?

[2018-07-11 10:25] wilkus27 opened #1710 "Different style of note"
The same part of book differs on devb, cnx and pdf. It looks like an issue on devb, but I'm not sure which version is correct.

In the whole book note box looks like that: (e.g Module 2.3 https://devb.cnx.org/contents/tWu56V64@33.86:39NcLz3J@18/23-Measures-of-the-Center-of-t)
![note_devb2](https://user-images.githubusercontent.com/40228854/42564535-4cc1f554-8501-11e8-911a-75d1d54adfdb.JPG)

But th

[2018-07-11 10:33] PiotrKozlowski commented on #1705
So there are scripts for simulating touching on desktops (ex. https://hammerjs.github.io/touch-emulator/). If we can add this script then it should be easy to implement, but propably we do not want another script on webview so we should write our own logic for swiping tables which can be tricky.

[2018-07-11 14:17] wilkus27 opened #1711 "Broken figure"
There is broken figure in Module 8.1 (https://devb.cnx.org/contents/tWu56V64@33.86:59n7-gS0@27/81-A-Confidence-Interval-for-a)
![broken_fig](https://user-images.githubusercontent.com/40228854/42577858-96e7106e-8525-11e8-87c3-652d58b5eb2e.JPG)

This is how it looks on cnx.org (https://cnx.org/contents/tWu56V64@34.3:59n7-gS0@27/A-Confidence-Interval-for-a-Po)
![image](https://user-images.githubuserc

[2018-07-11 22:06] helenemccarron opened #1712 "Top Titled Tables need Title styled"
@helenemccarron commented on [Wed Jul 11 2018](https://github.com/Connexions/cnx-recipes/issues/463)

# Scenario

Top Titled Tables need title styled.

# Reproducibility Details

- **Impact area**: baked tables with a top-title class
- **User**: everyone
- **URL / Location**: https://devb.cnx.org/contents/Mmq0W-88@14.1:1KJYQ8ob@5/14-top-titled-class-table-test
- **How many times were you able to r

[2018-07-12 14:58] lwtchu commented on #1712
We should make this bold and centered like the PDF (what you suggested to Alina during scrum today).

[2018-07-12 15:51] helenemccarron commented on #1704
As a side note, I do not think the content shown in the screenshot is present on devb. Should we consider moving it over so we can test?

[2018-07-12 15:57] Stackblocks commented on #1704
I think these can be found at https://devb.cnx.org/contents/qAil3UeG@2.1:MJPTog5b@2/38-Threats-and-Opportunities-i

[2018-07-12 16:01] helenemccarron commented on #1704
@brittany-johnson it looks like we need to make sure the class `no-emphasis` is honored on webview.

[2018-07-12 19:52] brittany-johnson opened #1716 "Intro to Business: Critical Thinking Questions"
@clteam18 commented on [Fri Jul 06 2018](https://github.com/Connexions/cnx-recipes/issues/446)

Critical Thinking Case - Global for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42384783-8dab4c3e-8158-11e8-96af-29f4e1f14e8e.png)

**Critical Thinking Questions** under the section **Critical Thinking Case** has no space between paragraph and heading.

---

@openstaxalina

[2018-07-13 08:53] PatBoj commented on #1686
![image](https://user-images.githubusercontent.com/20907906/42682461-f405cea0-868a-11e8-9357-6cf034eabf46.png)

[2018-07-13 08:54] PatBoj commented on #1636
![image](https://user-images.githubusercontent.com/20907906/42682535-25fd8ca4-868b-11e8-82f2-9b085668fade.png)

![image](https://user-images.githubusercontent.com/20907906/42682539-288b4d08-868b-11e8-9fa3-b8d6e83a1c65.png)

[2018-07-13 10:19] Adrianltd opened #1717 "AP-Physics Check Your Understanding titles"
In AP-Physics book there are few content related issues in `Check Your Understanding` sections. There should be `data-element-type="check-understanding"` set in the container `div`.

**Chapter 10.2:**
![3rotationalkinematics2](https://user-images.githubusercontent.com/40228907/42686183-67e3cdc2-8695-11e8-9400-6f16b6a5c87e.png)

**Chapter 21.5:**
![3identifyotherfactors2](https://user-images.github

[2018-07-13 15:36] brittany-johnson commented on #1704
Update from PL on Friday July 13th scrum: this change will only affect the currently baked books

[2018-07-13 15:49] brittany-johnson commented on #1700
<img width="1345" alt="screen shot 2018-07-10 at 1 06 51 pm" src="https://user-images.githubusercontent.com/24909007/42700793-677e7a2c-868a-11e8-9042-61cb20676d04.png">

[2018-07-13 16:32] openstaxalina commented on #1704
@Bkblodget Alan pointed out above that chapters 3, 9, and 18 intro modules are numbered "3.1," "9.1", "18.1" when they shouldn't be.  I bet this is due to them missing the "intro" or "introduction" class (I can't remember which it is).  Could you check w/ SRM on this and ensure they are using the class?

[2018-07-13 21:08] openstaxalina commented on #1711
Thank you @wilkus27 !  Submitted errata: https://openstax.org/errata/6450

closing here

[2018-07-13 21:08] #1711 closed

[2018-07-16 15:08] #1708 closed

[2018-07-16 15:08] helenemccarron commented on #1708
Issue moved to [Connexions/cnx-recipes #472](https://github.com/Connexions/cnx-recipes/issues/472) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-16 15:18] openstaxalina commented on #1709
Applied Business Ethics label. Alan is assisting in locating test content.

[2018-07-16 16:25] openstaxalina commented on #1709
Options:

- set a max height
- add a class to large images so we can scale them down, i.e. to 70%

[2018-07-16 17:16] openstaxalina commented on #1717
@marcjeannott could you make these changes on production content when you get the chance?

[2018-07-17 14:16] clteam18 commented on #1698
@openstaxalina Still the contents are displayed with the bullet style
![image](https://user-images.githubusercontent.com/39794953/42823010-159e0556-89fa-11e8-915c-1e9ec38438ab.png)

[2018-07-17 14:20] brittany-johnson commented on #1704
![screen shot 2018-07-17 at 9 16 33 am](https://user-images.githubusercontent.com/24909007/42823073-3d83bcc6-89a2-11e8-9541-eb91557a055a.png)
Terms with the class `.no-emphasis` are now displaying with a normal font weight. This can be tested by inspecting index terms, which should have a class `.no-emphasis` and be unbolded.

[2018-07-17 14:25] openstaxalina commented on #1698
@clteam18 thank you!  We were looking at the unbaked page above; apologies for the confusion.

@helenemccarron @Stackblocks at https://content02.cnx.org/contents/o0xnhd_t@3.1:sT9pws9t@2/172-Developing-Interpersonal-S I can confirm that unbulleted lists are displaying with bullets.  Let's park in scrum today.

[2018-07-17 14:39] openstaxalina commented on #1698
Helene will compare the page in the unbaked book with the page in the baked book to determine the issue.

[2018-07-17 15:44] brittany-johnson commented on #1716
![screen shot 2018-07-17 at 10 41 19 am](https://user-images.githubusercontent.com/24909007/42828564-4e1ea878-89ae-11e8-9df1-854a34f68560.png)
A margin has been added to lists in EOC sections in baked books

[2018-07-17 16:06] helenemccarron commented on #1650
This is not a recipe issue, the baked content does not contain extra spaces.

[2018-07-17 16:09] helenemccarron opened #1722 "Missing white spaces between numbers and text."
@wilkus27 commented on [Fri Jun 22 2018](https://github.com/Connexions/cnx-recipes/issues/426)

# Scenario

In Critical Thinking Questions part of the book in the numbered area there is white space just in the four first points between number and the sentence.

# Reproducibility Details

- **URL / Location**: https://devb.cnx.org/contents/GFy_h8cu@10.120:HT3cB5gC@10.120/Critical-Thinking-Questions

[2018-07-17 16:09] helenemccarron opened #1723 "Missing white spaces between numbers and text."
@wilkus27 commented on [Fri Jun 22 2018](https://github.com/Connexions/cnx-recipes/issues/426)

# Scenario

In Critical Thinking Questions part of the book in the numbered area there is white space just in the four first points between number and the sentence.

# Reproducibility Details

- **URL / Location**: https://devb.cnx.org/contents/GFy_h8cu@10.120:HT3cB5gC@10.120/Critical-Thinking-Questions

[2018-07-17 16:32] helenemccarron commented on #1650
In the JSON found in https://archive-devb.cnx.org/contents/8d04a686-d5e8-4798-a27d-c608e4d0e187@14.60:OF8r0KAI@14.60/Problems--Exercises.json:
`<a class=\"os-number\" href=\"/contents/5b05c06e-0cbd-5019-be06-2abd4de9909d#fs-id1770908-solution\">61</a>    <p id=\"import-auto-id1761648\">Using approximate values`

in the baked HTML found in https://archive-devb.cnx.org/contents/8d04a686-d5e8-4798-a2

[2018-07-17 16:34] #1722 closed

[2018-07-17 17:09] helenemccarron commented on #1650
@openstaxalina this might be a content problem:
[code]

[2018-07-17 19:40] marcjeannott commented on #1717
I've added the type="check-understanding" to all of these modules.

[2018-07-17 19:40] #1717 closed

[2018-07-17 20:30] helenemccarron commented on #1710
For  (Module 5.2 https://devb.cnx.org/contents/tWu56V64@33.86:d-NtEG_9@8/52-The-Uniform-Distribution) the markup is wrong:
![2018-07-17_15-29-53](https://user-images.githubusercontent.com/8514591/42843644-60a79d6a-89d6-11e8-8723-7c2b2521a752.png)
cc @openstaxalina

[2018-07-17 21:15] helenemccarron commented on #1710
@openstaxalina this is a content issue:
[code]
below a note that is working:
[code]

[2018-07-17 21:16] helenemccarron commented on #1710
@wilkus27 for the ones on cnx.org, both of them are left unmodified, which explains why they appear the same (despite the wrong markup, it's correct enough to not look different when rendered on webview).

[2018-07-17 23:08] openstaxalina commented on #1710
@wilkus27 good eye!  Thank you @helenemccarron for diagnosing.

@marcjeannott could you please update this content in this module: https://cnx.org/contents/tWu56V64@34.3:d-NtEG_9@9/The-Uniform-Distribution

`<note><label/><title>NOTE</title><para>This asks for the 90<sup>th</sup> percentile.</para></note>
`

[2018-07-18 16:03] openstaxalina opened #1725 "University Physics: equation styling regressions"
Screenshots are pulled from: https://cnx.org/contents/1Q9uMg_a@10.18:Ej8o3nbb@7/32-Instantaneous-Velocity-and-

There are regressions related to numbered equations in _University Physics_:
![mathregressions1](https://user-images.githubusercontent.com/7863733/42893276-7b1f8a4c-8a79-11e8-9bd7-88e685267b4c.png)

![mathregressions2](https://user-images.githubusercontent.com/7863733/42893315-9b9e54c4-8

[2018-07-18 16:21] kerwinso commented on #1725
Older versions of the same content appear to look OK. Here's the book version 10.17, one version behind the latest: https://cnx.org/contents/1Q9uMg_a@10.17:Ej8o3nbb@7/32-Instantaneous-Velocity-and-

[2018-07-18 16:46] Bkblodget commented on #1725
Additional example from 3.1 of Volume 2:
https://cnx.org/contents/eg-XcBxE@9.9:2fbhPmHK@3/31-Thermodynamic-Systems
<img width="1203" alt="screen shot 2018-07-18 at 11 43 54 am" src="https://user-images.githubusercontent.com/11299035/42895623-141ad84a-8a80-11e8-990a-7eede1302dae.png">

[2018-07-18 16:53] hwangange commented on #1725
_University Physics Volume 3_, Ch. 10 (Nuclear Physics)

[10.1: Properties of Nuclei](https://cnx.org/contents/rydUIGBQ@9.10:r_n6YAFt@3/101-Properties-of-Nuclei)

<img width="901" alt="screen shot 2018-07-18 at 11 46 41 am" src="https://user-images.githubusercontent.com/12180288/42895774-7bcb9a10-8a80-11e8-8370-4556c970a522.png">
<img width="925" alt="screen shot 2018-07-18 at 11 48 46 am" src="ht

[2018-07-18 16:53] Bkblodget commented on #1725
the text between the numbered equations also looks odd. 3.2 of Volume 2: https://cnx.org/contents/eg-XcBxE@9.9:hZxUdQsI@2/32-Work-Heat-and-Internal-Ener

<img width="891" alt="screen shot 2018-07-18 at 11 52 15 am" src="https://user-images.githubusercontent.com/11299035/42896002-2d22a402-8a81-11e8-808a-214f980e9ed2.png">

[2018-07-18 17:04] JoseEscalante6 commented on #1725
The equations used within this section include numbered and unnumbered equations, but it looks like it is acting incorrectly either way. Chapter 6 Section 3 https://cnx.org/contents/rydUIGBQ@9.10:SO11Ukif@2/63-The-Compton-Effect
![screenshot 12](https://user-images.githubusercontent.com/30252254/42896498-af6a5b48-8a82-11e8-99e4-f1b452b9545e.png)

[2018-07-18 17:11] nicolasdamiani commented on #1725
Alignment is behaving incorrectly for equations that should be centered, whether or not they are in Examples.
![screen shot 2018-07-18 at 12 09 36 pm](https://user-images.githubusercontent.com/28710954/42896839-c072c5e6-8a83-11e8-9a17-aabaf0e39d7d.png)

[2018-07-18 17:11] JoseEscalante6 commented on #1725
This equation between equations 6.13 and 6.14 is not styling correctly in Chapter 6 Section 2 https://cnx.org/contents/rydUIGBQ@9.10:EW-vVPuy@3/62-Photoelectric-Effect
![screenshot 13](https://user-images.githubusercontent.com/30252254/42896834-bf605182-8a83-11e8-9a74-7e6416f8a99e.png)

[2018-07-18 17:17] JoseEscalante6 commented on #1725
The two equations with right arrows aren't centered on their own line like they are meant to in Chapter 11  Section 1 https://cnx.org/contents/rydUIGBQ@9.10:YjkN816E@3/111-Introduction-to-Particle-P
![screenshot 14](https://user-images.githubusercontent.com/30252254/42897083-7db0d71a-8a84-11e8-9aa6-d8576e3c3040.png)

[2018-07-18 17:31] Stackblocks commented on #1725
Math displaying much more cleanly after fix is applied.

![image](https://user-images.githubusercontent.com/12678235/42897698-6b63b13e-8a86-11e8-82b0-71f85a27dd32.png)

---

![image](https://user-images.githubusercontent.com/12678235/42897709-7068ed16-8a86-11e8-90b3-3ea65e7e7c1d.png)

---

![image](https://user-images.githubusercontent.com/12678235/42897718-75524584-8a86-11e8-8e10-b47d6837a9b8.png

[2018-07-18 20:37] #1725 closed

[2018-07-18 20:53] brittany-johnson commented on #1712
<img width="966" alt="screen shot 2018-07-18 at 3 52 36 pm" src="https://user-images.githubusercontent.com/24909007/42907174-a68f08be-8aa2-11e8-96ff-3e6b7725cc4a.png">

[2018-07-18 20:56] helenemccarron commented on #1685
This was addressed with PR #1726

[2018-07-18 20:56] #1685 closed

[2018-07-18 20:58] helenemccarron commented on #1712
please note that other padding issues in tables are being resolved here: https://github.com/Connexions/webview/issues/1701

[2018-07-18 22:00] openstaxalina commented on #1725
Confirmed each instance above is fixed on production.  Here's an example that Jose had noted in Vol 3, Chapter 11 Section 2:
<img width="752" alt="screen shot 2018-07-18 at 4 59 36 pm" src="https://user-images.githubusercontent.com/7863733/42910164-13b01aa6-8aac-11e8-86b4-b5102ab32ab0.png">

Further down the page, centered math in an example displays correctly:
<img width="772" alt="screen shot 20

[2018-07-19 09:06] PiotrKozlowski opened #1728 "left pane shows loading message 'This page is not in any books' when page is in a book"
Full desc:

https://trello.com/c/WQ4KGS5N/567-bug-left-pane-shows-loading-message-this-page-is-not-in-any-books-when-page-is-in-a-book

@kerwinso @philschatz

[2018-07-19 14:52] openstaxalina commented on #1636
This is good as-is.  @wilkus27 @Stackblocks please include all EOC images in your testing for this.  Please take a screenshot if this treatment does not work for any particular cases.

[2018-07-19 14:58] Stackblocks commented on #1636
A good source to check would be https://staging.cnx.org/contents/eg-XcBxE@10.1:Qb9bMPxY@10.1/Chapter-Review, where there are a fair number of examples to test.

![image](https://user-images.githubusercontent.com/12678235/42950737-4a0ce172-8b3a-11e8-81d3-89e1d8137055.png)

[2018-07-19 16:35] kerwinso commented on #1728
Moved this to `nice.naga` milestone so we can track for 7/30 release.

[2018-07-19 16:43] marcjeannott commented on #1710
I've edited this module. All appears well. 👍

[2018-07-19 16:43] #1710 closed

[2018-07-19 19:02] kerwinso commented on #1626
Trello card:  https://trello.com/c/mkMLHLd3

[2018-07-19 19:16] openstaxalina commented on #1650
Confirmed these issues are still present in the refreshed content on katalyst01.

I am concerned that the spaces in the content are not semantic and we should not rely on them to add the necessary space after the exercise number.  Would like to discuss at sprint planning.

[2018-07-19 19:32] openstaxalina commented on #1637
Confirmed this is still an issue w/ new content: https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:w-xBY099@6/E--Mathematical-Phrases-Symbol

![screen shot 2018-07-19 at 2 29 57 pm](https://user-images.githubusercontent.com/7863733/42965681-3e4fa038-8b60-11e8-8564-5748d489013c.png)

@marcjeannott would you be able to check this on production?  https://cnx.org/contents/MBiUQmmY:w-xBY099

The header

[2018-07-19 20:09] Stackblocks commented on #1716
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/e31a2f98-79b3-43e6-b641-a37653d11dca)

--

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/99cfd81c-d553-418c-8e03-3ad8d53d23bd)

[2018-07-19 20:09] #1716 closed

[2018-07-19 20:15] Stackblocks commented on #1704
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/da2218e0-8f34-4770-b468-4d1d5c48aff9)

---

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/e162f8a5-de15-49fc-b31a-54366dc0e473)

[2018-07-19 20:15] #1704 closed

[2018-07-19 20:18] Stackblocks commented on #1712
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/58d8f509-7b48-4f67-8b8d-020986288e63)
---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/c2fafbd6-a6ec-47cf-96f0-3af3419749c1)
---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/7eda3154-713f-4dec-8131-30

[2018-07-19 20:18] #1712 closed

[2018-07-19 20:20] Stackblocks commented on #1700
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/fdfa6c5b-4440-4b2a-98db-d061d0c90513)
---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/6c2e4279-62aa-4317-b22a-7d44b2421dd5)

[2018-07-19 20:20] #1700 closed

[2018-07-19 21:51] Stackblocks commented on #1728
Reported as verified by @kerwinso, closing.

[2018-07-19 21:51] #1728 closed

[2018-07-20 06:07] wilkus27 commented on #1669
After investigation it turned out that the only problem was with the footer. I checked several books and in each of them I picked up a few random places for testing. In all of them footer is displayed correctly, e.g:

(https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:2FtAHIO2@2/331-The-Yukawa-Particle-and-th)
![footer](https://user-images.githubusercontent.com/40228854/42985902-ae6fe5c4-8bf3-11e

[2018-07-20 06:07] #1669 closed

[2018-07-20 14:34] wilkus27 opened #1730 "Too small distance between columns"
There is too small distance between columns in table and the sentences from two different columns are too close to each other. (https://katalyst01.cnx.org/contents/s8Hh0oOc@11.1:LlKfCy5H@4/64-Prokaryotic-Cell-Division)
![table](https://user-images.githubusercontent.com/40228854/43008170-95d4152a-8c3a-11e8-9c68-1e47f88a60e4.JPG)

[2018-07-20 16:19] marcjeannott commented on #1637
I've made a new section after every formula.
![formulas](https://user-images.githubusercontent.com/33228728/43013439-89a6a352-8c0e-11e8-8338-31e08721ed63.jpg)

@openstaxalina is this the desired hierarchy? The numbered formulas are h4 now.

[2018-07-20 17:38] openstaxalina commented on #1709
Options:
-ask vendors to add a class to any images that are too large in webview
-only allow images to be 75% of the viewport

[2018-07-20 17:55] openstaxalina commented on #1709
*Decision:* set max viewport width for all images to 60%

[2018-07-20 17:58] Stackblocks commented on #1709
Will also need to probably generate a class for text-heavy images, since this can cause them to be undersized from an a11y standpoint.

[2018-07-20 18:13] openstaxalina commented on #1730
@wilkus27 good find; please continue to look for such tables and please open a new issue with each table.

We need to try to manually control the column widths for each of these tables using colwidth.  There is no good option for controlling this for CSS because it would affect all tables.

[2018-07-20 18:13] openstaxalina commented on #1730
@marcjeannott could you bring this up at the next CM roundtable?

[2018-07-20 18:20] openstaxalina commented on #1650
I would like to add the equivalent of one character of padding after the number, recognizing that due to the extra spaces in the content, many instances will have the equivalent of two spaces until the content is cleaned up.  I will create a new issue for the content clean up.

[2018-07-20 18:34] openstaxalina commented on #1723
Duplicate of #1650 - closing.

[2018-07-20 18:34] #1723 closed

[2018-07-20 18:38] Stackblocks commented on #1705
Issue moved to [Connexions/cnx-recipes #488](https://github.com/Connexions/cnx-recipes/issues/488) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 18:38] #1705 closed

[2018-07-20 21:04] openstaxalina commented on #1677
Confirmed this issue is still present with refreshed content: https://katalyst01.cnx.org/contents/jVCgr5SL@8.197:WzgNHpon@3/111-The-Process-of-Meiosis

![screen shot 2018-07-20 at 4 03 41 pm](https://user-images.githubusercontent.com/7863733/43025236-88d9db6a-8c36-11e8-9cac-98981518cc0f.png)

[2018-07-20 21:06] openstaxalina commented on #1677
If it needs to be fixed, this issue should be fixed on production: https://cnx.org/contents/jVCgr5SL@8.18:WzgNHpon@3/The-Process-of-Meiosis

![screen shot 2018-07-20 at 4 05 32 pm](https://user-images.githubusercontent.com/7863733/43025309-d8225b5c-8c36-11e8-96b9-fcdd29fbde3c.png)

[2018-07-20 21:10] openstaxalina commented on #1650
Created issue to fix content here: https://github.com/Connexions/oer.exports/issues/3714

[2018-07-23 15:00] wilkus27 opened #1732 "Dot list in table"
There is a table with dot list inside. In pdf there are lists without items:

(https://katalyst01.cnx.org/contents/s8Hh0oOc@11.1:qwPV6RBh@5/C--Measurements-and-the-Metric)
![table_con_of_biol](https://user-images.githubusercontent.com/40228854/43084746-94afaaa4-8e99-11e8-88a4-c814dc1c77fb.JPG)

Pdf:
![table_con_of_biol_pdf](https://user-images.githubusercontent.com/40228854/43084796-aaceb488-8e99-

[2018-07-23 18:08] lwtchu commented on #1730
@openstaxalina Talked to Ryan. She says the problem with this isn't the fact that it needs to be set col widths in the content. It's because the text is running right up against the border of each cell. There should be some padding.

[2018-07-23 18:14] lwtchu commented on #1677
Per this issue: https://github.com/Connexions/oer.exports/issues/3350 it might be because a `<para>` is being used. Need to test

[2018-07-23 18:29] openstaxalina commented on #1730
@helenemccarron could you review the above, and perhaps we can park at a scrum and/or next sprint planning?

[2018-07-24 00:12] openstaxalina commented on #1707
created: https://github.com/Connexions/oer.exports/issues/3716

closing this issue.

[2018-07-24 00:12] #1707 closed

[2018-07-24 00:18] openstaxalina commented on #1674
Filed errata; closing.  (duplicate: https://github.com/Connexions/cnx-recipes/issues/490)

[2018-07-24 00:18] #1674 closed

[2018-07-24 00:18] openstaxalina commented on #1732
@helenemccarron I reviewed and prioritized this issue.

[2018-07-24 08:59] uskka commented on #1701
Works fine. Tested on katalyst01.
![screenshot-katalyst01 cnx org-2018 07 24-10-53-33](https://user-images.githubusercontent.com/40228918/43127647-3ff38dcc-8f30-11e8-9b6a-d5b444d76cec.png)

[2018-07-24 08:59] #1701 closed

[2018-07-24 09:04] wilkus27 commented on #1686
Veriffied on katalyst01 (https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:HR_VN3f7@3/Introduction-to-Science-and-th):
![chapter_outline](https://user-images.githubusercontent.com/40228854/43128028-3a24a22c-8f31-11e8-893f-d21e58628299.JPG)

[2018-07-24 09:04] #1686 closed

[2018-07-24 10:14] wilkus27 opened #1736 "Two types of modules beginning"
In Biology for AP at the beggining of the modules we have two informations: "By the end of this section, you will be able to" and "In this section, you will investigate the following questions" but in pdf we have just one information:

katalyst01 (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7fPPRIT6@4/11-The-Science-of-Biology)
![by_the_end_1 1](https://user-images.githubusercontent.com/40228

[2018-07-24 11:04] wilkus27 opened #1737 "Doubled distance between subcaption and figure"
Probably in all the books (checked in Biology for AP, Biology 2e, Concepts of Biology and College Physics for AP) when figure is in the grey box (e.g. "EVERYDAY CONNECTION", "VISUAL CONNECTION", "EXAMPLE") the distance between it and its subcaption is doubled:

e.g. Biology for AP (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7fPPRIT6@4/11-The-Science-of-Biology):
![subcaption_big](https://use

[2018-07-24 12:42] wilkus27 opened #1738 "Text next to the animation"
In Link to Learning box text and animation are next to each other. The end of the sentence should be above the image.
https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:iD94bty5@6/22-Water
![text_image](https://user-images.githubusercontent.com/40228854/43138589-a81b9aa6-8f4f-11e8-8f8d-e4a765fab925.JPG)

[2018-07-24 14:05] Stackblocks opened #1739 "Issue with big tables"
@Stackblocks commented on [Fri Jul 20 2018](https://github.com/Connexions/cnx-recipes/issues/488)

@uskka commented on [Mon Jul 09 2018](https://github.com/Connexions/webview/issues/1705)

Description: When Contents are shown and table is too big, part of the table content is cut out of the screen. There should be mechanism that prevents such behaviour.

Where: Screen from devb/ Accounting / B | P

[2018-07-24 14:24] wilkus27 opened #1740 "Extra header in Science Practice Challenge Questions"
In Biology for AP in modules with exercises (Key Terms, Chapter Summary, Review Questions, Critical Thinking Questions, Test Prep for AP® Courses, Science Practice Challenge Questions) tasks are numbered one by one, but in the **Science Practice Challenge Questions** there is extra infrormation from which module the exercises are.
(e.g. https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:mQvIJaS1@7.1

[2018-07-24 18:35] brittany-johnson commented on #1698
![screen shot 2018-07-24 at 1 26 56 pm](https://user-images.githubusercontent.com/24909007/43158513-75469784-8f45-11e8-9c73-49c7b34e0ff9.png)
All baked books with elements with `[data-bullet-style="none"]` should now display without bullets. For testing purposes, make sure that the list element selected has `[data-is-baked="true"]` if it does not, this means you're looking at a unbaked book. I did

[2018-07-25 13:40] openstaxalina commented on #1709
@helenemccarron on this one - can you confirm that this affects *baked* books only (not all books)?  Thank you!

[2018-07-25 13:56] helenemccarron commented on #1709
@openstaxalina yes, the new CSS rule will be applied in `baked-content.css`

[2018-07-25 14:13] wilkus27 opened #1744 "Inconsistancy in numbering of figures between webview and pdf"
The numbering of figures is the same on katalyst01 and pdf to this moment:
https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:Ao-lRbxu@6/75-Metabolism-without-Oxygen
![figure_7 16_kat](https://user-images.githubusercontent.com/40228854/43206078-23e890e6-9025-11e8-9e59-e209d9eedce3.JPG)

PDF:
![figure_7 16_pdf](https://user-images.githubusercontent.com/40228854/43206169-5b736a2c-9025-11e8-8e8c-b7f876

[2018-07-25 14:23] wilkus27 commented on #1730
@openstaxalina  I retest it after last deployment and it is displayed correctly now:

![table2](https://user-images.githubusercontent.com/40228854/43206821-d81880a2-9026-11e8-86b4-b370859a6c30.JPG)

[2018-07-25 14:38] helenemccarron commented on #1736
Biology and AP Biology are expected to have two different types of learning objective, they have different recipes and templates to that effect.

[2018-07-25 14:41] helenemccarron commented on #1736
This might be a recipe issue. It looks like the content displays both the learning objectives and the metadata abstract. I'll move this to recipes for investigation.

[2018-07-25 14:41] #1736 closed

[2018-07-25 14:41] helenemccarron commented on #1736
Issue moved to [Connexions/cnx-recipes #493](https://github.com/Connexions/cnx-recipes/issues/493) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-25 14:43] helenemccarron commented on #1744
This is most likely a recipe issue, moving the issue over.

[2018-07-25 14:43] helenemccarron commented on #1744
Issue moved to [Connexions/cnx-recipes #494](https://github.com/Connexions/cnx-recipes/issues/494) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-25 14:43] #1744 closed

[2018-07-25 14:45] helenemccarron commented on #1740
This is a recipe issue, the EOC section should not be separated by section. Moving over.

[2018-07-25 14:45] #1740 closed, assigned to nobody

[2018-07-25 14:45] helenemccarron commented on #1740
Issue moved to [Connexions/cnx-recipes #495](https://github.com/Connexions/cnx-recipes/issues/495) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-25 14:45] openstaxalina commented on #1730
@wilkus27 thank you!  @helenemccarron FYI - I am going to close this issue.

[2018-07-25 14:45] #1730 closed

[2018-07-25 14:48] helenemccarron commented on #1738
This might be related to the way the images are clearing content (first seen in #1714 )

[2018-07-26 07:56] PatBoj commented on #1636
@Stackblocks It looks good on my localhost. On staging server my newest changes were not included.
![image](https://user-images.githubusercontent.com/20907906/43249086-0bde70ca-90ba-11e8-8d69-e4e8c5cb0fb4.png)

[2018-07-26 13:17] wilkus27 opened #1748 "Wrong table in pdf"
There is wrong table in pdf. On katalyst01 it looks like that (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:Ml3eLVPo@7.1/Review-Questions)

![diff_table_kat](https://user-images.githubusercontent.com/40228854/43264397-551d86fa-90e6-11e8-9491-69e5a820f34a.JPG)

PDF:

![diff_table_pdf](https://user-images.githubusercontent.com/40228854/43264412-5e044e98-90e6-11e8-909e-b79b5b287b4a.JPG)

Because

[2018-07-26 14:15] openstaxalina commented on #1636
@Stackblocks to provide a link to the equivalent content on katalyst01 - chapter 10 chapter review questions.

[2018-07-26 14:17] Stackblocks commented on #1636
Here is the link to the content on Katalyst01: https://cnx.org/contents/eg-XcBxE@9.9:Qb9bMPxY@9.9/Chapter-Review

The fix won't show up on staging until it is part of the release candidate, so the order of checking is localhost -> katalyst01 -> staging (OpenStax deploys after code freeze) -> production.

[2018-07-26 15:12] brittweinstein opened #1751 "Develop a flowchart for logical content paths"
## Description

As a developer, I'd like a flowchart indicated the logical paths content takes to end up in baked states (e.g. success, failed, fallback, etc.), so that I can reference our baking logic at a glance rather than code diving.

@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/177)

## Acceptance Criteria

- Provides a visual flowchart

[2018-07-26 15:13] brittweinstein opened #1752 "Internal QA"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/176)

[2018-07-26 15:13] brittweinstein opened #1753 "Internal bug fixes"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/175)

[2018-07-26 15:14] brittweinstein opened #1754 "Review of Katalyst work"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/174)

[2018-07-26 15:14] brittweinstein opened #1755 "Training & supporting Katalyst"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/173)

[2018-07-26 15:18] brittweinstein opened #1756 "Screenreader compatibility with reading headings"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/166)

**SCENARIO** _Briefly describe the issue._

Make sure that screenreaders read all headings and sub-headings in readings -- needs investigation. In V-sprint planning we discussed this ticket cannot be handled by a Tutor fix alone, so we probably want to take this one out of the Tutor category

[2018-07-26 15:18] brittweinstein opened #1757 "a11y: Ensure the solution is read when exercise "Show Solution" is clicked (aria-live?)"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/165)

From https://drive.google.com/file/d/0BxiTbl6K_ZNRelpxRlkwYkZnb3c/view

Issue 10: There is no feedback for 'show solution' buttons
Video example: https://drive.google.com/file/d/0B2fFZC6BqvTLTVJkUXdRUmN1UVk/view?usp=sharing
Reference to standards
1.3.1 Info and Relationships: Information, str

[2018-07-26 15:19] brittweinstein opened #1758 "a11y: OpenstaxCNX logo needs alt text denoting what the image is"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/164)

From https://drive.google.com/file/d/0BxiTbl6K_ZNRelpxRlkwYkZnb3c/view

Logo image of Openstax CNX is not labeled as an image:

Suggestion: label logo as an image with a link to the main page.

![image.png](https://images.zenhubusercontent.com/5a01faba8a75884b90866af7/e57563d0-e4c0-4fa5-b64d-

[2018-07-26 15:19] brittweinstein opened #1759 "a11y: "Get this Book" button should have aria-role="dialog""
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/129)

From https://drive.google.com/file/d/0BxiTbl6K_ZNRelpxRlkwYkZnb3c/view

Issue 12: "Get this book" button has inaccessible pop-up window

Reference to standards
1.3.1 Info and Relationships: Information, structure, and relationships conveyed through presentation can be
programmatically determi

[2018-07-26 15:21] brittweinstein opened #1760 "Webview - accessibility issues backlog"
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/120)

https://trello.com/b/8DKh5iQR/cnx-backlog?menu=filter&filter=label:accessibility

[2018-07-26 15:27] helenemccarron opened #1761 "rozżarzona.ropucha v0.37.0 Release"
# Release Checklist
- [x] Create a new milestone
- [x] Create a milestone branch
- [x] Merge Katalyst's milestone branch
- [x] Final milestone code review
- [ ] Merge the milestone branch into master & tag it
- [ ] Webview: verify that tarball got pushed to to https://packages.cnx.org/js-builds/ (see Webview release documentation)
- [ ] Update version in cnx-deploy, create a PR and notify Kerwin

[2018-07-26 15:53] openstaxalina commented on #1748
It looks like there was some type of errata update to the table after the PDF was generated.  The simplest solution would be to remove the numbering on the table in webview on cnx.org.  That way, the numbering will not be thrown off.  @Bkblodget could you make this table unnumbered in webview?  It's here: https://cnx.org/contents/bDIuMp-w@7.1:xAaCmxuG@6/Laws-of-Inheritance

[2018-07-26 16:15] marcjeannott commented on #1692
Bullets appear correctly now -
![bullets](https://user-images.githubusercontent.com/33228728/43274583-2df55894-90c5-11e8-96e8-47d584a4ee0b.jpg)

[2018-07-26 16:15] #1692 closed

[2018-07-26 16:46] brittweinstein opened #1762 "Manual Testing"

[2018-07-26 16:48] brittweinstein opened #1763 "Add to baking training documentation (Kerwin, Alan)"

[2018-07-26 16:51] #1763 closed

[2018-07-26 16:51] brittweinstein commented on #1763
Issue moved to [Connexions/cnx-recipes #508](https://github.com/Connexions/cnx-recipes/issues/508) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-27 09:48] uskka commented on #1737
Works fine. Tested on Biology for AP - katalyst01 and Biology on katalyst01.

![screenshot-katalyst01 cnx org-2018 07 27-11-44-52](https://user-images.githubusercontent.com/40228918/43314249-ae54c952-9192-11e8-879d-626cb9d41ebd.png)
![screenshot-katalyst01 cnx org-2018 07 27-11-45-46](https://user-images.githubusercontent.com/40228918/43314251-afacf3e2-9192-11e8-8680-f09c96b80ace.png)

[2018-07-27 09:48] #1737 closed

[2018-07-27 09:54] PiotrKozlowski commented on #1703
Should we make this look like this while loading?
![image](https://user-images.githubusercontent.com/31478212/43314610-b861e366-9193-11e8-9f51-2177f0ebcc89.png)

[2018-07-27 11:03] uskka commented on #1650
Works fine. Tested on katalyst01

![screenshot-katalyst01 cnx org-2018 07 27-12-59-22](https://user-images.githubusercontent.com/40228918/43317510-58de6fd6-919d-11e8-823b-d68214effd34.png)

[2018-07-27 11:03] #1650 closed

[2018-07-27 11:20] uskka commented on #1732
Issue fixed. Tested on katalyst01.

![screenshot-katalyst01 cnx org-2018 07 27-13-18-17](https://user-images.githubusercontent.com/40228918/43318050-a6e01a0c-919f-11e8-9874-7e947e1032a9.png)

[2018-07-27 11:20] #1732 closed

[2018-07-27 11:46] uskka commented on #1636
Issue fixed on katalyst01.

![screenshot-katalyst01 cnx org-2018 07 27-13-35-48](https://user-images.githubusercontent.com/40228918/43318700-0195ee48-91a2-11e8-9a93-3779a87a1b00.png)

[2018-07-30 08:23] uskka opened #1764 "Dots appear in table content"
Description: There are no dots in pdf, dots should be removed. Issue was fixed for Concepts of Biology(https://github.com/Connexions/webview/issues/1732 )but still appears in other biology books.

Biology 2e:
https://katalyst01.cnx.org/contents/jVCgr5SL@8.197:Rhq7pkI2@3/C--Measurements-and-the-Metric
Biology for AP® Courses:
https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:-p-m85Qc@4/C--Measuremen

[2018-07-30 11:10] uskka opened #1765 "Link to learning with youtube link doesn't scale"
**Description**: Link to learning with youtube link, doesn't scale when website gets zoomed out. Works fine on katalyst01 where the book is beaked.

**Where**: cnx,  biology 2e, screen from Safari.

https://cnx.org/contents/jVCgr5SL@13.1:rinsWGYq@9/Groups-of-Protists

![image](https://user-images.githubusercontent.com/40228918/43393238-a13e41ba-93f6-11e8-9680-cc225bed583c.png)

[2018-07-30 13:35] helenemccarron commented on #1764
@openstaxalina this might be more of a content issue, should we remove all list bullets in tables or should the content have control over what can have bullets or not?

[2018-07-30 20:36] openstaxalina opened #1766 "Preface: reduce padding before a nested section header"
Location: https://content02.cnx.org/contents/o0xnhd_t@7.1:44D1SI_3@1/Preface

![prefaceheaders1](https://user-images.githubusercontent.com/7863733/43422072-385d917e-940e-11e8-8b0a-2c671f978895.png)

This will likely apply to all business titles.  Need to decide whether it applies to all baked books.  All baked books should have a similar cnxml structure in the preface.

[2018-07-30 20:40] openstaxalina commented on #1766
![prefaceheaders2](https://user-images.githubusercontent.com/7863733/43422268-d1e1a0c4-940e-11e8-9d8d-00bb55f53107.png)

[2018-07-31 07:45] PiotrKozlowski commented on #1765
This is fixed on baked books. Should we apply the same css for not baked books or should you bake content on production?
cc @helenemccarron

[2018-07-31 08:44] wilkus27 opened #1767 "Problem with distance between QR code and text - 2"
There is no distance between QR code and text again:
https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:UOJ2Y4LM@4/155-Ribosomes-and-Protein-Synt

![qr_again](https://user-images.githubusercontent.com/40228854/43448514-76565b82-94ae-11e8-95ca-fa402c1e7233.JPG)

[2018-07-31 08:45] wilkus27 commented on #1767
#1681

[2018-07-31 10:21] wilkus27 opened #1769 "Unnumbered table in pdf"
On katalyst01 table is numbered but in pdf it isn't.

katalyst01: (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:ghsF7IPX@7.1/Test-Prep-for-AP-Courses)

![numbered_table_kat](https://user-images.githubusercontent.com/40228854/43453955-ce7ea820-94bb-11e8-96ea-e4e9a3dbced2.JPG)

PDF:

![unnumbered_tab_pdf](https://user-images.githubusercontent.com/40228854/43453967-d88707b8-94bb-11e8-9c39-29d3a48

[2018-07-31 10:49] wilkus27 commented on #1769
The same problem: https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:f_wVv68_@7.1/Test-Prep-for-AP-Courses ->Table.19.3 and Table.19.4 are unnumbered in pdf:

![another_tab_pdf](https://user-images.githubusercontent.com/40228854/43455453-2dd39106-94c0-11e8-8c75-766e4e6e402d.JPG)

[2018-07-31 14:45] helenemccarron commented on #1765
@openstaxalina This might be a question for you, this might be a global issue but would imply heavy regression testing.

[2018-07-31 15:46] helenemccarron commented on #1766
![2018-07-31_10-45-57](https://user-images.githubusercontent.com/8514591/43470741-edea2ca0-94ae-11e8-920c-b4fe904e8eb9.png)

[2018-07-31 16:59] PiotrKozlowski commented on #1767
Merged and ready for testing at #1734 branch

[2018-07-31 18:17] lwtchu commented on #1709
Going to put class `dpi-200` (36%) and `dpi-300` (24%) in the `<media>` tag

[2018-07-31 18:30] PiotrKozlowski commented on #1739
Merged and ready for testing at #1734 branch.

Please see that this table probably doesn't exists on katalyst01 and you will have to test it on localhost pointed to devb

**Testing scenario:**
To test it you need mouse or touch pad.
On big tables you should be able to:
 - see scrollbar at the bottom of table and use it
 - click on the table and use arrows to scroll horizontally
 - swipe the table

[2018-07-31 20:26] brittweinstein opened #1773 "a11y: Enable AssistiveMML so MathML is read by screenreaders"
From https://drive.google.com/file/d/0BxiTbl6K_ZNRelpxRlkwYkZnb3c/view "Issue 7"

Reference to standards
1.1.1 Non-text Content: All non-text content that is presented to the user has a text alternative that serves the
equivalent purpose (Level A)
Suggestion
Add correct alt text to formulas to make them accessible.

#Description
This video (prepared by a vendor who did an audit on our Biology book

[2018-07-31 20:42] brittweinstein commented on #332
@philschatz can we close this? This is very old and I believe work has been done in other regards to improve this.

[2018-07-31 20:44] Bkblodget commented on #1677
confirmed this error was happening because of a <para> within the <footnote> tag. Once <para> is removed, the footnotes appear correctly.

<img width="1247" alt="screen shot 2018-07-31 at 3 41 50 pm" src="https://user-images.githubusercontent.com/11299035/43486106-8c89bd16-94d8-11e8-937c-08f017331aef.png">

This change has been implemented on prod for chapter 11 section 1 as well.

[2018-07-31 20:44] #1677 closed

[2018-07-31 20:53] brittweinstein opened #1774 "enable swiping big tables with mouse for desktop users"
swipe-tables.js is allowing users swiping tables with their mouse (it's imitating touching) instead of using scrollbar at the bottom (it's working like on the trello boards where you ...

# Test plan
Merged and ready for testing at #1734 branch.

Please see that this table probably doesn't exists on katalyst01 and you will have to test it on localhost pointed to devb

Testing scenario:
To test it

[2018-07-31 20:54] lwtchu commented on #1709
DECISION: Leave everything at 100% of the viewport. `scale-down` class to be used in the `<media>` tag.

[2018-07-31 21:05] #332 closed

[2018-07-31 22:16] kerwinso commented on #1739
@PiotrKozlowski I deployed the sha `9e9a1b023d2415e651c103ae68efa4d5580a3c41` to qa.cnx.org. I then copied over content here: https://qa.cnx.org/contents/lmUPwlcA@1/Present-Values-Table-Set-Rotat

I am not seeing this fix there. Please advise.

[2018-08-01 00:29] openstaxalina commented on #1765
@helenemccarron I would like to fix this for baked books **only**. cc @Stackblocks

[2018-08-01 00:43] openstaxalina commented on #1764
@helenemccarron I agree; the content should control what can have bullets or not.  @uskka would you be able to share other examples like this, so we can correct them in the content?

[2018-08-01 06:44] PiotrKozlowski commented on #1739
@kerwinso I applied this for tables inside parent with `.os-table` class and in your link there is no `.os-table` as it was on devb.

Should I apply this to all tables? And when you are using `.os-table` class?

[2018-08-01 09:53] wilkus27 commented on #1767
Verified on katalyst01:

![qr](https://user-images.githubusercontent.com/40228854/43514895-79cfbb04-9581-11e8-9d2e-a346cf365142.JPG)

[2018-08-01 09:53] #1767 closed

[2018-08-01 10:31] wilkus27 opened #1777 "Incorrect display of the list"
When A,B,C,D list appears in the pdf, such item displays from the new line:
![list_in_text_pdf](https://user-images.githubusercontent.com/40228854/43516590-4607fb74-9586-11e8-9cc0-914fff4c26e0.JPG)

On webview items are in line:
(https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:3E6YBlds@7.1/Science-Practice-Challenge-Que)

![list_kat](https://user-images.githubusercontent.com/40228854/43516635-784

[2018-08-01 13:16] brittweinstein opened #1778 "Testing: derived-from metadata is missing its required `md:language` attribute"
The collection.xml and cnxml.xml that are derived from other work do not get their `md:language` tag filled in. Needs to be fixed in legacy.

###Exit criteria:
Collection.xml  (and index.xml ) contains language for derived-from metadata, for derived content.

###Testing:

1. go to legacy for a derived collection: visit `https://legacy<environment>.cnx.org/content/col11111/latest/source-create`
Thi

[2018-08-01 14:58] Stackblocks commented on #1698
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/499808a3-e725-4493-bd10-f58e53cd8759)

[2018-08-01 15:54] #1778 closed

[2018-08-01 16:02] kerwinso commented on #1739
@PiotrKozlowski Aha tahnks! After I baked the test collection containing that module, it works fine: https://qa.cnx.org/contents/DXGWD398@2.1:lmUPwlcA@1/A--Present-Values-Table-Set-Ro

I will leave this issue open for now in case the Katalyst QA team wants to verify.

[2018-08-01 16:09] brittweinstein opened #1779 "Weighted Search"
1. Adjust weights in tsearch vectors based on the location (in title, keywords or text) a specific lexeme appears so that the modified search will generate results in the similar order as the existing search.
2. Use the search indices in latest_modules to filter the results.

https://github.com/Connexions/cnx-archive/pull/569

https://github.com/Connexions/cnx-db/pull/132

[2018-08-01 16:11] brittweinstein opened #1780 "Book Summary/Abstract + Keywords Do Not Populate to CNX from Legacy"
#Scenario
A book summary, or abstract, can be filled in on legacy but not show on CNX.org.

#Steps to Reproduce
1. Navigate to cnx.org
2. Click "Introduction to Sociology 2e" on the homepage
3. Scroll to the bottom of the page
4. Click "More Information"
5. Note that the summary is blank
6. Click "Legacy Site" in the top right
7. Once the page loads, click the collection title "Introduction to Soc

[2018-08-01 16:15] brittweinstein opened #1781 "Placeholder: Webview Test Automation"
Legacy2Press Tests: No issues
Webview Tests: Issues with functionality

The goal is to reduce the burden of releasing Webview.

Definition of Done: When Mike merges PR and TestRail cards are complete with all passing rates.

Currently blocked on a few test cases due to bugs on Webview:
https://github.com/openstax/cnx-automation/issues/38
Bug card for this is in backlog:https://trello.com/c/DL7xEWo

[2018-08-01 16:33] Stackblocks commented on #1758
The logo now has alt text reading "OpenStax CNX" but from an accessibility standpoint it should probably be more along the lines of "Openstax CNX Logo and link to main page" or something like that for people who are operating their computer with limited or no vision. Is that correct @brittweinstein ?

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/9f3def4b-0470-4ffd-9d8

[2018-08-01 16:34] brittweinstein commented on #1758
I think @openstaxalina would be the best person to make this call!

[2018-08-01 16:36] openstaxalina commented on #1758
@Stackblocks good point.  I reviewed the "Logos" section here: https://webaim.org/techniques/alttext/

And determined that we can leave this as-is.  "OpenStax CNX" is correct in this case.

[2018-08-01 16:37] #1758 closed

[2018-08-01 16:39] Stackblocks commented on #1759
Displaying as specified with updated version of content / code.
 ![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/b900f22e-34fd-420c-bfbf-0e1c5bd422de)

[2018-08-01 16:39] #1759 closed

[2018-08-01 16:45] brittweinstein opened #1782 "Add canonical link to PDF downloads"
High priority task from SEO review: google indexes the PDF downloads, and returns links to them as reasonably high quality results. Rather than blocking indexing the PDFs, we need to add rel-canonical links. This will require code in nginx static file server to lookup the UUID for any given book, based on the existing PDF link Or, we rework the link to somehow include the UUID (query param at end?

[2018-08-01 16:59] brittweinstein opened #1783 "Story: SEO: Improve Page Load Times"
Using the Google Search Console as a tool for investigate page load times.  Determine what work would be needed to reduce page load times.

Opened https://trello.com/c/WBkawzS8/94-update-the-varnish-log-config-to-report-be-load-times on DevOps board.

Then need to configure Graylog...summer intern project?

[2018-08-01 17:01] brittweinstein opened #1784 "Create new tables to speed up "books this page is in" query and update triggers"
# Description

We will create new tables that cache (A) all book versions that contain a specific page version and (B) the highest book version that contains each specific page version.

Existing DB triggers that update the trees table will have to be updated to also maintain these 2 tables.

## Technical Notes

(A) will not be used by this specific query, but will be useful for the in-book search

[2018-08-01 17:09] Stackblocks commented on #1766
Displaying as specified with updated version of content / code.
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/d8e1d8be-83b9-4e6c-b3f4-7eab1cb4bb35)

[2018-08-01 17:09] #1766 closed

[2018-08-01 21:31] kerwinso commented on #1779
@CecileJiaqiWang Please add a test plan to this issue, and also link to PRs.

[2018-08-01 21:34] kerwinso commented on #1773
@alancooke1 has his machine back and will comment in this card when he tests on prod.

[2018-08-02 07:37] PatBoj commented on #1636
This issue should be fixed in recipes and webview. I've already done half the job https://github.com/Connexions/cnx-recipes/issues/454/

[2018-08-02 09:32] PatBoj commented on #1636
Fixed :taco:
![Uploading image.png…]()

[2018-08-02 09:43] uskka commented on #1739
@kerwinso We can not test it because this book doesn't exist in katalyst01 and we can not deploy on qa.cnx.org. Piotr's change is no longer visible on qa.cnx.org probably due to deploy from another brunch on this website.

[2018-08-02 11:03] wilkus27 commented on #1764
Examples from Biology for AP finded on katalyst01:
(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:FL8ttb-h@5/121-Mendels-Experiments-and-th -> Table.12.1

(2) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:jsEMosra@5/211-Viral-Evolution-Morphology -> Table.21.1

(3) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:-p-m85Qc@4/C--Measurements-and-the-Metric

[2018-08-02 12:34] wilkus27 opened #1788 "Incorrect footnote format"
The same problem as in issue #1677 :

(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:qn1hGEbS@6/122-Characteristics-and-Traits
![footnote](https://user-images.githubusercontent.com/40228854/43583841-fdc263c8-9660-11e8-8baa-7050c0552351.JPG)

Other examples:
(2) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:IZVC8cIx@4/132-Chromosomal-Basis-of-Inher

(3) https://katalyst01.cnx.org/contents/

[2018-08-02 13:51] uskka commented on #1765
Issue already fixed for baked books.

[2018-08-02 13:51] #1765 closed

[2018-08-02 14:48] Stackblocks commented on #1709
Thanks to @tomjw64 for pointing out that the class is `scaled-down`, not `scale-down`. Displaying as specified with updated version of content / code when the class is applied.

## Without class="scaled-down"
![image](https://user-images.githubusercontent.com/12678235/43591425-efdf0e0a-9638-11e8-879f-69be2371556f.png)

## With class="scaled-down"
![image](https://user-images.githubusercontent.com/

[2018-08-02 14:48] #1709 closed

[2018-08-02 14:55] Stackblocks commented on #1739
I'm able to scroll using trackpad, and by clicking/sliding on the scrollbar at the bottom with updated version of content / code. I am unable to click on the table and use left and right arrow keys to scroll, but I can tab to the table then use arrow keys. @openstaxalina, does this seem like an acceptable set of scrolling options?

![2018-08-02_09-50-46-1](https://user-images.githubusercontent.com

[2018-08-02 15:13] uskka opened #1789 "Table align issue"
Description: Table content is centered while the table header is left aligned.

Where : https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:RCFtg_5-@7/61-Rotation-Angle-and-Angular-

![screenshot-katalyst01 cnx org-2018 08 02-16-49-07](https://user-images.githubusercontent.com/40228918/43592059-08d851fa-9675-11e8-9726-b215b2d7dd41.png)

[2018-08-02 15:15] kerwinso opened #1790 "Review card for 8-13-18 release"
## Milestone dates:
[Link to release report](https://app.zenhub.com/workspace/o/connexions/webview/reports?report=release&release=5b59e22e50693b7686930f88)

## Repos updated:
- refer to staging deploy card: https://trello.com/c/3GhSiceI/226-cnxbooks-deploy-to-staging-servers-for-20180813-release

## Demo?:
- none
## No Demo:
- see issues below

## Links to DevOps cards:
- https://trello.com/c/3GhS

[2018-08-02 15:35] m1yag1 commented on #1547
npm output when installing dependencies has a warning that bower is deprecated.

[code]

[2018-08-02 15:38] kerwinso commented on #1779
Test plan in Trello

[2018-08-02 15:41] kerwinso commented on #1780
Ross to attach PRs and also open a new PR for cnx-deploy.
Bey & Kerwin to come up with something resembling a test plan

[2018-08-02 16:15] Stackblocks commented on #1739
Scrolling was deemed acceptable, closing issue.

[2018-08-02 16:15] #1739 closed

[2018-08-02 16:16] Stackblocks commented on #1774
Should this be closed alongside https://github.com/Connexions/webview/issues/1739 ?

[2018-08-02 16:59] reedstrm commented on #1780
https://github.com/Rhaptos/Products.RhaptosRepository/pull/19

https://github.com/Rhaptos/Products.RhaptosModuleStorage/releases/tag/v1.2.2

(Apparently, I did that one directly :-) )

[2018-08-02 17:00] reedstrm commented on #1780
Note that conversion of cnxml to html abstract is still missing

[2018-08-02 17:08] lwtchu opened #1791 "scaled-down images' captions should scale down with the image"
![image](https://user-images.githubusercontent.com/12678235/43591448-fd7eb2b8-9638-11e8-9558-6a8c09a04941.png)
Caption to go to 60% with the image.

[2018-08-02 17:11] brittweinstein commented on #1774
Sounds good! I know Kerwin looked at this and I believe this morning we said we were comfortable releasing :)

[2018-08-02 18:18] tomjw64 commented on #1791
If it is desired for captions to scale down with the images, then we can use a recipe change to copy the `scaled-down` class on the media tags to the encompassing `os-figure`, the apply the smaller width to both
`.scaled-down > img`
and
`.scaled-down > [data-type="media"] > img`

[2018-08-02 19:13] kerwinso commented on #1779
Issue moved to [Connexions/cnx-db #136](https://github.com/Connexions/cnx-db/issues/136) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-02 19:27] Dantemss opened #1794 "URL-escape exercise tags"
@philschatz suggests it is probably a good idea to escape the exercise tags that appear in the content before making the requests to exercises, in case they contain url-unsafe characters or double quotes.

[2018-08-02 21:26] kerwinso commented on #1779
Reopening to track this since cnx-db milestone functionality in github is screwed up.

[2018-08-02 21:32] kerwinso opened #1795 "fetch exercises by nickname"
info is in https://github.com/Connexions/cnx-publishing/pull/221

and
https://trello.com/c/Y6pftTpZ/577-cnx-code-fetch-exercises-by-nickname?menu=filter&filter=label:release-2018.08.13

---
This work is needed to support listing and referring to assessments by a "nickname".

Per Ross - I concur w/ 2 days - there's both Webview/JS work and PDF pipeline work

Story card: https://trello.com/c/JeVQGCs

[2018-08-03 07:41] uskka opened #1796 "Two similar tables have different padding in it's content"
Description: Two similar tables have different padding in it's content which looks bad. They should have the same padding.

https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information

![screenshot-katalyst01 cnx org-2018 08 03-09-35-29](https://user-images.githubusercontent.com/40228918/43630523-d828a866-9700-11e8-8be0-e856b08d99d8.png)

[2018-08-03 07:54] PiotrKozlowski commented on #1789
This is probably content issue because in this table `mathml` is generated as `<math display="block">` so MathJax is generating this as a block.

In other table: https://katalyst01.cnx.org/contents/1Q9uMg_a@10.18:7P5bvslo@5/C--Fundamental-Constants `mathml` starts with `<math display="inline">` and then it's generated properly.

Should we force MathJax to be always inline inside of the tables?

[2018-08-03 08:49] uskka opened #1797 "Tables in Appendices Aren't Numbered and Title May Not Be Displaying Correctly"
Description :  Table description appears as grey, and there is no table numbering but the book is baked. Similar issue appeared in unbaked book:  https://github.com/Connexions/cnx-recipes/issues/392

https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information

![screenshot-katalyst01 cnx org-2018 08 03-09-43-15](https://user-images.githubusercontent.com/40228918/43630822-b4832

[2018-08-03 13:12] PiotrKozlowski commented on #1797
Tables from this link does not have `.os-table` class.

Also first of those tables should be swipable but it can't without `.os-table` class

[2018-08-03 13:19] PiotrKozlowski commented on #1796
For now width of columns depends on the length of longest word.
Btw. Those tables doesn't have `<thead>`

[2018-08-03 14:51] brittweinstein opened #1798 "Business Ethics - Appendix class and generated output"
@mwest-WWprod commented on [Sun Jul 22 2018](https://github.com/Connexions/oer.exports/issues/3715)

content01
GLOBAL

We've tagged the appendices per the tagging legend:

`<document class="appendix">`

But output is not appearing as expected, example is given below.
[col10011-1.3.pdf](https://github.com/Connexions/oer.exports/files/2215211/col10011-1.3.pdf)

Please advise re: a tagging legend cha

[2018-08-03 14:55] #1798 closed

[2018-08-03 14:56] brittweinstein commented on #1798
Issue moved to [Connexions/oer.exports #3732](https://github.com/Connexions/oer.exports/issues/3732) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 14:58] brittweinstein opened #1799 "Business Ethics - Spacing after endnotes"
@mwest-WWprod commented on [Thu Jul 19 2018](https://github.com/Connexions/oer.exports/issues/3713)

content01
GLOBAL - Webview

No space is included in the Webview after endnotes; endnotes should have space between endnote number and start of text.

![endnote spacing_webview](https://user-images.githubusercontent.com/19212926/42971181-651adf98-8b79-11e8-8d33-936d85608525.png)

---

@openstaxalina

[2018-08-03 15:07] openstaxalina commented on #1791
*Decision:* We will not do recipe magic.  We will put the scaled-down class on the figure tag if there is on; on the media tag if there is no figure tag.  This will be a ornery.orthrus.junior fix.

[2018-08-03 15:08] openstaxalina commented on #1757
@helenemccarron will analyze and assign points.

[2018-08-03 15:15] helenemccarron opened #1800 "Too long distance between words in table"
@wilkus27 commented on [Thu Aug 02 2018](https://github.com/Connexions/cnx-recipes/issues/519)

The problem from issue #459 also occurs in Biology for AP:
(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:qZUaLE-Z@7.1/Science-Practice-Challenge-Que -> table 6.2
![distance_header](https://user-images.githubusercontent.com/40228854/43583335-871f0e5c-965f-11e8-88b5-2b6265ba94bd.JPG)

Other example

[2018-08-03 15:16] helenemccarron opened #1801 "Issue with math symbols in tables"
@uskka commented on [Thu Aug 02 2018](https://github.com/Connexions/cnx-recipes/issues/518)

Description: Math symbols in tables are centred and have a big padding while the rest of the content is not centred which makes the tables to look like something broke.

Where: katalyst01 / College Physics / Useful Information
https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information

[2018-08-03 15:16] helenemccarron opened #1802 "Issue with math symbols in tables"
@uskka commented on [Thu Aug 02 2018](https://github.com/Connexions/cnx-recipes/issues/518)

Description: Math symbols in tables are centred and have a big padding while the rest of the content is not centred which makes the tables to look like something broke.

Where: katalyst01 / College Physics / Useful Information
https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information

[2018-08-03 15:17] brittweinstein opened #1803 "Business Ethics - Endnote module headers in Webview"
@mwest-WWprod commented on [Thu Jul 19 2018](https://github.com/Connexions/cnx-recipes/issues/485)

content01
GLOBAL - Webview

Endnotes should not have module headers listed in Webview (see PDF), if it is possible to remove them.

![endnote module headers](https://user-images.githubusercontent.com/19212926/42972970-529d8ac2-8b7f-11e8-8428-99960234bcd5.png)

---

@openstaxalina commented on [Fri A

[2018-08-03 15:18] #1803 closed

[2018-08-03 15:37] PiotrKozlowski commented on #1802
If you will inspect those equations then you can see `<script>` tag next to them and inside of it there is `mathml` from which MathJax was generating equation.

For centerd equations `mathml` **before rendering** had `display="block"` and this is why MathJax is generating those as a blocks.

I assume that author can set `mathml` to be `inline` or `block` < you can inspect other elements to see tha

[2018-08-03 17:17] #1764 closed

[2018-08-03 17:17] brittweinstein commented on #1764
Issue moved to [Connexions/content-managers #194](https://github.com/Connexions/content-managers/issues/194) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 17:17] #1748 closed

[2018-08-03 17:17] brittweinstein commented on #1748
Issue moved to [Connexions/content-managers #195](https://github.com/Connexions/content-managers/issues/195) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 17:18] #1673 closed

[2018-08-03 17:18] brittweinstein commented on #1673
Issue moved to [Connexions/content-managers #196](https://github.com/Connexions/content-managers/issues/196) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 17:50] helenemccarron commented on #1797
Mhh. If the book is baked properly, it might be a recipe issue. Are tables working properly in the full baked html?

[2018-08-03 18:00] helenemccarron commented on #1777
@openstaxalina is this something we need to address? First we cannot target only Biology, so this may have wide implications, second, I think this doesn't look bad.

[2018-08-03 18:01] helenemccarron commented on #1789
CC @openstaxalina

[2018-08-03 18:02] helenemccarron commented on #1788
cc @openstaxalina

[2018-08-03 20:01] brittweinstein commented on #1784
Issue moved to [Connexions/cnx-db #137](https://github.com/Connexions/cnx-db/issues/137) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 20:01] #1784 closed

[2018-08-03 21:12] openstaxalina opened #1804 "Placeholder: CNX Training for Tom & Nathan"
Topics to cover (copied from Bryan's training card):

-Install software on machine
-release process
-maybe discuss data flow? from publishing to web/PDF
-discuss tools we use (e.g. recipes, content copy tool(?), )
-any training specific to this card in cnx-publishing: https://app.zenhub.com/workspace/o/connexions/cnx-publishing/issues/224

[2018-08-05 22:25] openstaxalina commented on #1756
I need to create a new issue that has the relevant information for CNX.  Closing this issue.

[2018-08-05 22:25] #1756 closed

[2018-08-06 06:52] PiotrKozlowski commented on #1800
Those headings have `<div data-type="newline" id="77388"><br></div>` after each word so it looks like content issue.

Also you probably wanted to reference `459` from `cnx-recipes` https://github.com/Connexions/cnx-recipes/pull/459

![th](https://user-images.githubusercontent.com/31478212/43701140-6c9117e4-9955-11e8-8b5e-24b8876cfc6d.png)

[2018-08-06 07:31] wilkus27 commented on #1789
The same problem in College Physics for AP **Table 6.1** (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:M4Nu7PGW@2/61-Rotation-Angle-and-Angular-)****

[2018-08-06 07:51] wilkus27 commented on #1797
The same problem in College Physics for AP : https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:R3te9Vua@4/52-Drag-Forces

![grey_capt](https://user-images.githubusercontent.com/40228854/43703803-34d0d674-995e-11e8-9faa-2db97c75328c.JPG)

This is how it looks in PDF:

![grey_capt_pdf](https://user-images.githubusercontent.com/40228854/43703822-41a9acae-995e-11e8-87c2-c7b95bd84d5e.JPG)

[2018-08-06 09:04] PiotrKozlowski commented on #1797
This table is inside `.os-table` and there is caption inside `.os-caption-container` but probably greyed caption should be visable?

[2018-08-06 12:54] wilkus27 opened #1806 "Different content on webview and PDF"
Example 10.1 has different content on webview and pdf. It causes inconsistancy in equation numbering:
https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:bs_J-Oeb@3/101-Angular-Acceleration

![diff_cont](https://user-images.githubusercontent.com/40228854/43717591-543274f8-9988-11e8-8acd-6327a8b76237.JPG)

PDF:

![diff_cont_pdf](https://user-images.githubusercontent.com/40228854/43717600-5dd167bc-99

[2018-08-06 13:46] #424 closed

[2018-08-06 13:46] #471 closed

[2018-08-06 13:46] #534 closed

[2018-08-06 13:48] #536 closed

[2018-08-06 13:48] #537 closed

[2018-08-06 13:48] #551 closed

[2018-08-06 13:49] #562 closed

[2018-08-06 13:49] #570 closed

[2018-08-06 13:49] #743 closed

[2018-08-06 13:50] #761 closed

[2018-08-06 13:50] #799 closed

[2018-08-06 13:50] #817 closed

[2018-08-06 13:50] #836 closed

[2018-08-06 13:50] #841 closed

[2018-08-06 13:51] #845 closed

[2018-08-06 13:51] #873 closed

[2018-08-06 13:51] #875 closed

[2018-08-06 13:51] #877 closed

[2018-08-06 13:52] #888 closed

[2018-08-06 13:52] #913 closed

[2018-08-06 13:52] #919 closed

[2018-08-06 13:52] #956 closed

[2018-08-06 13:52] #958 closed

[2018-08-06 13:52] #961 closed

[2018-08-06 13:53] #964 closed

[2018-08-06 13:53] #967 closed

[2018-08-06 13:53] #968 closed

[2018-08-06 13:53] #970 closed

[2018-08-06 13:53] #975 closed

[2018-08-06 13:53] #997 closed

[2018-08-06 13:53] #1003 closed

[2018-08-06 13:54] #1004 closed

[2018-08-06 13:54] #1030 closed

[2018-08-06 13:54] #1037 closed

[2018-08-06 13:54] #1038 closed

[2018-08-06 13:54] #1039 closed

[2018-08-06 13:54] #1045 closed

[2018-08-06 13:55] #1063 closed

[2018-08-06 13:55] #1107 closed

[2018-08-06 13:55] #1108 closed

[2018-08-06 13:55] #1109 closed

[2018-08-06 13:55] #1110 closed

[2018-08-06 13:55] #1111 closed

[2018-08-06 13:55] #1113 closed

[2018-08-06 13:56] #1114 closed

[2018-08-06 13:56] #1115 closed

[2018-08-06 13:56] #1116 closed

[2018-08-06 13:56] #1117 closed

[2018-08-06 13:56] #1127 closed

[2018-08-06 13:56] #1140 closed

[2018-08-06 13:56] #1146 closed

[2018-08-06 13:57] #1147 closed

[2018-08-06 13:57] #1159 closed

[2018-08-06 13:57] #1211 closed

[2018-08-06 13:57] #1212 closed

[2018-08-06 13:57] #1217 closed

[2018-08-06 13:57] #1218 closed

[2018-08-06 13:57] #1238 closed

[2018-08-06 13:57] #1247 closed

[2018-08-06 13:58] #1248 closed

[2018-08-06 13:58] #1348 closed

[2018-08-06 15:09] brittweinstein commented on #1757
Can slide if needed

[2018-08-06 15:23] brittweinstein opened #1809 "Placeholder: Feature Flag Epic"
Link to spreadsheet: https://github.com/Connexions/cnx-recipes/blob/master/FEATURES.md

[2018-08-07 01:28] openstaxalina commented on #1802
Confirmed this displays properly in the PDF; we should emulate that behavior:

<img width="320" alt="screen shot 2018-08-06 at 8 28 11 pm" src="https://user-images.githubusercontent.com/7863733/43748849-442edd24-99b7-11e8-93d6-a0aac9d93582.png">

[2018-08-07 01:30] openstaxalina commented on #1796
The current behavior is acceptable; see the screenshot of the same content in the PDF:

<img width="382" alt="screen shot 2018-08-06 at 8 29 50 pm" src="https://user-images.githubusercontent.com/7863733/43748905-83b09c76-99b7-11e8-827d-4066bbff3786.png">

I am going to close this issue.

[2018-08-07 01:30] #1796 closed

[2018-08-07 01:44] openstaxalina commented on #1797
@wilkus27 is table 5.2 the **only** table you found like that in AP College Physics?  If so, I think Table 5.2 is a content issue.

@helenemccarron, note that Stefan's screenshot is from an Appendix.  Here is the same content in the PDF:
<img width="280" alt="screen shot 2018-08-06 at 8 32 21 pm" src="https://user-images.githubusercontent.com/7863733/43749327-46804a48-99b9-11e8-9246-d0cfc02b24af.p

[2018-08-07 01:45] openstaxalina commented on #1801
duplicate of #1802 - closing.

[2018-08-07 01:45] #1801 closed

[2018-08-07 01:46] #1800 closed

[2018-08-07 01:46] openstaxalina commented on #1800
Issue moved to [Connexions/content-managers #199](https://github.com/Connexions/content-managers/issues/199) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-07 01:47] openstaxalina commented on #1788
Issue moved to [Connexions/content-managers #200](https://github.com/Connexions/content-managers/issues/200) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-07 01:47] #1788 closed

[2018-08-07 01:50] openstaxalina commented on #1777
@helenemccarron this display is not good; the block of text is difficult to parse and the letters ("A", "B", etc.) are closer to the _preceding_ content.  Let's brainstorm on this one.

@wilkus27 do you have a rough count of how many items like this you found in AP Biology?

[2018-08-07 01:54] openstaxalina commented on #1769
@helenemccarron I didn't find a special class that would have caused these to be unnumbered in the PDF.  Do you think there is a rule in the CCAP Template that does not allow tables in EOC to be numbered?

[2018-08-07 01:57] openstaxalina commented on #1789
It is left aligned in the PDF:
<img width="251" alt="screen shot 2018-08-06 at 8 55 22 pm" src="https://user-images.githubusercontent.com/7863733/43749765-10af5fd8-99bb-11e8-82b5-b94041f218cc.png">

@helenemccarron is there something in the CCAP template that is forcing the math to be left-aligned?  I would feel more comfortable making a decision about left-aligning math if we had already made thi

[2018-08-07 01:58] openstaxalina commented on #1703
@PiotrKozlowski are you planning to work on this for the current release (petty.pegasus)?  It would be helpful to discuss the issues that you are working on on the Thursday call.

[2018-08-07 08:59] PiotrKozlowski commented on #1703
@openstaxalina I already created PR with screenshot how it looks after changes. Of course we can still talk about it.

[2018-08-07 09:56] wilkus27 commented on #1777
@openstaxalina I noticed that this issue appears through the book just in module **Science Practice Challenge Questions**. If it is needed I can find all of  the exercises where this problem occurs. Up to the 17th module I found 34 items like this.

[2018-08-07 10:00] wilkus27 commented on #1797
@openstaxalina Up to the 13th module I found just this table.

[2018-08-07 13:00] wilkus27 opened #1810 "Different alignment of sentences in table"
The sentences in table are differently aligned. In the first column - to the center and in the second one - aligned up.
https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:0liD6Cpr@3/152-The-First-Law-of-Thermodyn

![table_align](https://user-images.githubusercontent.com/40228854/43777060-00bbfc66-9a52-11e8-873e-4b1e4b87d5dc.JPG)

This is how it looks in pdf:

![table_align_pdf](https://user-images

[2018-08-07 15:11] wilkus27 commented on #1769
The same problem in College Physics for AP (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:eLDpZlgR@16.36/Test-Prep-for-AP-Courses)

katalyst01:

![table_ap_ph](https://user-images.githubusercontent.com/40228854/43784562-b1dbff7a-9a64-11e8-9552-89721448ebc7.JPG)

PDF:

![table_ap_ph_pdf](https://user-images.githubusercontent.com/40228854/43784585-bd0203e0-9a64-11e8-8196-0322cf6ca349.JPG)

[2018-08-07 15:13] helenemccarron commented on #1802
@PiotrKozlowski the content is baked but I think there is a bug with tables in appendices, they do not look like they are handled properly. I don't remember which issue it was but I remember another issue about tables in appendices, this might be related to that.

I would make sure the tables are handled before changing the CSS, there are rules for handling math in tables already implemented in `b

[2018-08-07 15:13] #1802 closed

[2018-08-07 15:17] helenemccarron commented on #1797
I think this is recipe related. If I remember correctly, AP physics isn't set to have both captions, only titles, thus the captions aren't handled. Are we supporting captions and titles in AP Physics, @openstaxalina

[2018-08-07 15:31] kerwinso commented on #1773
Alan says: Improvements to JAWS' MathML reading are consistent on Production. It parses equations, greek characters, and fractions much better than it had previously

[2018-08-07 15:31] #1773 closed

[2018-08-07 15:35] brittweinstein commented on #1780
@Bkblodget to create new card for ^^^

[2018-08-07 15:37] kerwinso commented on #1780
new abstracts will publish and show up in legacy, but not in webview (until cnxml to html abstract) is fixed

[2018-08-07 15:46] kerwinso commented on #1795
@Dantemss to add link to test module

[2018-08-07 15:51] Dantemss commented on #1795
@kerwinso added a link but I only have the html version. Will probably need content team help to generate the required cnxml to obtain this html.

[2018-08-07 17:57] kerwinso commented on #1795
What we discovered in group testing session with CMs: (Alina, Ryan, Larissa)

- exercise with nickname does not appear in legacy (https://legacy-qa.cnx.org/content/m68711/latest/?collection=col27787/1.1)
- module needs to be inside a BAKED collection (e.g., with print parameter 'University Physics w/ recipe') -- cannot be a standalone module
- does _not_ work in PDF -- vendor needs to rely on webv

[2018-08-07 18:06] kerwinso opened #1812 "(Recurring) Webview, legacy, and batch regression tests for 2018.08.13 release"
Milestone link: https://openstax.testrail.com/index.php?/milestones/view/28

- [x] check sourav's credentials (`souravwebexpertindia`) on staging
- [x] Prepare and send out test runs
- [x] Monitor/follow up on offshore testers
- [x] Non-offshore regression tests
- [x] Batch regression tests (w/ Bey)

[2018-08-07 18:29] helenemccarron commented on #1789
@openstaxalina after poking at the CNXML, I tested `<entry align="left">` and `<entry align="right">` and here are the results on devb: https://devb.cnx.org/contents/s9dMX57l@1.3:Y6Fh4O2c@4/61-Rotation-Angle-and-Angular-
The PDF defaults all tables to left align in AP physics, but we cannot do that in Webview. I think changing the content to display the tables cells as desired is a better option f

[2018-08-07 18:52] kerwinso commented on #1774
Re-opening to track testing on staging.

[2018-08-07 19:18] BryanEliDimas opened #1813 "Allow unicode characters in URLs"
The two related PRs:
1. https://github.com/Connexions/webview/pull/1631
2. https://github.com/Connexions/cnx-archive/pull/556

The test plans are similar, included in each PR, but for convenience, also provided below.

Test plan
=====
Story
-----
AAT, I'd like a webview test that asserts Unicode in URL is allowed

Steps
---
1. Visit:
https://qa.cnx.org/contents/TqqPA4io@1.1:tjWnLaNJ@2
it redirects

[2018-08-07 19:37] #1791 closed

[2018-08-07 19:40] kerwinso commented on #1780
Initial test plan thoughts:

[2018-08-08 06:41] PiotrKozlowski commented on #1810
This is happening because again `mathml` is set to be displayed as a block. We can change it in CNXML (see https://github.com/Connexions/webview/issues/1789#issuecomment-411155980) or we can force MathJax to display inline inside tables - this will apply to all baked tables.
![issue](https://user-images.githubusercontent.com/31478212/43820382-673d9ec4-9ae6-11e8-9097-a2ce2f42cd6e.png)

[2018-08-08 14:38] wilkus27 opened #1814 "Headers and cell content differently aligned in table"
(https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:Sn5TqjF8@16.36/Test-Prep-for-AP-Courses)

![strange_table](https://user-images.githubusercontent.com/40228854/43843807-a6621548-9b28-11e8-8876-41d2720712b8.JPG)

Headers of the columns and figures inside the table are differently aligned.

PDF:

![strange_table_pdf](https://user-images.githubusercontent.com/40228854/43844148-57186d7e-9b29-11e8-80

[2018-08-08 15:30] openstaxalina commented on #1814
I think that issue 2 (table is unnumbered in PDF) is related to: https://github.com/Connexions/webview/issues/1769
(This table is also in Test Prep for AP Courses.)

If we can remove the numbering for this table with a recipe or similar change, that only leaves issue 3 (alignment).

For issue 3 - I am curious about the devs' thoughts whether we can properly target and style this table.

[2018-08-08 15:35] openstaxalina commented on #1789
Okay, I am going to move this to the content-managers repo.  cc @helenemccarron , @PiotrKozlowski

[2018-08-08 15:35] openstaxalina commented on #1789
Issue moved to [Connexions/content-managers #214](https://github.com/Connexions/content-managers/issues/214) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-08 15:35] #1789 closed

[2018-08-08 15:38] openstaxalina commented on #1810
okay, moving this issue to the content-managers repo. cc @PiotrKozlowski

[2018-08-08 15:38] openstaxalina commented on #1810
Issue moved to [Connexions/content-managers #215](https://github.com/Connexions/content-managers/issues/215) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-08 15:38] #1810 closed

[2018-08-08 15:49] openstaxalina commented on #1797
I did some cleanup on this issue.  The issue for Table 5.2 in AP Physics has been moved to https://github.com/Connexions/content-managers/issues/216; it is a content issue.

This issue is now specifically about Table C7 and other appendices tables in College Physics.

[2018-08-08 16:12] openstaxalina commented on #1636
@PatBoj I noticed that the text for exercise 25 drops to the next line in your "After" screenshot, even though there is no image there.  I do not think the text should be on the next line if there is no image.  Is this being resolved via a different issue?

[2018-08-08 17:18] helenemccarron commented on #1777
Apologies, this is indeed a bug. The `p` are inline, they _should_ be after @PatBoj  fix for the problems and solutions containers. @PatBoj do you mind taking a look?

[2018-08-08 17:31] helenemccarron commented on #1797
@openstaxalina I think https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information is missing the `appendix` class. Notice how the appendix is not numbered properly in the navigation.

![2018-08-08_12-29-42](https://user-images.githubusercontent.com/8514591/43853845-e696bc94-9b06-11e8-9b2d-f35793f653eb.png)

[2018-08-08 17:35] openstaxalina commented on #1797
Thank you for noticing that!  Confirmed - table numbers are showing in the next appendix:
<img width="1295" alt="screen shot 2018-08-08 at 12 35 09 pm" src="https://user-images.githubusercontent.com/7863733/43854105-8d00a7ca-9b07-11e8-9f54-6fe193752c4b.png">

I will transfer this issue to content-managers.  cc @helenemccarron

[2018-08-08 17:36] #1797 closed

[2018-08-08 17:36] openstaxalina commented on #1797
Issue moved to [Connexions/content-managers #218](https://github.com/Connexions/content-managers/issues/218) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-08 18:18] helenemccarron commented on #1799
![image](https://user-images.githubusercontent.com/8514591/43856202-7fd1c0d8-9b0d-11e8-907d-fc66a1d3749e.png)

[2018-08-08 19:55] kerwinso commented on #1795
Need exercises-staging to be updated in order to test this on staging.cnx.org. Deployment should happen tonight (per Greg).

[2018-08-08 20:40] kerwinso commented on #1774
Verified on staging, https://staging.cnx.org/contents/3OgZKIqt@1.1:hlZpwRUG@1/A--Present-Values-Table-Set-Ro

[2018-08-08 20:40] #1774 closed

[2018-08-08 20:40] kerwinso commented on #1739
Verified on staging, https://staging.cnx.org/contents/3OgZKIqt@1.1:hlZpwRUG@1/A--Present-Values-Table-Set-Ro

[2018-08-09 07:39] PatBoj commented on #1636
@openstaxalina sorry, my bad, wrong order of screenshots :laughing:. I've already edited my previous comment, everything should be good now.

[2018-08-09 08:39] PatBoj commented on #1777
@helenemccarron First paragraph `p` should be displayed as `inline` while other ones should be displayed as `block`. This is how it looks like after my changes. I've done this on my browser only so it's not fixed yet.
![image](https://user-images.githubusercontent.com/20907906/43887842-3d8fb74e-9bc0-11e8-8d86-037c4e9edbc3.png)

[2018-08-09 10:28] PatBoj commented on #1814
I can look into it. Just to be clear, I'm going to remove table number in the EOC and that will solve those 2 issues (nr 1 and nr 2). The issue nr 3 is already solved by @PiotrKozlowski.

[2018-08-09 13:12] wilkus27 opened #1820 "Additional dot in list"
There is a list with extra dot (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:4yAGHqDY@16.36/Test-Prep-for-AP-Courses)

![dot](https://user-images.githubusercontent.com/40228854/43900939-7a89e806-9be6-11e8-9f7a-5708335835af.JPG)

This is how it looks in PDF:

![dot_pdf](https://user-images.githubusercontent.com/40228854/43900958-867e1060-9be6-11e8-9024-8310621611b7.JPG)

[2018-08-09 13:33] PiotrKozlowski commented on #1820
Markup for this looks like this:
[code]

So there is `<ol>...</ol>` inside of `<li>...</li>`. Should this be created that way?

[2018-08-09 13:36] helenemccarron commented on #1777
Perfect, @PatBoj , that's what I thought! Can you please link to this issue so it gets tested along with your changes?

[2018-08-09 14:49] PatBoj commented on #1777
Ok @helenemccarron, no problem. This issue #1636 is related to this one.

[2018-08-09 17:01] kerwinso commented on #1795
Exercise fetch by nickname working on staging (col25580): https://staging.cnx.org/contents/95FDHlA1@1.1:NSxVhMil@1/Nickname-Test

Successfully pulled 17194 from exercises-staging.

[2018-08-09 17:01] #1795 closed

[2018-08-09 20:40] openstaxalina opened #1823 "Get This Book button should change appearance on focus"
Update the button to display when the focus is on it by inverting the color (normally green with white text; when in focus, white with green text).

There is already a PR for this issue: https://github.com/Connexions/webview/pull/1624

[2018-08-10 12:12] wilkus27 commented on #1636
Verified on katalyst01:

![test2](https://user-images.githubusercontent.com/40228854/43957192-48424cb4-9ca7-11e8-934f-b5ff8aa94848.JPG)

[2018-08-10 12:12] #1636 closed

[2018-08-10 12:19] wilkus27 commented on #1777
Verified on katalyst01:

![list](https://user-images.githubusercontent.com/40228854/43957517-5dd7820a-9ca8-11e8-819e-50ace7133698.JPG)

[2018-08-10 12:19] #1777 closed

[2018-08-10 13:03] PiotrKozlowski commented on #1814
@wilkus27 `3` is ready for testing at #1822 branch

[2018-08-10 14:28] #1780 closed

[2018-08-10 14:38] brittweinstein opened #1825 "Enable feature flags for Econ and Stats"
@helenemccarron commented on [Fri Aug 10 2018](https://github.com/Connexions/cnx-recipes/issues/537)

## https://github.com/Connexions/cnx-recipes/blob/katAW.petty.pegasus/FEATURES.md

**up-footnote-call**: issue #473
- [ ] tested in econ
- [ ] tested in stats

**trash-empty-table-captions**: issue #434
- [ ] tested in econ
- [ ] tested in stats

**exercise-container**: issue #454
- [ ] tested in

[2018-08-10 14:40] #1825 closed

[2018-08-10 14:43] brittweinstein commented on #1809
Issue moved to [Connexions/cnx-recipes #538](https://github.com/Connexions/cnx-recipes/issues/538) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-10 14:43] #1809 closed

[2018-08-11 20:41] openstaxalina commented on #1814
cleaned up this issue to reflect only the problem we are solving with @PiotrKozlowski's code.  :-)

[2018-08-13 14:16] #1812 closed

[2018-08-13 14:36] helenemccarron commented on #1823
Addressed in PR #1816

[2018-08-13 14:37] helenemccarron commented on #1757
Addressed in PR #1816

[2018-08-13 14:39] wilkus27 opened #1826 "Mess with terms from Index"
On katalyst01 (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:Xm0hU3Qa@16.36/Index) one term from the middle of the index appears on the top and there are two headers **Symbols**

![symbols_kat](https://user-images.githubusercontent.com/40228854/44038267-b89775b8-9f16-11e8-8f41-f2169dfff026.JPG)

In PDF it looks like that:

![symbols_pdf](https://user-images.githubusercontent.com/40228854/4403

[2018-08-13 15:19] openstaxalina commented on #1826
Since code freeze is this week, and there is a national holiday in Poland, I am going to defer this to the backlog.  cc @helenemccarron @PiotrKozlowski @PatBoj @Adrianltd

[2018-08-13 15:31] openstaxalina commented on #1826
Previously this was occurring with terms in figure captions, and we elected not to support terms inside figure captions.

However, I checked the first term (drift velocity) and it is not in a figure caption, so this could use some additional investigation.

[2018-08-13 16:09] uskka opened #1827 "Equations are not displayed correctly when zoomed out (Safari)"
Description: When screen is zoomed out once, few equations are not displayed correctly. Tested on MacBook 13,3" , Safari. Issue doesn't appear on Chrome.

https://katalyst01.cnx.org/contents/vEmOH-_p@4.48:EpNx8345@4/51-Price-Elasticity-of-Demand-

![image-4](https://user-images.githubusercontent.com/40228918/44043435-28b94c8e-9f23-11e8-9fb7-63e55fe6656c.png)

![image](https://user-images.githubuse

[2018-08-13 16:27] wilkus27 commented on #1814
Verified on katalyst01:

![fig_align](https://user-images.githubusercontent.com/40228854/44044653-8e406152-9f26-11e8-9dd3-e7eccf29cafb.JPG)

[2018-08-13 16:27] #1814 closed

[2018-08-13 17:14] Bkblodget opened #1828 "Principles of Management ONLY: Change Exploring Business Careers class"
Please change the feature title from Exploring Business Careers to **Exploring Managerial Careers**.

Please change the associated class from exploring-business-careers to `exploring-manager-careers`.

Also need to change the text that displays to “Exploring Managerial Careers”.

[2018-08-13 19:08] Stackblocks commented on #1823
## Before
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/f746b455-1952-40ed-88dc-19f845e9d86e)

## After
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/2c261abf-7c3f-49b4-b142-a1d83bda3947)

[2018-08-13 19:08] #1823 closed

[2018-08-13 20:25] #1790 closed

[2018-08-13 21:01] kerwinso opened #1829 "Extra line with license info appears near footer when using Back/Next buttons"
## Steps to Reproduce
1. In any browser, go to any book in CNX e.g., https://cnx.org/contents/CImQfPDv@3.11:GfaWl1GG@4/Introduction
1. Click Next to go to the next page.
1. Scroll to the bottom of the page.
1. Notice a line right below the 'Downloads |History |Attribution |More Info' tabs that says, `This work is licensed by Rice University under a Creative Commons Attribution License (by 4.0).`

[2018-08-13 21:06] kerwinso opened #1830 "Review card for 2018-08-27 CNX Release"
## Dates
- Code freeze (no new features):  **2018-08-16**
- Code deployed to staging server: 2018-08-17
- Testing on staging server: 2018-08-20 => 2018-08-24
- RC Review meeting: 2018-08-21
- Code Released to Production: **2018-08-27**

## Versions:
- oer.exports v0.61.0 (petty.pegasus)
- webview v0.35.0 (petty.pegasus)
- cnx-recipes v1.13.0 (petty.pegasus)
- products.rhaptosprint v0.129
- cnx-arc

[2018-08-13 21:10] Stackblocks commented on #1799
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/65bed8a2-1121-455e-ae4c-53e8f323acc2)

[2018-08-13 21:10] #1799 closed

[2018-08-14 10:03] wilkus27 opened #1831 "Table with dotted lists don't have margin"
There is no margin in table in which the cell content are dotted lists. Other tables (with text or equations) display correctly.

katalyst01 (https://katalyst01.cnx.org/contents/kRfPjKij@4.5:BoszusFu@4/111-Aggregate-Demand-in-Keynes)

![margin_kat](https://user-images.githubusercontent.com/40228854/44085263-3b7c3a0c-9fb9-11e8-94f3-1dfdb0cda752.JPG)

This is how it looks in pdf:

![margin_pdf](http

[2018-08-14 15:55] brittweinstein commented on #1782
@reedstrm to split this card between both books and modules work.

[2018-08-14 17:27] pumazi commented on #1751
I've updated this with a story for the description and accept criteria.

[2018-08-15 18:48] brittweinstein opened #1832 "Updates to cnx.org/about/contact"
# Description
We offer our mailing address rather than physical address in outward communications. We should also remove the office/parking map and the phone number; Support had decided our primary means of contact should be through email and chat, but we have phone numbers elsewhere in the support hub if people need them. Here is the address we use:

OpenStax
Rice University
6100 Main Street MS-3

[2018-08-15 19:13] brittweinstein opened #1833 "Clarify Display of Non OpenStax CNX textbooks on CNX.org"
#Description

People are getting confused that the books on the bottom of the cnx.org home page are not official OpenStax texts as they have OpenStax logos on them and there is no copy to clarify how those books are different than the official books above them on the page

#Impact
* **Severity**: [ ] High [ ] Medium  [ ] Low
* **Frequency of Occurence**: [ ] High [ ] Medium  [ ] Low

#Acceptance