[2018-11-29 16:08] #2051 closed

[2018-11-29 16:22] #2077 closed

[2018-11-29 16:22] openstaxalina commented on #2077
Issue moved to [Connexions/content-managers #488](https://github.com/Connexions/content-managers/issues/488) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-29 19:12] oscryan opened #2099 "PhET simulation embedded tiny"
https://cnx.org/contents/Ax2o07Ul@14.4:fsw4uvhV@10/30-2-Discovery-of-the-Parts-of-the-Atom-Electrons-and-Nuclei

The markup includes size specifications (width=“660” height=“371.4") which show right in the editor but are not being carried out in webview.

[2018-11-30 07:36] PiotrKozlowski commented on #2092
Ready for testing

[2018-11-30 07:46] PiotrKozlowski commented on #2087
Ready for testing

[2018-11-30 10:19] wilkus27 commented on #2092
Verified on katalyst01. Working now properly.

[2018-11-30 10:19] #2092 closed

[2018-11-30 14:37] omehes commented on #1998
verified on reverted staging.cnx.org. ok

{"date": "2018-11-28 17:45:22 CST",
 "webview": "5512a7c1a8bcee7f5940fdbb5e75be44cb7e1583 (v0.41.1)",
 "cnx-archive": "4.6.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "vagrant.valkyrie v0.66.0",
 "press": "7.0.1",
 "cnx-deploy": "v2.31.2"
}

[2018-11-30 14:37] #1998 closed

[2018-11-30 14:55] omehes commented on #2055
verified in staging.cnx.org book https://staging.cnx.org/contents/OlIuW7sM@1/Derived-copy-of-The-Circle-of-Fifths

{"date": "2018-11-28 17:45:22 CST",
 "webview": "5512a7c1a8bcee7f5940fdbb5e75be44cb7e1583 (v0.41.1)",
 "cnx-archive": "4.6.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "vagrant.valkyrie v0.66.0",
 "press": "7.0.1",
 "cnx-deploy": "v2.31.2"
}

[2018-11-30 14:55] #2055 closed

[2018-11-30 15:01] omehes commented on #2064
reverified in reverted staging.cnx.org. ok

{"date": "2018-11-28 17:45:22 CST",
 "webview": "5512a7c1a8bcee7f5940fdbb5e75be44cb7e1583 (v0.41.1)",
 "cnx-archive": "4.6.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "vagrant.valkyrie v0.66.0",
 "press": "7.0.1",
 "cnx-deploy": "v2.31.2"
}

[2018-11-30 15:08] omehes opened #2100 "Not Converted Yet error"
Go to page: https://staging.cnx.org/contents/CzMnNGya@2/Electric-Circuits-Resistance

There will be markers for error in the CNXML to HTML transform.
In this case, why is `para` an error since we have paragraphs everywhere in all the content.

Discussed with @reedstrm

![phy-not.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/24ecc14c-c6ec-4325-891c-911d5a44c242)

[2018-11-30 16:45] #2067 closed

[2018-11-30 16:45] brittany-johnson commented on #2067
Issue moved to [Connexions/cnx-deploy #925](https://github.com/Connexions/cnx-deploy/issues/925) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-30 17:15] brittweinstein commented on #1993
Otto will need to install Google Analytics debugger and then will download a PDF and see the effect in the debugger. This is a Chrome extension.

[2018-11-30 17:17] Adrianltd commented on #2098
I believe this might be tricky. There's already a `span` container with class `scaled-down` for images. It is set to be `width: 60%`. So some of the images are already being scaled down. By changing this to other value, we might create a regression in other places (I'm not aware of where else this class is being used).
I would use `object-fit: scale-down` for the images, so if the image was bigger

[2018-11-30 17:33] Adrianltd commented on #2098
Also I have noticed, that this doesn't occur in regular `Chemistry` book. That's due to absence of `scaled-down` class there.

[2018-11-30 20:05] omehes commented on #1993
Verified on staging.cnx.org for pdf, zip and epub files. OK

{"date": "2018-11-30 13:34:04 CST",
 "webview": "969e07959a31572cdb61fec6f4573b5644d55637 (v0.42.0)",
 "cnx-archive": "4.6.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "worried.werewolf v0.67.0",
 "press": "7.0.1",
 "cnx-deploy": "v2.32.1"
}

[2018-11-30 20:05] #1993 closed

[2018-11-30 21:56] lwtchu commented on #2059
@openstaxalina sorry just saw this now - i think it'll be hard to convert it to a table since it's important that the operators in the equation needs to line up right on the line for the table

[2018-11-30 22:34] lwtchu commented on #2071
@openstaxalina  one is in a paragraph and the other is a list. we just need to standardize.

[2018-12-03 12:00] wilkus27 opened #2102 "Remove bullet lists from Preface"
On katalyst01 (https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.4:F_mjYFfh@20/Preface) dots from bullet lists should be removed:

webview:

![dots](https://user-images.githubusercontent.com/40228854/49372462-0cfe0b80-f6fb-11e8-8cb1-314b8f1b964b.JPG)

PDF:

![dots_pdf](https://user-images.githubusercontent.com/40228854/49372484-1f784500-f6fb-11e8-9434-c159cbef85ff.JPG)

[2018-12-03 14:55] openstaxalina commented on #2098
*Decision:* we need to remove the `scaled-down` class from images **_in the answer key only_** in chemistry.

[2018-12-03 14:55] #2098 closed

[2018-12-03 14:55] openstaxalina commented on #2098
Issue moved to [Connexions/content-managers #491](https://github.com/Connexions/content-managers/issues/491) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-03 16:16] wilkus27 commented on #2059
@openstaxalina the problem was with distance between figure and the sentence from the next point. But on your screenshot everything display correctly now. @PiotrKozlowski can we check which change repaired this issue?

@openstaxalina about <newline> there are a lot of additional blank spaces in all dev-math books, so I've added their labels to the issue: https://github.com/Connexions/content-manag

[2018-12-03 16:31] openstaxalina commented on #2059
@wilkus27 it still seems like there is too much distance here:
![spacebeforetables](https://user-images.githubusercontent.com/7863733/49387106-a242d500-f6e6-11e8-832b-53425470cecc.png)

[2018-12-03 16:47] openstaxalina commented on #2081
Related/original issue that I am going to close: https://github.com/Connexions/webview/issues/1990

[2018-12-03 16:47] openstaxalina commented on #1990
Duplicate of https://github.com/Connexions/webview/issues/2081, closing.

[2018-12-03 16:47] #1990 closed

[2018-12-03 17:05] wilkus27 commented on #2059
@openstaxalina the problem in this issue was with **too small** distance between those objects:

![distance](https://user-images.githubusercontent.com/40228854/49388659-bc030d00-f724-11e8-940f-0e13961dfe28.JPG)

The problem which you're describing I thought that could be solved by issue Connexions/content-managers#288. Is it not correct? Should I create seperate issue about it?

[2018-12-03 17:07] omehes commented on #2081
I tested this on the latest deployed cnx on staging and:
- if I change First name and also Full Name in legacy of somebody who has published content (book) and I save the changes and log out and Publish the book, afterwards I see the changed name in webview too. If I don't (re)publish the book, name will not be changed in webview.

Discussed this with the team at standup.

staging.cnx.org versions

[2018-12-03 17:15] openstaxalina commented on #2059
@wilkus27 ah, thanks.  If you could just add this instance to #288 in content-managers as another example, that would help us look for the correct items when we make those changes.  Thanks again!

[2018-12-03 17:15] #2059 closed

[2018-12-04 12:17] uskka opened #2104 "Grey line in lists on webview"
The grey line on the left is not visable in the PDF and there should be a new empty line between two points on the list like in the PDF.
https://katalyst01.cnx.org/contents/AgQDEnLI@11.1:JHjddfwj@5/1-4-Why-Study-Sociology

**WebView**
![screenshot-katalyst01 cnx org-2018 12 04-12-39-07](https://user-images.githubusercontent.com/40228918/49440977-78acab00-f7c5-11e8-9755-5910487813f6.png)

**PDF**
!

[2018-12-04 13:06] wilkus27 opened #2105 "Links from Answer Key direct to the wrong places"
On katalyst01 https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.4:UMWwtRqB@9.4/Answer-Key in Answer Key when ~~you click on~~ you right click on solution of some exercise and open link in new tab, link leads you to the next exercise on some page.

For Example:

when you ~~click on~~ click right on **21** and open link in new tab

![link_a_k](https://user-images.githubusercontent.com/40228854/49443771

[2018-12-04 15:05] wilkus27 opened #2106 "Inconsistent way of creating citations"
There are two ways of creating citation in Psychology:

1) By `<q>` e.g. https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.4:I97J3Te3@11/8-3-Problems-with-Memory

![cit_1](https://user-images.githubusercontent.com/40228854/49450626-b61d3280-f7dd-11e8-81e5-2ce7ff9641d7.JPG)

PDF:

![cit1_pdf](https://user-images.githubusercontent.com/40228854/49450647-bf0e0400-f7dd-11e8-999b-3a062833242a.JPG)

2) By `

[2018-12-04 15:18] wilkus27 commented on #2106
@openstaxalina I think that solution of issue created by Stefan (https://github.com/Connexions/webview/issues/2104) probably depends on the decision

[2018-12-04 15:24] PiotrKozlowski commented on #2104
I can for sure add more space between list items in here but removing grey line is global change for `<blockquote>`.

There are two ways to create citations: using `<q>` and using `<blockquote>`. Citations created with `<q>` doesn't have a grey line.

@openstaxalina  Please check #2106 and let me know if I should remove grey line globally or just adjust space between list elements in `<q>` and `<b

[2018-12-04 17:37] openstaxalina commented on #2104
Actually, I think that this looks good as-is.  The styling doesn't need to match the PDF exactly.  I like that the grey line adds attention to the fact this is a quote/citation.  I am going to close this issue @PiotrKozlowski @uskka @wilkus27.

[2018-12-04 17:37] #2104 closed

[2018-12-04 17:38] openstaxalina commented on #2106
I think that we should use `<blockquote>` as the styling looks better.  I am going to move this to the content-managers repo.

[2018-12-04 17:38] openstaxalina commented on #2106
Issue moved to [Connexions/content-managers #494](https://github.com/Connexions/content-managers/issues/494) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-04 17:38] #2106 closed

[2018-12-04 18:00] brittany-johnson commented on #2086
<img width="1036" alt="screen shot 2018-12-04 at 11 55 37 am" src="https://user-images.githubusercontent.com/24909007/49462593-10a59700-f7bc-11e8-8076-c6ffa604c698.png">
@openstaxalina This is the message that will display when a user tries to submit this form without entering any search criteria

[2018-12-04 19:15] openstaxalina commented on #2086
@brittany-johnson this looks great!  I can't remember; are we asking @Stackblocks to test these?  I am going to assign to him and wait to be told if I am wrong :-P

[2018-12-04 19:19] openstaxalina commented on #2091
Currently the message is: `No results found. Please try expanding your search.`

The message should be: `Please enter search criteria.`

[2018-12-04 19:19] openstaxalina commented on #2091
@brittany-johnson this is ready (I think -- let me know if you need more info).  This can slide to the next release if needed.

[2018-12-04 19:38] openstaxalina commented on #2085
Customer Support and I reviewed and approved the language as proposed above.  cc @brittany-johnson -- this can slide forward if needed.

[2018-12-04 19:38] openstaxalina commented on #2084
Customer Support and I reviewed and approved the language as proposed above.  cc @brittany-johnson -- this can slide forward if needed.

[2018-12-04 22:10] helenemccarron commented on #1666
`<p><span data-type='newline'></p>`

[2018-12-05 08:31] Adrianltd commented on #2105
@wilkus27 could you please check this one again? I think there was some issue with latest content migration and now it's all good.

[2018-12-05 09:09] Adrianltd commented on #2102
The first list has in the content `data-bullet-style="bullet"`.
Another one can be fixed in code. Actually that fix will fix both, but `data-bullet-style="bullet"` will remain in the first list, which will be incorrect then and might cause issues in the future.

[2018-12-05 10:59] wilkus27 commented on #2105
@Adrianltd I checked this and problem is still occuring.

[2018-12-05 13:21] wilkus27 commented on #2053
Verified on katalyst01:

![2 35](https://user-images.githubusercontent.com/40228854/49516102-0b6a4a00-f899-11e8-8b98-ad5ebea19eb4.JPG)

![8 21](https://user-images.githubusercontent.com/40228854/49516106-102efe00-f899-11e8-9ff2-0bbb7ef460ee.JPG)

[2018-12-05 13:21] #2053 closed

[2018-12-05 16:14] wilkus27 opened #2108 "Missing exercises"
On katalyst01 in three chapters (Chapter 5, 11 and 13) there are missing exercises.

**Chapter 5** https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.20:czXGAjFU@9.20/Review-Questions

![ch_5](https://user-images.githubusercontent.com/40228854/49526682-a28ecc00-f8b0-11e8-901f-261ef6218910.JPG)

PDF:

![ch_5_pdf](https://user-images.githubusercontent.com/40228854/49526696-a9b5da00-f8b0-11e8-8737-4f6ee8

[2018-12-05 16:32] wilkus27 opened #2110 "Inconsistency in Answer Key between webview and PDF"
On katalyst01 https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.20:UMWwtRqB@9.20/Answer-Key in Chapters 5, 11 and 13 solutions from Answer Key are different than in PDF.

**Chapter 5**

![a_k_5](https://user-images.githubusercontent.com/40228854/49527970-4d07ee80-f8b3-11e8-90bd-035d61499eea.JPG)

PDF:

![a_k_5_pdf](https://user-images.githubusercontent.com/40228854/49527981-542efc80-f8b3-11e8-8465-4e

[2018-12-05 16:40] helenemccarron commented on #2102
@openstaxalina I think it would be best to change the bullet style in content then make sure the css targets the `data-bullet-style` properly. Currently, @Adrianltd's fix will change all list to not have bullets in recipes. I think that might cause unintended consequences later.

[2018-12-05 17:30] openstaxalina commented on #2102
Yep, let's avoid that broad of a change.  We can adjust this in content.

[2018-12-05 17:30] #2102 closed

[2018-12-05 17:30] openstaxalina commented on #2102
Issue moved to [Connexions/content-managers #500](https://github.com/Connexions/content-managers/issues/500) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-05 21:40] omehes opened #2112 "Transforms process failed on University Physics Volume 1, 2 and 3 books (all baked books)"
As part of the transforms testing, PR #170 https://github.com/Connexions/rhaptos.cnxmlutils/pull/170

When inspecting University Physics Volume 1, 2 and 3, I still find  `<div data-type=“newLine”>` but no `<span...`

Note, these books are all baked.

Steps are in:
https://docs.google.com/document/d/1LUp8rt1ujaj6l79012-j_d0DC90GT7Rf18pJsk2W5tg

[2018-12-05 22:11] #1999 closed

[2018-12-06 13:35] Adrianltd commented on #2105
@helenemccarron it seems that this issue occurs only when you right click and open in new tab. When you try to open it in new tab with `cmd` or `ctrl`, it's prevented from opening in new tab by a script. When you open this on the same tab, there's no issue.

The issue itself exists because the offset top is too low after opening in new tab - the menu covers that place which is being scrolled to.

[2018-12-06 15:28] openstaxalina opened #2114 "Psychology: Trash the answer key"
Since we cannot make the answers in web view match the PDF, we should trash all solutions -- we should not have an answer key.

[2018-12-06 15:43] omehes commented on #2112
@philschatz Sorry. Forgot to add it: https://qa.cnx.org/contents/1Q9uMg_a@10.12:Gofkr9Oy@15/Preface
All 3 books of University Physics Volume 1, 2 and 3 have the same issue (they are all baked).

[2018-12-06 15:48] #2114 closed

[2018-12-06 15:48] Adrianltd commented on #2114
Issue moved to [Connexions/cnx-recipes #741](https://github.com/Connexions/cnx-recipes/issues/741) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-06 17:45] brittany-johnson opened #2115 "Exercises under the number"
@wilkus27 commented on [Thu Nov 15 2018](https://github.com/Connexions/cnx-recipes/issues/714)

The content of the exercises from end of each sections should be displayed next to the number:

katalyst01 (https://katalyst01.cnx.org/contents/CImQfPDv@3.15:zMLdd__D@7/1-1-Introduction-to-Whole-Numbers)

![ex_cont](https://user-images.githubusercontent.com/40228854/48557378-da74a600-e8e6-11e8-94c5-3dbf

[2018-12-06 17:47] brittany-johnson commented on #2115
<img width="668" alt="screen shot 2018-12-06 at 11 39 08 am" src="https://user-images.githubusercontent.com/24909007/49601900-b556de80-f94c-11e8-9d10-3298538f5a1b.png">

[2018-12-06 18:43] brittany-johnson commented on #2085
<img width="996" alt="screen shot 2018-12-06 at 12 42 12 pm" src="https://user-images.githubusercontent.com/24909007/49604801-7d539980-f954-11e8-94aa-84cfe43eb2b0.png">

[2018-12-06 19:06] brittany-johnson commented on #2084
@Stackblocks Ready for review

[2018-12-06 23:07] Stackblocks commented on #2084
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/91ec366c-06d6-4e46-836d-5d561884b318)

[2018-12-06 23:07] #2084 closed

[2018-12-06 23:37] Stackblocks commented on #2086
@brittany-johnson What's the status on this?

[2018-12-07 13:05] wilkus27 commented on #2097
Verified on katalyst01:

**Elementary Algebra**

![elem_alg](https://user-images.githubusercontent.com/40228854/49649298-00deba80-fa29-11e8-8933-9454450c2e75.JPG)

**Introductory Statistics**

![stat](https://user-images.githubusercontent.com/40228854/49649314-0d631300-fa29-11e8-8c86-f4059dd0fb9c.JPG)

[2018-12-07 14:13] #2097 closed

[2018-12-07 15:21] wilkus27 commented on #2093
Since step lists was added to Chemistry (https://github.com/Connexions/cnx-recipes/pull/744) those changes impact also on this book.

[2018-12-07 16:37] Stackblocks commented on #2085
Text on the page has been updated, but following the deploy of the current state of webview master, the navigation buttons on the top of the page have disappeared. @brittany-johnson can you take a look and see if you can ID a cause or verify that this is unrelated?

![image](https://user-images.githubusercontent.com/12678235/49660332-eba76300-fa0b-11e8-9dda-56edd7f296d0.png)

[2018-12-07 20:19] openstaxalina commented on #2100
@reedstrm will look into this alongside @brittany-johnson and @helenemccarron.

[2018-12-07 20:30] openstaxalina commented on #2081
The underlying issue is that books are showing with "OpenStax College" as the author on cnx.org, although content managers adjusted the name on the Account "OpenStaxCollege" (in Legacy) to be "OpenStax".   Ross is going to manually fix the database for now, to relieve the time pressure and allow us to fix this bug properly once it can be reproduced.

[2018-12-07 21:00] edwoodward opened #2121 "Sim does not display on Webview"
Tom noticed a sim in an iframe never loads. The sim works fine outside of the iframe. The error in the console is...
[code]
Content is at...
https://cnx.org/contents/Ax2o07Ul@14.4:R_XAX-aM@9/24-2-Production-of-Electromagnetic-Waves

The sim is at...
https://archive.cnx.org/specials/c8dd764c-ae74-11e5-af4c-3375261fa183/radio-waves/#sim-radio-waves

[2018-12-07 22:50] openstaxalina opened #2122 "IDEA, NOT READY YET: Adjust font sizes, padding on CNX home page"
You may want Victoria (new UX Analyst) to review the CNX home page and advise on some improvements.

For example, the sentence we added explaining the OpenStax books (and the Community-Created Content down below) is very easy to miss.  The page is also extremely long, partially because there is a lot of padding between books.

![cnxhomepageadjustments](https://user-images.githubusercontent.com/786

[2018-12-07 22:56] openstaxalina opened #2123 "IDEA, NOT READY YET: Don't immediately give the user a new download if they've recently downloaded the same file"
I have received feedback - anecdotal, possibly also quantitative -- that some users re-download the PDF each study/reading session, even if the PDF is already stored on their machine.  We may be able to save some money/bandwidth if we prompt users when we know they've recently downloaded the file they're requesting.  Here is how this could work:

1. User visits Psychology page on cnx.org, clicks o

[2018-12-10 15:45] #2085 closed

[2018-12-10 16:23] openstaxalina commented on #2108
I am guessing that although @marcjeannott put these exercises back into the content, but perhaps one or two modules didn't make it in the migration to katalyst01.  @marcjeannott if you could verify that these assessments are there on production, we can close this issue.

[2018-12-11 14:52] wilkus27 opened #2124 "Not_converted_yet messages"
On katalyst01 (e.g https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:tiLfHQfp@5/9-4-Divided-Government-and-Partisan-Polarization) through the whole book there are messages **Not_converted_yet**:

![not_con_yet](https://user-images.githubusercontent.com/40228854/49808221-51715300-fd5c-11e8-8aa9-656b8fe178e9.JPG)

They are appear in paragraphs with references:

![not_con_yet_pdf](https://user-images

[2018-12-11 15:34] Adrianltd commented on #2105
@openstaxalina can you read above and decide?

[2018-12-11 16:04] openstaxalina commented on #2105
@Adrianltd and @wilkus27 thank you for the analysis.  Yes, I figured the same thing about the menu covering the place it's meant to scroll to.

I agree that this is overall a low-priority issue.  I'll move it to the Books backlog in case someone has time to investigate further in the future.

[2018-12-11 18:53] openstaxalina opened #2125 "NEWLINE TESTING: Extra spacing in table headers"
![extratablespace](https://user-images.githubusercontent.com/7863733/49822758-a6549f80-fd43-11e8-9a25-c4b890e57bd2.png)

[2018-12-11 18:53] openstaxalina commented on #2125
location: https://staging.cnx.org/contents/bDIuMp-w@12.1:Udq0TEdu@11/14-4-DNA-Replication-in-Prokaryotes

[2018-12-11 19:00] openstaxalina opened #2126 "NEWLINE TESTING: Extra spacing after block elements?"
![blockelementspacing](https://user-images.githubusercontent.com/7863733/52742219-e8e16500-2f9c-11e9-8e8a-c782a8d86400.png)

[2018-12-11 19:03] openstaxalina commented on #2126
location: https://staging.cnx.org/contents/bDIuMp-w@12.1:qZUaLE-Z@12.1/Science-Practice-Challenge-Questions

[2018-12-11 19:05] edwoodward opened #2127 "NEWLINE TESTING: <div> to <span> newline transform change causes list to be on a single line"
Production URL - https://cnx.org/contents/vEmOH-_p@6.8:2bGSjz1y@7/17-2-How-Households-Supply-Financial-Capital

On production,  the list looks as expected, but with excess space.
![screenshot from 2018-12-11 12-56-16](https://user-images.githubusercontent.com/1394695/49823177-ad2fe200-fd44-11e8-98de-034da9fe8f18.png)

HTML on production
![screenshot from 2018-12-11 12-58-53](https://user-images.gi

[2018-12-11 19:10] Malar-Natarajan opened #2128 "NEWLINE TESTING: Image of Figure 1 in Introduction of Ch 1 is missing in staging"
Image of Figure 1 in Introduction of Ch 1 is missing in staging.

Staging URL: https://staging.cnx.org/contents/p7ovuIkl@7.1:gMXC1GEM@11/Introduction

Production URL: https://cnx.org/contents/p7ovuIkl@6.16:gMXC1GEM@7/Introduction

Screenshot comparing staging vs. production (safari)

<img width="1675" alt="screen shot 2018-12-11 at 1 08 34 pm" src="https://user-images.githubusercontent.com/4027646

[2018-12-11 20:16] omehes opened #2129 "NEWLINE TESTING: extra spacing in tables (Chemistry book)"
There is extra spacing in table in Chemistry / 2.3 Atomic Structure and Symbolism
See attached screen shot:

![nlinet1](https://user-images.githubusercontent.com/44207656/49827564-39470700-fd4f-11e8-9cc1-baec34d5c594.png)

[2018-12-11 20:32] openstaxalina opened #2130 "NEWLINE TESTING: Is it expected to change newlines in Math?"
See https://staging.cnx.org/contents/kRfPjKij@8.1:grqn3Xh2@8/11-3-The-Expenditure-Output-or-Keynesian-Cross-Model for four examples.

[2018-12-11 21:14] omehes opened #2131 "NEWLINE TESTING: some <div... is not transformed to <span... in Polish book"
In Polish book "Fizyka dla szkół wyższych. Tom 1" and some sections (baked):
https://staging.cnx.org/contents/TqqPA4io@1.107:jsLPl4e-@1.107/Rozwi%C4%85zania-zada%C5%84

some <div elements are not transformed to <span... See the attached screenshot. This applies to more modules which have <div elements instead of <span...

also:
https://staging.cnx.org/contents/TqqPA4io@1.107:USnRLiXz@4/E-Wzory-mat

[2018-12-11 21:21] openstaxalina commented on #2131
only one instance of newline in 2.3, and it's a div:
<img width="1440" alt="screen shot 2018-12-11 at 3 20 22 pm" src="https://user-images.githubusercontent.com/7863733/49831009-68ae4180-fd58-11e8-93b7-7b43aafb9cca.png">

[2018-12-11 21:24] openstaxalina commented on #2131
11 instances of newline in 3.6; some are math and the rest are divs:
https://staging.cnx.org/contents/TqqPA4io@1.107:rdURYw3u@4/3-6-Wyznaczanie-r%C3%B3wna%C5%84-ruchu-metod%C4%85-ca%C5%82kowania

[2018-12-11 21:54] brittany-johnson commented on #2115
@paulinaszczucinska I saw that you moved this to PDM/UX review. Who would you like me to assign to the card to review it?

[2018-12-12 14:13] omehes opened #2132 "More Details and Page buttons do not function"
Steps:
1. open a book on staging.cnx.org
2. Click on the Downloads button (bottom of the page)
3. Click on More details and Page buttons (next to Book button)
Result: Nothing happens
Actual: More details should show by clicking on More details button, and view should change to Page view when clicked on Page button

Discussed with Ed.

[2018-12-12 15:23] openstaxalina opened #2133 "WEBVIEW PORTION: Change Request: Remove option for module PDFs"
See description in: https://github.com/Connexions/cnx/issues/38

This card is for the webview portion only.

[2018-12-12 15:34] paulinaszczucinska commented on #2115
@brittany-johnson Helene, Adrian and Patryk reviewed 2116 PR and now it is in QA testing.

[2018-12-12 15:36] openstaxalina commented on #2099
@brittany-johnson is this something you'd be interested/willing to take a look at, maybe sometime next week after code freeze?
cc @helenemccarron
cc @Bkblodget

[2018-12-12 15:53] omehes opened #2134 "Link in legacy-staging redirects to production page"
Steps:
1. on staging.cnx.org (or qa.cnx.org) open a book
2. click on CNX Author|legacy site link and you are taken to legacy-staging.cnx.org
3. click on link: "Note: You are viewing an old style version of this document. The new style version is available here."
Result: you will be redirected to cnx.org page instead of staging.cnx.org
Actual: You should be redirected to staging.cnx.org

https://le

[2018-12-12 15:54] openstaxalina commented on #2124
@Bkblodget could you take a look at this with the team when you get a chance?  This should have been fixed by https://github.com/Connexions/rhaptos.cnxmlutils/pull/166.

I haven't been able to replicate this on staging or production.

[2018-12-12 18:57] Bkblodget commented on #2124
@openstaxalina It seems this issue and https://github.com/Connexions/webview/issues/2100 are the same. It looks like Ross, Helene & Brittany J will be doing to paired programming to fix this - hopefully for 1.15.19 release.

@brittweinstein do you and Alina think we should combine these issues into one or leave them both open?

[2018-12-12 19:03] brittweinstein commented on #2124
@Bkblodget I think it's ok to have this just in one place--especially since this is a shared repo.

[2018-12-12 19:21] openstaxalina commented on #2124
closing, will be fixed with https://github.com/Connexions/webview/issues/2100

[2018-12-12 19:23] Bkblodget commented on #2100
Another instance of this happens in https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:tiLfHQfp@5/9-4-Divided-Government-and-Partisan-Polarization - from #2124.

A temporary fix for one instance of this in American Government was implemented with https://github.com/Connexions/rhaptos.cnxmlutils/pull/166

[2018-12-12 19:24] openstaxalina commented on #2124
Actually, I don't think this is the same issue.  This should have been fixed with Connexions/rhaptos.cnxmlutils#166 (and it **was** fixed on staging and production).

#2100 is a the same issue, but in a different location in a different book.  It was probably never targeted to be fixed with Connexions/rhaptos.cnxmlutils#166.

Therefore, I'd like to keep this open if possible.  The fact that Connex

[2018-12-12 19:48] Bkblodget commented on #2121
I looked into this as much as I could and this is what I've found:

1. as @edwoodward pointed out this sim works fine in archive. It also works fine in legacy: https://legacy.cnx.org/content/m42440/1.9/?collection=col11406/1.14&legacy=true

2. I found another CNX/archive sim in College Physics that works just fine & with the exact same markup, so I am ruling out cnxml markup as the issue: https://

[2018-12-13 11:23] wilkus27 opened #2135 "Additional Learning Objectives in Introduction"
On katalyst01 (https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:ZxUeqvJc@4/Introduction) in Introduction there is extra abstract **Learning Objectives**:

![learn_obj](https://user-images.githubusercontent.com/40228854/49935590-b69a8500-fed1-11e8-9745-e4b911717876.JPG)

PDF:

![learn_obj_pdf](https://user-images.githubusercontent.com/40228854/49935596-bdc19300-fed1-11e8-9b10-05392d7b6885.JPG)

Th

[2018-12-13 11:42] PatBoj commented on #2135
In my opinion it's content issue. Screens below are from raw (not baked) html file:

![image](https://user-images.githubusercontent.com/20907906/49936018-00379f80-fed3-11e8-8657-8b913ddf18eb.png)

![image](https://user-images.githubusercontent.com/20907906/49936020-03329000-fed3-11e8-983a-aa2b31f59a7f.png)

![image](https://user-images.githubusercontent.com/20907906/49936025-06c61700-fed3-11e8-873

[2018-12-13 13:20] wilkus27 opened #2136 "Inconsistent types of lists"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:36iSJo6e@18.8/Review-Questions) lists in **Review Questions** are created in two ways: by `type="a"` and `type="A"`.

![lists](https://user-images.githubusercontent.com/40228854/49941141-f0738780-fee1-11e8-89dc-6721e7b40c7e.JPG)

In PDF all lists are created in the same way:

![lists_pdf](https://user-images.githubusercontent.co

[2018-12-13 13:59] wilkus27 opened #2137 "Missing title in Get Connected"
On katalyst01 (https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:RoFNuV0o@3/3-5-Advantages-and-Disadvantages-of-Federalism) there is a note **Get Connected** without subtitle:

![title](https://user-images.githubusercontent.com/40228854/49943169-7e9e3c80-fee7-11e8-8a2f-f335216b130b.JPG)

PDF:

![title_pdf](https://user-images.githubusercontent.com/40228854/49943177-84941d80-fee7-11e8-9a8d-3286a88f

[2018-12-13 14:06] uskka commented on #2115
Unfortunately the issue still appears on webview, tested on macOS and Windows with Chrome, Firefox and Safari. Screenshot from Katalyst01 ![screenshot-katalyst01 cnx org-2018 12 13-15-02-59](https://user-images.githubusercontent.com/40228918/49943454-359ab800-fee8-11e8-9f06-545b46dbb306.png)

[2018-12-13 16:30] brittany-johnson commented on #2115
The code was never actually merged to master after review. Sorry about that! @uskka

[2018-12-13 17:22] openstaxalina commented on #2127
This is occurring because the stepwise lists have a flex element enabled.  When we disable the flex element, the list displays properly.  @PiotrKozlowski could you create a PR that disables the flex element on stepwise lists?  However, we still need to handle stepwise lists appropriately in Chemistry and DevMath.  Is there a solution that accommodates both displays?
cc @helenemccarron

[2018-12-13 17:33] openstaxalina commented on #2125
This is desired; closing.

[2018-12-13 17:33] #2125 closed

[2018-12-13 18:41] PiotrKozlowski commented on #2127
Display flex will work only after recipie change will be applied to all books with stepwise class.

For now I've just deleted all styling for `.stepwise` so it will behave as a normal list.

The easiest solution to make it work on all books and do not break others will be to change `stepwise` class to `os-stepwise` wile baking and style only the second one.

[2018-12-14 18:50] edwoodward commented on #2132
@omehes  When I run master on my local install the buttons work. I retested on staging and qa and it is also working. I'm not sure if the code got redeployed or what, but it is working.

[2018-12-14 19:36] omehes commented on #2132
@edwoodward
I just deployed to qa but still the same issue. And also on staging. I tried on Safari, Chrome and FF.

{"date": "2018-12-10 18:03:25 CST",
 "webview": "9afc493b8f9c2fee608555a680fccda15d57d569 (v0.43.0)",
 "cnx-archive": "4.7.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "xiao.xiao v0.68.0",
 "press": "7.2.0",
 "cnx-deploy": "v2.33.1"
}

[2018-12-14 20:03] Bkblodget commented on #2121
This issue is similar to https://github.com/Connexions/webview/issues/2099 and updates will be tracked there, however, this issue will remain open until fix is confirmed.

[2018-12-14 20:08] Bkblodget commented on #2099
@openstaxalina - @edwoodward  believes this problem may originate with a sizing parameter within the `<note>` tag that ignores or suppresses the sizing specifications given within the `<iframe>` tag.

[2018-12-14 20:30] omehes commented on #2134
@Bkblodget I don't think it breaks any automated tests. I found it by manual testing.

[2018-12-14 21:15] openstaxalina commented on #2135
Since this only occurs in one place, I agree this is a content issue **specific to the chapter 2 introduction module in American Government**.  I am moving this to the content-managers repo.

[2018-12-14 21:15] #2135 closed

[2018-12-14 21:15] openstaxalina commented on #2135
Issue moved to [Connexions/content-managers #506](https://github.com/Connexions/content-managers/issues/506) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-14 21:18] openstaxalina commented on #2136
It looks like the PDF template is standardizing them, whereas the content is not standardized :-(

@helenemccarron is there any possibility of making lists in review questions in American Government standardize to lowercase?  This would give us some more time to standardize the content.  Let us know your thoughts.  cc @lwtchu @PatBoj

[2018-12-14 21:38] openstaxalina commented on #2137
I'm not sure what's going on here.  I compared the HTML on production from a different note to see if these two looked different _before_ baking, too.  They look the same to me.

Left: https://cnx.org/contents/W8wOWXNF@18.12:RoFNuV0o@6/Advantages-and-Disadvantages-of-Federalism
Right: https://cnx.org/contents/W8wOWXNF@18.12:p6XzOSUt@9/Engagement-in-a-Democracy

![getconnectednotesonprod](https://u

[2018-12-17 08:40] PatBoj commented on #2136
The question is how this affect other books.
[code]

[2018-12-17 08:56] PatBoj commented on #2137
@openstaxalina It's because there is a table inside the note. I could look into it deeper and try to fix it via recipe.

[2018-12-17 14:50] #2074 closed

[2018-12-17 14:50] wilkus27 commented on #2074
Issue moved to [Connexions/cnx-recipes #751](https://github.com/Connexions/cnx-recipes/issues/751) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-17 16:47] brittweinstein commented on #2099
Books team discussed this in scrum and there is only an <iframe> width specification in content. Can you please specify where any other width parameters are seen?

[2018-12-17 17:32] Bkblodget commented on #2099
@edwoodward could you provide where the books team can find the <note> sizing specifications you mentioned to me?

[2018-12-17 17:37] philschatz commented on #2131
@openstaxalina Not all newlines were being converted to a span. The one in the screenshot is in a list. I created a new Pull Request but I am not sure who should review: https://github.com/Connexions/rhaptos.cnxmlutils/pull/174

[2018-12-17 23:06] openstaxalina commented on #2137
@PatBoj From my perspective, we do want to support tables inside notes, without an impact to the title on the table. If you could look into supporting this, that would be much-appreciated!  cc @helenemccarron

[2018-12-18 12:04] uskka commented on #2115
Looks good. Tested on katalyst01.
![screenshot-katalyst01 cnx org-2018 12 18-12-56-49](https://user-images.githubusercontent.com/40228918/50152624-6867f600-02c4-11e9-8ffb-bc01ec496913.png)

[2018-12-18 12:04] #2115 closed

[2018-12-18 18:16] openstaxalina commented on #2085
@reedstrm's PR corrects the issue Alan noted above: https://github.com/Connexions/webview/pull/2120

@brittany-johnson will input a screenshot confirming this.

[2018-12-18 18:32] openstaxalina commented on #2086
This is ready for testing when @Stackblocks is back.

[2018-12-19 11:31] wilkus27 opened #2141 "Small distance between element and Hide Solution"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:kWoglDtR@4/8-8-Use-the-Complex-Number-System) different elements are too close option Hide Solution:

mathematical object:

![hide_math](https://user-images.githubusercontent.com/40228854/50217740-e0e4ba80-0389-11e9-96a5-d32b3f16fcdd.JPG)

paragraph:

![hide_par](https://user-images.githubusercontent.com/40228854/50217755-eb06b9

[2018-12-19 14:35] omehes commented on #2086
@brittweinstein @Stackblocks Please note that while exploratory testing search, I saw the following:
- in Advanced search click the Submit button without entering anything in the fields
screen jumps and flashes but no warning message appears
- click Submit button again
A message in pink rectangle appears: "Please enter search criteria." It only appears after second click on the Submit button.

[2018-12-19 15:08] openstaxalina commented on #2086
Thanks, Otto!  @brittany-johnson would you be able to take a look at the behavior Otto described above?

[2018-12-19 16:41] wilkus27 opened #2142 "Images in line with text"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:trumP0-X@2/9-5-Solve-Applications-of-Quadratic-Equations) in Section Exercises figures display in line with text:

![img_inline](https://user-images.githubusercontent.com/40228854/50234046-181c9100-03b5-11e9-8a0e-eb1dae8b6654.JPG)

PDF:

![img_pdf](https://user-images.githubusercontent.com/40228854/50234060-2074cc00-03b5-11e9-84

[2018-12-19 16:57] omehes opened #2143 "Empty books should not spin forever"
When I click:
https://staging.cnx.org/contents/fbedafc0-c560-4dbc-90d5-4d54ec1aa63c@1.1

the collection does not load, just spins forever. As per comments from Ross, the collection is empty.

Empty collections should not break display in webview. This is fixed in legacy. (cannot publish new empty collections)

Other related bug: https://github.com/Connexions/webview/issues/2144

[2018-12-19 17:04] omehes opened #2144 "Empty collections should not be allowed to be published"
When I click:
https://staging.cnx.org/contents/fbedafc0-c560-4dbc-90d5-4d54ec1aa63c@1.1

the collection does not load, just spins forever. As per comments from Ross, the collection is empty.

Empty collections should not be allowed to be published in webview. This is fixed in legacy.

Other related issue is here: https://github.com/Connexions/webview/issues/2143

[2018-12-19 17:05] reedstrm commented on #2143
We could consider deleting all the empty books. Here's the full list from staging:
[code]

[2018-12-19 17:14] Bkblodget commented on #2143
@reedstrm assuming these collections are on staging and production?

[2018-12-20 11:06] PiotrKozlowski commented on #2069
I still believe this is related to #1666, because math is outside paragraph - newlines are breaking paragraphs.

[2018-12-20 16:49] Bkblodget commented on #2144
Issue moved to [Connexions/cnx-press #314](https://github.com/Connexions/cnx-press/issues/314) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-20 16:49] #2144 closed

[2018-12-20 16:59] Bkblodget opened #2147 "Delete empty collections in legacy"
Note from @reedstrm:

We could consider deleting all the empty books. Here's the full list from staging:
[code]

[2018-12-31 12:55] PatBoj commented on #2137
I've done nothing and it's fixed now :smile:
https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:RoFNuV0o@3/3-5-Advantages-and-Disadvantages-of-Federalism
@wilkus27 could you confirm and close issue if you decide that the problem is gone?

![image](https://user-images.githubusercontent.com/20907906/50560677-732e7c00-0d03-11e9-8642-9d78ec84979a.png)

[2019-01-02 11:23] wilkus27 commented on #2137
Yes, I confirm. Now it is working:

![title](https://user-images.githubusercontent.com/40228854/50589972-1e1c7280-0e89-11e9-8d0e-d8d435310774.JPG)

[2019-01-02 11:23] #2137 closed

[2019-01-02 12:50] wilkus27 opened #2148 "Unnumbered table in PDF"
On katalyst01 (https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:Nq3qcyIB@6/2-4-Solve-Mixture-and-Uniform-Motion-Applications) in **Example 2.47** table in Show Solution has number **2.2**:

![table_webview](https://user-images.githubusercontent.com/40228854/50592601-1e226f80-0e95-11e9-99fa-4d1ca8e48109.JPG)

In PDF this table is unnumbered:

![table_pdf](https://user-images.githubusercontent.com/

[2019-01-02 13:01] wilkus27 opened #2149 "Extra list"
On katalyst01 (https://katalyst01.cnx.org/contents/yqV9q0HH@13.3:JBQVYZxr@13.3/Key-Concepts) there is an extra list with one item:

![list_web](https://user-images.githubusercontent.com/40228854/50592962-b0774300-0e96-11e9-9327-ca46c23f42af.JPG)

This problem also occurs in PDF:

![list_pdf](https://user-images.githubusercontent.com/40228854/50592982-c38a1300-0e96-11e9-813c-93377506ae8b.JPG)

[2019-01-02 13:10] wilkus27 opened #2150 "Two types of lists for one item"
On katalyst01 (https://katalyst01.cnx.org/contents/yqV9q0HH@13.3:-MajHA0Y@13.3/Answer-Key) there are two types of lists next to each other:

![double_lists](https://user-images.githubusercontent.com/40228854/50593222-c89b9200-0e97-11e9-861d-c8c2841a5643.JPG)

[2019-01-02 13:54] PatBoj commented on #2148
There is a typo in the table class name. Should be *class=unnu**m**bered* not *class=unnu**n**bered*.

![image](https://user-images.githubusercontent.com/20907906/50594770-2df28180-0e9e-11e9-8b94-9f1bbcd2a792.png)

[2019-01-02 14:05] PatBoj commented on #2150
This is content problem, because those lists do not have `circled` class.

[2019-01-02 15:33] openstaxalina commented on #2149
It seems that section summaries are always in list format, even if the list only contains one item.  I am closing this issue.

[2019-01-02 15:33] #2149 closed

[2019-01-02 15:33] #2148 closed

[2019-01-02 15:33] openstaxalina commented on #2148
Issue moved to [Connexions/content-managers #512](https://github.com/Connexions/content-managers/issues/512) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-02 15:36] #2150 closed

[2019-01-02 15:36] openstaxalina commented on #2150
Issue moved to [Connexions/content-managers #513](https://github.com/Connexions/content-managers/issues/513) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-02 22:19] edwoodward commented on #2147
Possible solution - https://github.com/openstax/cnx-devops/wiki/Deleting-Legacy-Content

[2019-01-03 10:33] PatBoj commented on #2136
@helenemccarron Do you have any idea how to fix that and reduce impact on the other books?

[2019-01-03 12:19] wilkus27 commented on #2127
Verified on katalyst01 (https://katalyst01.cnx.org/contents/vEmOH-_p@6.4:2bGSjz1y@7/17-2-How-Households-Supply-Financial-Capital)

![lists](https://user-images.githubusercontent.com/40228854/50637285-a702df00-0f59-11e9-8723-027bcbce3f9c.JPG)

[2019-01-03 17:39] omehes commented on #2132
Verified on qa.cnx.org. Fixed

{"date": "2019-01-03 11:24:29 CST",
 "webview": "65e33ad4775417bd5dfcb698d5cab69f1d594466 (v0.43.0-13-g65e33ad)",
 "cnx-archive": "8f400e7575a146a96f16f3a156ad5a7aaf703ed8",
 "cnx-publishing": "f78247890f2b04436d365535e1885388c49715ce",
 "oer.exports": "xiao.xiao v0.68.0",
 "press": "7.2.0",
 "cnx-deploy": "v2.33.1-15-g7f3ac49"
}

[2019-01-03 20:07] edwoodward commented on #2147
The following collections in the list are not blank. There could be more in the list.

col11254
col11944
col11952
col11301
col11985
col11984
col11252
col11975
col11939
col11955
col11942
col11953

There are also several duplicates such as col11301 which is in the list several times.

[2019-01-04 20:54] Bkblodget commented on #2065
Closing this issue - it was fixed in https://github.com/openstax/webview/issues/2064

[2019-01-04 20:54] #2065 closed

[2019-01-07 15:51] marcjeannott opened #2151 "NOT DOING NOW Baked Book Changes Don't Show Up on Module Only View"
While working on a different issue, I noticed that a baked book such as College Physics does not show any baked book stuff when looking at the modules alone. For example, https://staging.cnx.org/contents/CImQfPDv@4.1:lBmVYBst@8/1-3-Add-and-Subtract-Integers
has class has-images in the images of the table, making them big and easy to see, but
https://staging.cnx.org/contents/lBmVYBst@8/Add-and-Subt

[2019-01-07 16:14] openstaxalina commented on #2099
https://github.com/openstax/webview/issues/2121 may be related

[2019-01-07 16:30] mwest-WWprod opened #2152 "Accounting - Exercise listing"
content03
GLOBAL

“Exercises” should be singular “Exercise” as in PDF and as with “Problem” sets. Applies to list on left (TOC) and list on right at bottom of opening page.
**Exercise Set A
Exercise Set B**

![exerciseswebview](https://user-images.githubusercontent.com/19212926/50779641-e76e9f80-126e-11e9-82be-405a8d7104b6.png)

[2019-01-07 16:57] #1666 closed

[2019-01-07 17:00] brittweinstein commented on #2127
@omehes Can we close this as well?

[2019-01-07 20:50] brittweinstein commented on #2131
@Adrianltd would you mind reviewing this PR? When it has been reviewed, please assign to @omehes for qa testing.

[2019-01-07 21:30] helenemccarron commented on #2136
In this case, it would affect all books using the `.review-questions` class. @openstaxalina would that be acceptable? I am not sure which books are using that class, maybe the bookmaps could help?

[2019-01-08 11:33] PatBoj commented on #2136
@helenemccarron I've checked this out and it will affect to _Astronomy_ (ex. https://katalyst01.cnx.org/contents/LnN76Opl@14.24:vkZyi4XZ@14.24/Exercises), _U.S. History_ (ex. https://katalyst01.cnx.org/contents/p7ovuIkl@6.3:oDi6rxmE@6.3/Review-Questions).

[2019-01-08 17:41] mwest-WWprod opened #2154 "TABLE OVERHAUL Accounting - Table design"
content03
GLOBAL

Shading and differentiation of tables with merged cells is problematic re: clarity of content in webview. Webview is assigning same design to merged cells (e.g., Production” and “Purchasing material”). Webview style seems to be driven by smallest factor (right column) instead of pedagogical “chunks” (left column). If “Production” and “Purchasing material” aren’t adequately distin

[2019-01-08 21:23] brittweinstein commented on #2151
Could someone please put an estimate on this?

[2019-01-09 09:54] wilkus27 opened #2155 "Numbering in section References"
On katalyst01 (https://katalyst01.cnx.org/contents/W8wOWXNF@18.8:PZqKd1ie@18.8/References) in **References** section numbers should be bolded and after each number should be added the dot. This is how it looks now:

![numbering](https://user-images.githubusercontent.com/40228854/50891566-da7fb680-13fc-11e9-9c0f-cdc1de0dbed7.JPG)

[2019-01-10 10:46] Adrianltd commented on #2131
I've assigned @omehes to that PR mentioned before.

[2019-01-10 15:39] omehes opened #2157 ""Get This Book" box remains open and floats when scrolling the page"
Found by Sourov

Steps:
1. Open a book
2. Click on 'Get this book!' button
3. Scroll up/down while dialog box is open
Expected: Box with options to download should close when page is scrolled(?)
Actual: 'Get this book' box moves upwards and overlaps the grey area section and then scrolls of the screen. It can be scrolled back

See screen shot.

![getscr](https://user-images.githubusercontent.com/4

[2019-01-10 15:45] omehes opened #2158 "'Get This Book!' dialog shifts when browser is resized"
Steps:
1. Open a book
2. Click on 'Get this book!' button
3. Resize the browser while the box is open
Expected: Box with options to download should remain in its correct position right under the green Get button
Actual: 'Get this book' box shifts away depending how much you resize the browser

See screen shot.

![gerscr2](https://user-images.githubusercontent.com/44207656/50979543-5260e600-14bc-11

[2019-01-10 18:32] openstaxalina commented on #2136
Thank you so much for that investigatn @PatBoj -- that is super helpful.

We should standardize all lists in .review-questions to uppercase.  My understanding is that this will impact _Astronomy_ and _U.S. History_ , where PDF & Webview will match, and _American Government_, where PDF & Webview will not match, but this is okay (confirmed w/ Anthony).

Please let me know if you have any questions @

[2019-01-10 18:33] openstaxalina commented on #2136
Also, please let me know if this impacts other titles than the three listed above.

[2019-01-10 19:01] omehes commented on #2127
@brittweinstein I verified on latest build on staging. It looks worse now, numbering disappeared and items are in one line. See attached screen shot.

![spacing1.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/6bb9f4a8-fad0-428f-99bb-ffb2d07e134c)

"date": "2019-01-10 11:27:24 CST",
 "webview": "9afc493b8f9c2fee608555a680fccda15d57d569 (v0.43.0)",
 "cnx-archive": "4.7.0",
 "cnx-

[2019-01-11 16:32] openstaxalina commented on #2154
Would like to discuss options on Monday with @lwtchu @helenemccarron @brittany-johnson @tomjw64.  Note above request: _Would it be possible to remove the cell shading entirely, and add exterior and interior rules to webview tables? We understand this may be a longer term consideration/fix._

[2019-01-11 16:44] tomjw64 commented on #2154
@openstaxalina @mwest-WWprod Is it possible to get a link to where this happens in webview so that we can get a good look at the markup?

[2019-01-11 16:47] openstaxalina commented on #2154
@tomjw64, good point :-)
here you go: https://content03.cnx.org/contents/nBM3VIXy@3.14:4A0nAXdZ@4/6-3-Calculate-Activity-Based-Product-Costs

[2019-01-11 17:05] tomjw64 commented on #2154
We have a couple options here:
1) Checkerboard the merged spans themselves (either with JS or possibly some really complex CSS) (darkened the screenshot for visibility)
Option 1 might looks something like this
![screenshot_9](https://user-images.githubusercontent.com/1285308/51048092-b7394080-158f-11e9-86bc-ff33213da140.png)
2) Use JS to find tables containing merged spans to be styled with border

[2019-01-11 17:07] openstaxalina commented on #2154
@tomjw64 this is great; I'll go over these options with WiseWire on Tuesday (1/15).

[2019-01-11 22:16] openstaxalina commented on #2085
Re-verified on staging with latest deploy (w/  **x-20190108-equations** hotfixes)
<img width="1288" alt="screen shot 2019-01-11 at 4 16 03 pm" src="https://user-images.githubusercontent.com/7863733/51062355-43f9f380-15bc-11e9-97ef-aed1250ffc93.png">

[2019-01-14 12:00] wilkus27 commented on #2142
Verified on katalyst01:

**Intermediate Algebra**

![inter](https://user-images.githubusercontent.com/40228854/51111344-1602f200-17fc-11e9-8802-1dab3cc53a9c.JPG)

**Prealgebra** (e.g. https://katalyst01.cnx.org/contents/yqV9q0HH@13.3:4A4IPh7R@23/9-3-Use-Properties-of-Angles-Triangles-and-the-Pythagorean-Theorem)

![pre](https://user-images.githubusercontent.com/40228854/51111373-2adf8580-17fc-11e9

[2019-01-14 12:00] #2142 closed

[2019-01-14 16:00] brittweinstein commented on #2154
@openstaxalina to show visuals of option 1 and 3 to WW on call tomorrow.

[2019-01-14 16:06] brittweinstein commented on #2151
Needs more analysis. We will get to this work in a quarter where we are not publishing as much.

[2019-01-14 18:00] oscryan opened #2160 "Bold and delete newline in LO links"
In Accounting on staging in AW the LO links in webview show up as figure links instead of anything else (like LO icon or other class of link). This occurs in every instance of an LO link, everywhere in the book.

https://staging.cnx.org/contents/kg0cimBs@1.78:mqbLq8fR@1.78/Multiple-Choice

<img width="1307" alt="screen shot 2019-01-14 at 11 58 28 am" src="https://user-images.githubusercontent.com/

[2019-01-14 21:17] brittweinstein commented on #2127
@omehes is there anything new on this? Perhaps it does need to be rebaked?

[2019-01-14 21:30] omehes commented on #2127
@brittweinstein @Bkblodget No news on this. I was asking the same, whether it needs rebaking to see if it works.

[2019-01-15 11:09] PiotrKozlowski commented on #2127
@omehes @brittweinstein @Bkblodget It should look like in screenshot from @wilkus27
So it needs to be deployed from master and book should be rebaked.

[2019-01-15 14:45] omehes commented on #2127
I reverified this on latest deployed staging on Chrome and FF. Looks nice with single spacing. Fixed

{"date": "2019-01-11 15:20:09 CST",
 "webview": "65e33ad4775417bd5dfcb698d5cab69f1d594466 (v0.44.0)",
 "cnx-archive": "4.8.0",
 "cnx-publishing": "0.15.0",
 "oer.exports": "ymmy.yeti v0.69.0",
 "press": "8.0.1",
 "cnx-deploy": "v2.34.1"
}

[2019-01-15 14:45] #2127 closed

[2019-01-15 16:13] PatBoj commented on #2155
@wilkus27 It's ready for testing.

[2019-01-15 18:39] Bkblodget opened #2163 "UX: Update New Version Banner"
## Overview
As a user, I would like the new version banner to grab my attention better so that I don't miss it and accidentally view old content.

### More Information
The long term fix for this user experience is to eventually create non-versioned URLs (https://github.com/openstax/cnx/issues/205). Updating the banner is the more immediate fix.

### Example
https://cnx.org/contents/mwjClAV_@5.1:nU

[2019-01-15 19:38] openstaxalina commented on #2154
@mwest-WWprod + team gathering more examples, possibly examples with multiple lines of text in the cell.

@openstaxalina revisit with team -- why aren't the colors alternating on the left side?  Isn't this a fix we would want for all tables?

May need to resolve this post-publication.

[2019-01-16 10:52] wilkus27 commented on #2136
I'm going to check other books by Elefind, but I'm not sure how much time it will takes.

[2019-01-16 16:18] openstaxalina opened #2165 "WAITING [content investigation] Table Numbers Not Displaying"
Location: https://devb.cnx.org/contents/vhdu3531@10.1:L7Q4WVV7@1/Table-Testing

Table numbers are not displaying, even though the markup does **not** use the unnumbered class or an empty label tag:
<img width="456" alt="screen shot 2019-01-16 at 10 12 12 am" src="https://user-images.githubusercontent.com/7863733/51262427-f690d400-1977-11e9-88bd-e186182e582c.png">

Note that table numbers display i

[2019-01-16 16:44] openstaxalina commented on #2136
This spreadsheet captures which books use `type="A"` and/or `class="review-questions"` https://docs.google.com/spreadsheets/d/1xRt2in0XaFpA5no6yLQbXBf7Q7pKeJ4yzI4yRpFacKY/edit#gid=0

[2019-01-16 16:49] openstaxalina commented on #2136
Based on the above spreadsheet, this change will also impact Economics textbooks and _Psychology_, which use the review-questions class. However, economics review questions do not contain answer choices, thus are not actually impacted by the change to uppercase letters.

The _Psychology_ PDF uses lowercase letters, so the change to uppercase in webview will create a discrepancy between PDF and web

[2019-01-16 16:51] openstaxalina commented on #2136
Copying the final decision one more time:

We should standardize all lists in .review-questions to **uppercase**.

(https://github.com/openstax/webview/issues/2136#issuecomment-453203879)

[2019-01-16 22:50] brittany-johnson commented on #2091
@Stackblocks Fixed with https://github.com/openstax/webview/issues/2086

[2019-01-18 09:58] wilkus27 commented on #2155
Veryfied on katalyst01:

![numbers](https://user-images.githubusercontent.com/40228854/51379543-f6c3d780-1b0f-11e9-827d-4091fd16066a.JPG)

[2019-01-18 09:58] #2155 closed

[2019-01-18 16:32] Stackblocks commented on #2086
QED

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/4dccb8f6-f191-4de4-b42b-2944ba420ebe)

[2019-01-18 16:32] #2086 closed

[2019-01-18 16:33] Stackblocks commented on #2091
QED

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/178766cc-1044-46e0-93d4-c90aa1ab44fd)

[2019-01-18 16:33] #2091 closed

[2019-01-18 19:05] brittweinstein commented on #2131
@Adrianltd are we ready to close this?

[2019-01-21 08:46] Adrianltd commented on #2131
@brittweinstein https://github.com/openstax/rhaptos.cnxmlutils/pull/174 is not merged yet, so I don't think so. It still needs review of 3 devs. And after that @omehes should test the fix.

[2019-01-22 09:35] wilkus27 commented on #2141
Verified on katalyst01:

1.
![math](https://user-images.githubusercontent.com/40228854/51525699-2c7b0000-1e31-11e9-886d-1b02a49edb54.JPG)

2.
![par](https://user-images.githubusercontent.com/40228854/51525720-3997ef00-1e31-11e9-8fd6-f3e1d25ebfa1.JPG)

Checked also in **Prealgebra** and **Elementary Algebra**.

[2019-01-22 09:35] #2141 closed

[2019-01-22 15:18] marcjeannott commented on #2124
Verified on Production
![2019-01-22_09-16-53](https://user-images.githubusercontent.com/33228728/51544932-9215bf00-1e26-11e9-96cf-9b8443d99bad.jpg)

[2019-01-22 15:18] #2124 closed

[2019-01-22 16:11] marcjeannott commented on #2108
Verified on production

[2019-01-22 16:11] #2108 closed

[2019-01-22 17:06] brittany-johnson commented on #2160
note for brittanyj: add target label for LO in cnx-recipes

[2019-01-22 17:07] openstaxalina commented on #2160
In Webview, it should say *LO [#.#]*, example
*LO 1.1* The managers of...

[2019-01-22 17:15] brittany-johnson opened #2167 "Numbering in EOC not aligned w/ ordered lists"
![Screen Shot 2019-01-18 at 12.53.58 PM.png](https://images.zenhubusercontent.com/5b0d6efdd59b032fbd122962/243dbc07-e8ac-4854-a1f2-1b7a5b161751)

[2019-01-22 22:32] omehes opened #2168 "Some modules do not open in legacy when initiated from webview"
Steps:
1. open Univ Physics (any volume) or College Physics book in webview
2. Select Chapter Review in any chapter
https://cnx.org/contents/rydUIGBQ@11.1:VJzn5UkE@11.1/Chapter-Review
3. Open Chapter Review in webview, then click on CNX Author | Legacy Site link to go to legacy
Expected: Chapter Review page opens in legacy or a user friendly error message appears
Actual: Site error message appears

[2019-01-22 23:21] reedstrm commented on #2100
I've created a test collection on staging that contains all 222 instances of `NOT CONVERTED YET`
https://staging.cnx.org/contents/6K-deGrs@2.1

[2019-01-23 10:47] wilkus27 commented on #2136
Verified on katalyst01:

**American Government** - 144 lists from 197 changed
For example:

![am_gov](https://user-images.githubusercontent.com/40228854/51601043-b0052180-1f03-11e9-8968-cbf437e6eb03.JPG)

**Psychology** - 888 lists from 936 changed
For example: (https://katalyst01.cnx.org/contents/Sr8Ev5Og@9.20:xk6LHatM@9.20/Review-Questions)

![psycho](https://user-images.githubusercontent.com/40

[2019-01-23 10:47] #2136 closed

[2019-01-23 12:55] wilkus27 opened #2169 "Extra space between equations"
On katalyst01 sometimes there is an extra space between rows in tables created by math.

For example: https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:02l1UzkA@4/1-1-Use-the-Language-of-Algebra

webview:

![big](https://user-images.githubusercontent.com/40228854/51607775-ef3c6e00-1f15-11e9-9d6e-7382286df686.JPG)

PDF:

![big_pdf](https://user-images.githubusercontent.com/40228854/51607786-f6637c0

[2019-01-23 13:19] wilkus27 opened #2170 "Spacing in tables created by math"
On katalyst01 there is some problem with spacing in tables created by math:

1. https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:mH2g0CNm@7/1-5-Properties-of-Real-Numbers

![big](https://user-images.githubusercontent.com/40228854/51609178-b3a3a300-1f19-11e9-8967-a7faf6a70065.JPG)

PDF:

![big_pdf](https://user-images.githubusercontent.com/40228854/51609185-bacab100-1f19-11e9-9607-5c9479d57fc7.JPG

[2019-01-23 13:20] wilkus27 commented on #2170
There are other issues with similar problem:
- https://github.com/openstax/webview/issues/2169
- https://github.com/openstax/content-managers/issues/432

They could be related.

[2019-01-24 15:55] brittweinstein commented on #2147
@edwoodward how many points should we put on this?

[2019-01-25 22:32] openstaxalina opened #2171 "Implement a scaled-down-30 class that will display art at 30% of the viewport"
Some images in Accounting are too large in webview, even when scaled down to 60% of the viewport via the scaled-down class.  Therefore, we made a decision to scale down art to 30% of the viewport if it as the scaled-down class.  A few notes:

This should be implemented exactly as with the scaled-down class, except that the art is scaled down to 30% instead of 60%.
This should work on figures and i

[2019-01-28 16:04] brittweinstein commented on #2171
This is for all books.

[2019-01-29 15:22] Adrianltd commented on #2170
All of those math elements are created with use of dozens of `span` elements. Every span element has it's css, which looks like:

I am not sure how those math elements are created, but it looks like they are set like this in content and CMs have to change the `top` values to move stuff closer to the top.

[2019-01-29 15:23] #2170 closed

[2019-01-29 16:28] wilkus27 opened #2172 "Clinical Focus without header"
On katalyst01 (https://katalyst01.cnx.org/contents/5CvTdmJL@5.3:6UoGDInj@4/1-1-What-Our-Ancestors-Knew) note **Clinical Focus**  from the first module of the first chapter doesn't have header:

![part1](https://user-images.githubusercontent.com/40228854/51922835-1e595080-23ea-11e9-9763-d7fde7d5688d.JPG)

This is how it should looks: https://katalyst01.cnx.org/contents/5CvTdmJL@5.3:oxAkII2t@4/2-1-T

[2019-01-29 20:02] brittweinstein opened #2173 "02/26/2019 Release Epic"
Code Freeze: 02/15/2019
Code on Staging: 02/18/2019
Code on Production: 02/26/2019

[2019-01-29 20:33] openstaxalina commented on #2128
duplicate of https://github.com/openstax/cnx-recipes/issues/794; closing.

[2019-01-29 20:33] #2128 closed

[2019-01-29 21:30] omehes opened #2174 "WORK WITH TUTOR TEAM TO PRIORITIZE PheT simulations are too large for the frame and get controls/text shifted"
Go to College Physics and select chapters 3.2, 2.4, 3.1, and others with sims
Notice that these embedded sims are too large for their frames and have scrollbars. This also causes some text and controls to be shifted or overlapping.
See attached screen shots.

staging.cnx.org in Chrome and FF

Discussed with @edwoodward

![phet-11](https://user-images.githubusercontent.com/44207656/52226000-67d5ef8

[2019-01-30 13:24] uskka opened #2175 "Remove dots from table"
Remove dots from this table, so it will look like PDF.
https://katalyst01.cnx.org/contents/FPtK1zmh@12.8:FwQJfRAS@6/28-2-Embryonic-Development

**webview**
![webview kropken](https://user-images.githubusercontent.com/40228918/51983729-c1b56e80-2499-11e9-978e-f9517a01036b.png)

**PDF**
![pdf kropken](https://user-images.githubusercontent.com/40228918/51983730-c2e69b80-2499-11e9-9e50-75334c0c0a9d.pn

[2019-01-30 15:34] wilkus27 opened #2176 "Different types of lists in Review Questions"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/5CvTdmJL@5.8:7AAa2Rr2@5.8/Review-Questions) lists in Review Questions have different types:

![lists](https://user-images.githubusercontent.com/40228854/51992107-b1f35580-24ac-11e9-9ea9-79726d30fee2.JPG)

[2019-01-30 15:37] wilkus27 commented on #2176
This problem looks similar to https://github.com/openstax/webview/issues/2136, but in this book there is no `class="review-questions"`, co it should be solved in another way.

[2019-01-30 16:26] tomjw64 commented on #2171
@brittweinstein @openstaxalina Looks as though the original `scaled-down` class was only added for baked content on webview. Should I allow `scaled-down` for all books as well?

[2019-01-30 16:35] openstaxalina commented on #2171
@tomjw64 ah, good catch -- no, this should only be for baked content on webview.

[2019-01-31 09:46] wilkus27 commented on #2172
Verified on katalyst01:

![header](https://user-images.githubusercontent.com/40228854/52045713-63de6080-2545-11e9-9411-2248b8d3c110.JPG)

[2019-01-31 09:46] #2172 closed

[2019-01-31 11:31] wilkus27 opened #2179 "Remove bullet lists from Glossary"
On katalyst01 (https://katalyst01.cnx.org/contents/5CvTdmJL@5.9:Is5SUXrg@7/E-Glossary) bullet lists should be removed:

![dots](https://user-images.githubusercontent.com/40228854/52051463-f84fbf80-2553-11e9-9f37-794fe345d6aa.JPG)

This is how it looks in PDF:

![dots_pdf](https://user-images.githubusercontent.com/40228854/52051482-030a5480-2554-11e9-8828-3f9b29a740be.JPG)

[2019-01-31 11:33] wilkus27 commented on #2179
@openstaxalina I think this problem could be resolved by content as in case with Preface: https://github.com/openstax/content-managers/issues/500.

[2019-01-31 15:34] brittweinstein commented on #2154
@openstaxalina should we push this over into bomb.blondie for post publication work?

[2019-01-31 16:13] brittweinstein commented on #2100
Related issue in Principles of Management: https://app.zenhub.com/workspaces/cnx-team-5af1f4cc12da5e6d74331b60/issues/openstax/cnx-recipes/806

[2019-01-31 22:01] openstaxalina commented on #2154
@brittweinstein thank you for following up about this!

Wisewire is going to pursue content fixes for most of these cases, and we are not holding publication for any changes to webview table design.

Wisewire is also going to open a few other issues related to table design in webview.

I will move this into the backlog so we can take a more holistic approach to improving table design when we are n

[2019-02-01 16:40] openstaxalina commented on #2176
Is there another class on this content that we could target to make the lists uppercase as in #2136?

[2019-02-01 18:31] Stackblocks commented on #2152
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/d99e5c63-83cb-48fe-b2e3-a705175bd16d)

[2019-02-01 18:31] #2152 closed

[2019-02-01 18:36] Stackblocks commented on #2160
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/7b276f4e-e2a1-434d-bc24-331ac8da4b3a)

[2019-02-01 18:36] #2160 closed

[2019-02-01 20:02] omehes opened #2181 "neb get/publish (Astronomy): unnumbered chapter gets numbered and shifts the chapter numbering"
Steps:
1. neb get -r staging col26723 latest (Derived copy of Astronomy)
2. in Atom check the chapters and image files
Actual result: the previously unnumbered chapter 'Thinking Ahead' gets numbered. This causes the chapter numbers to be shifted
3. neb publish staging col26273_1.x.y
4. check the newly published copy in webview and pdf
Actual result: All chapter numbers are shifted in the newly pub

[2019-02-01 20:44] Bkblodget commented on #2181
Thoughts from @reedstrm:

we're hitting the "implementing the same feature in two places" problem. The 'skip the intro' code in webview only skips/doesn't number something explicitly named "Introduction", as a first page in a chapter. Seems the recipes are more capable.

anything that isn't named just 'Introduction' or 'Preface' will not be skipped. To get this right, we'll need the same logic tha

[2019-02-01 21:36] brittweinstein commented on #2112
@philschatz should we move this over for @omehes to test since that's where the attached PR is?

[2019-02-01 21:57] brittweinstein commented on #2174
@openstaxalina would this be something TBDs should look into?

[2019-02-01 22:21] mwest-WWprod opened #2183 "TABLE OVERHAUL Vertical rules in 'fill in data' tables"
GLOBAL (identified in Accounting)

Lack of vertical rules in webview makes it difficult for the student user to readily see where they are supposed to populate data in any 'fill in data' tables. In Accounting this occurs in feature boxes and in EOC assessments.

Example from https://cnx.org/contents/kg0cimBs@5.1:uv7SfKcq@5.1/Thought-Provokers
![table_fillindata](https://user-images.githubuserconte

[2019-02-01 22:50] mwest-WWprod opened #2184 "TABLE OVERHAUL Text wrapping in tables"
GLOBAL (identified in Accounting)

Responsive nature of platform makes it so that as a user scales their browser, or zooms in or out, text can crash in tables.

Example from https://cnx.org/contents/kg0cimBs@5.1:Vja0jJZ-@5.1/Exercises-Set-A

![text wrapping in tables](https://user-images.githubusercontent.com/19212926/52153837-970a1800-2649-11e9-9f76-54da57f3ccb3.png)

![text wrapping in tables2](

[2019-02-01 23:39] philschatz commented on #2112
Sure but what's the reason for moving the issue? Won't we lose all the discussion history?

[2019-02-04 11:18] wilkus27 commented on #2176
Veryfied on katalyst01 from feature branch.

Lists in Review Questions in Microbiology and in all books from issue https://github.com/openstax/webview/issues/2136 are working properly. I have found only two books which also have class `os-review-questions-container` but they have already had only lists with `type="A"`.

[2019-02-04 16:30] reedstrm commented on #2181
BTW, the apparent shift that @omehes saw after publishing was actually him being so fast to load the page that he saw the _raw_ book, which has the same numbering bug that `neb get` does, since they both implement the _ad hoc_ rule. (skip pages named "Introduction" or "Preface") Once the book baked, it was numbered correctly.

[2019-02-04 17:41] omehes commented on #2174
I have updated this bug with screenshots after staging deploy on 04/02/2019

[2019-02-04 17:44] omehes commented on #2121
Verify in the latest staging deploy. Looks good (a separate issue created for sims with scrollbars and overlaps).

{"date": "2019-02-04 09:55:02 CST",
 "webview": "9e7f3093433af0351140f86624fd5356a1278f53 (v0.45.0)",
 "cnx-archive": "4.8.0",
 "cnx-publishing": "0.15.0",
 "oer.exports": "astonishing.applepie v0.71.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.36.0"

[2019-02-04 17:52] #2121 closed

[2019-02-04 17:54] omehes commented on #2099
verified. fixed

{"date": "2019-02-04 09:55:02 CST",
 "webview": "9e7f3093433af0351140f86624fd5356a1278f53 (v0.45.0)",
 "cnx-archive": "4.8.0",
 "cnx-publishing": "0.15.0",
 "oer.exports": "astonishing.applepie v0.71.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.36.0"

[2019-02-04 17:54] #2099 closed

[2019-02-04 19:26] omehes opened #2185 "Incorrect size value"
Steps:
1. open collection: https://staging.cnx.org/contents/OPolDtlN@1.6:KvFTO2EG@2/Acknowledgements
2. scroll down to Downloads tab and click on More details and then Page tab
Result: The Size field shows NaN undefined instead zero
Expected: Size field should show 0 (zero)

This happens on those pdf or zip files, which have zero sizes.

All community created books, for example:
https://staging.cn

[2019-02-04 21:20] Stackblocks commented on #2171
Displaying as specified with updated version of content / code.

## scaled-down

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/dc6b194e-c1b2-407f-b372-260f76d902d3)

## scaled-down-30

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/05c6226d-98b7-4cc3-9e02-e8c8b14966dc)

[2019-02-04 21:20] #2171 closed

[2019-02-05 14:57] theresamasciale commented on #2069
After regression testing, block equations are still beneath their tokens, but they're now closer. See screenshot.
![screen shot 2019-02-05 at 8 54 35 am](https://user-images.githubusercontent.com/47189012/52281561-fe62e900-2923-11e9-83a3-43728eabcd28.png)

[2019-02-05 15:00] theresamasciale commented on #2060
After regression testing, space between math object and para text still remains the same.

![screen shot 2019-02-05 at 8 59 30 am](https://user-images.githubusercontent.com/47189012/52281802-78936d80-2924-11e9-9d3b-df494b3d24f9.png)

[2019-02-05 15:00] omehes commented on #2131
Notes from @reedstrm :
I have verified that _only_ Polish books are impacted by the problem, BTW. Here's the 27 impacted modules (based on `//x:div[contains(@data-type, "newline")]` ):
                             name                              | moduleid
---------------------------------------------------------------+----------
 Potencjał elektryczny i różnica potencjałów                   | m

[2019-02-05 15:13] openstaxalina commented on #2131
@PatBoj rebaked the Polish books on staging today, and he is not seeing this fixed.  @brittweinstein to follow up with Ross & Otto at scrum.

@helenemccarron recommends using katalyst01 as a testing server.

[2019-02-05 15:14] openstaxalina commented on #2131
We can also use qa.cnx.org as a testing server; University Physics volume 1 is on that server.

[2019-02-05 16:48] brittweinstein commented on #2133
@omehes could you verify that it is on production and close this issue if it is?

[2019-02-05 16:51] openstaxalina commented on #2174
@brittweinstein we can look into this in the next sprint if possible.  We would prioritize this behind technical work related to publishing new titles this quarter.

[2019-02-05 17:37] lwtchu commented on #2069
Not an issue. Closed

[2019-02-05 17:37] #2069 closed

[2019-02-05 20:04] brittany-johnson opened #2186 "Principles of Management: unwanted comment line or processing instruction appears in between paragraph"
@clteam18 commented on [Wed Jan 30 2019](https://github.com/openstax/cnx-recipes/issues/806)

# What happened?

In Chapter 14, under module **Process Theories of Motivation** unwanted comment line or processing instruction appears in between the paragraph as shown in screenshot.

# Environment:

- **Book(s)**: Principles of Management
- **URL/Server**: https://content02.cnx.org/contents/kAvMZRJp@3

[2019-02-05 20:44] omehes commented on #2143
verified on latest staging deploy on various books from the list above. fixed

{"date": "2019-02-04 09:55:02 CST",
 "webview": "9e7f3093433af0351140f86624fd5356a1278f53 (v0.45.0)",
 "cnx-archive": "4.8.0",
 "cnx-publishing": "0.15.0",
 "oer.exports": "astonishing.applepie v0.71.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.36.0"
}

[2019-02-05 20:44] #2143 closed

[2019-02-05 21:16] brittany-johnson commented on #2186
@openstaxalina Is it safe to assume that this should be applied to baked and unbaked books?

[2019-02-05 22:58] openstaxalina commented on #2186
@brittany-johnson I think so.  Sorry to kick this over, but @helenemccarron in your conversation with Ross, did you decide to apply this to baked _and_ unbaked books?

From my perspective, it would be okay to apply this to baked books only, if CNX is not comfortable making this change for unbaked books.

[2019-02-07 12:23] #2176 closed

[2019-02-07 17:35] omehes commented on #2131
Verified on qa, katalyst01 and staging.
After rebaking 'Fizyka dla szkół wyższych. Tom 1' the fix is visible on qa.cnx.org BUT NOT on staging or kat01.

Note, that qa has only Tom 1 book.

Discussed at standup - the fix will be in the next release not the current one.

@PiotrKozlowski

[2019-02-07 21:47] omehes opened #2187 "Legacy: Error message without indication"
Steps:
1. open a book legacy
2. in Metadata add multiple keywords in one line
3. click Save
Expected: Error message and some kind of indication where the error occurred should show
Actual: Only error message is shown "Please correct the indicated errors." but no indication

See screenshot

![error-NO2.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/1073f165-2c73-4e76-bc44-9af095

[2019-02-08 15:08] openstaxalina commented on #2184
Need to fix for fall 2019.

[2019-02-08 15:08] openstaxalina commented on #2183
Need to fix for fall 2019. Per Anthony, prioritize above https://github.com/openstax/webview/issues/2184.

[2019-02-08 15:09] openstaxalina commented on #2154
Need to fix for fall 2019.

[2019-02-08 18:22] omehes opened #2188 "Changes made to images in Atom and published via neb publish do not show"
Steps:
1. neb get a collection (col11992, col11562, etc)
2. open collection in Atom and make changes to a module (change text in index.cnxml and delete an image file)
3. save the changes
4. exit Atom
5. reopen the same collection in Atom and make sure that the changes are still present
6. neb publish the collection with changes
7. open the collection in webview and verify the changes
Actual result

[2019-02-11 20:20] helenemccarron commented on #2186
@openstaxalina and @brittany-johnson, I don't think we decided either way. @reedstrm would you prefer to hide them only in baked books?

[2019-02-11 20:49] openstaxalina commented on #2186
cc @Bkblodget since this impacts non-OpenStax content (community created content).

tl;dr: we decided to hide the processing instruction "NOT_CONVERTED_YET" because this will block us from publishing Principles of Management; however, there is no content actually missing, and we have not been able to track down why the processing instruction appears in this specific instance.

The question is whet

[2019-02-11 22:21] openstaxalina commented on #2179
We can release in Assignable Webview without this adjustment.

[2019-02-12 16:07] omehes opened #2189 "Search field colours blend in"
Steps:
1. run staging.cnx.org, click on any book and then click on Search link
2. click inside the gray search field to bring up previous search strings
3. select one of the strings
Actual Result: search field becomes yellow and the white search icon (magnifying glass icon) blends in and almost becomes invisible
Expected: The field colour and icon colour should be more distinguishable

See screens

[2019-02-12 17:16] openstaxalina commented on #2152
confirmed fixed in final Managerial Accounting PDF:
<img width="643" alt="screen shot 2019-02-12 at 11 16 09 am" src="https://user-images.githubusercontent.com/7863733/52654465-a4c86480-2eb7-11e9-9107-d25fe5e9a220.png">

[2019-02-12 17:17] openstaxalina commented on #2160
confirmed fixed in final Managerial Accounting webview:
<img width="1182" alt="screen shot 2019-02-12 at 11 17 01 am" src="https://user-images.githubusercontent.com/7863733/52654511-bf9ad900-2eb7-11e9-9284-0dd2c2069df2.png">
:

[2019-02-13 15:08] MartaSztuka opened #2190 "Answers not inline in Answer Key"
On katalyst01 (https://katalyst01.cnx.org/contents/yqV9q0HH@13.3:-MajHA0Y@13.3/Answer-Key) all answers should be inline.

on katalyst it looks like this:
![answers](https://user-images.githubusercontent.com/47241114/52722031-26e58580-2fab-11e9-9ce1-ce33657d4fe6.png)

in PDF like this:
![screenshot from 2019-02-13 15-55-46](https://user-images.githubusercontent.com/47241114/52721582-47611000-2faa-1

[2019-02-13 16:55] openstaxalina commented on #2155
Confirmed appearing correctly in American Government 2e in production webview:
<img width="1281" alt="screen shot 2019-02-13 at 10 54 48 am" src="https://user-images.githubusercontent.com/7863733/52728935-d146b400-2f7d-11e9-96cf-15049e69c42f.png">

[2019-02-13 16:57] openstaxalina commented on #2137
Confirmed also working correctly in American Government 2e in production webview:

<img width="1281" alt="screen shot 2019-02-13 at 10 55 53 am" src="https://user-images.githubusercontent.com/7863733/52729077-166ae600-2f7e-11e9-8869-a27811b9f922.png">

[2019-02-13 16:57] openstaxalina commented on #2136
Confirmed working correctly in American Government 2e in production webview:
<img width="1205" alt="screen shot 2019-02-13 at 10 56 53 am" src="https://user-images.githubusercontent.com/7863733/52729100-24206b80-2f7e-11e9-8b53-d5d6ae2ae636.png">

[2019-02-13 16:58] openstaxalina commented on #2135
Confirmed issue was fixed in content and appears correctly on production:
<img width="1271" alt="screen shot 2019-02-13 at 10 57 58 am" src="https://user-images.githubusercontent.com/7863733/52729163-4914de80-2f7e-11e9-86f9-22f87d7dda7a.png">

[2019-02-13 17:00] openstaxalina commented on #2124
Confirmed not seeing this in AmGov2e on production; citations appear properly:
<img width="1322" alt="screen shot 2019-02-13 at 10 59 49 am" src="https://user-images.githubusercontent.com/7863733/52729311-8a0cf300-2f7e-11e9-90dd-e73f3f143923.png">

[2019-02-13 17:39] openstaxalina commented on #2186
@brittany-johnson we should hide the NOT_CONVERTED_YET message **for baked books only.**
cc @Stackblocks @helenemccarron @reedstrm @Bkblodget

Source for decision: https://openstax.slack.com/archives/C0LA54Q5C/p1550078110083100

[2019-02-14 16:02] openstaxalina opened #2191 "[tracking for testing only] Longdesc file & link is lost in cnxml --> html transform"
@brittweinstein commented on [Tue Sep 25 2018](https://github.com/openstax/rhaptos.cnxmlutils/issues/172)

# Scenario
Description
This collection - https://cnx.org/contents/pkNZr_pp - includes a longdesc description for all three images.  Per Phil S., the longdesc is lost in the cnxml --> html transformation.  We need this to be preserved in the transformation.  It must be accessible by screenread

[2019-02-15 21:19] openstaxalina opened #2193 "Test Accessibility Issue Submitted by User"
Feedback received from:
Michaela D. Willi Hooper
OER/Textbook Affordability Librarian
Linn-Benton Community College Library
willihm@linnbenton.edu

Other content was simply labeled as "clickable" or "link," and then when clicked, the external material was not accessible (for example, the link in the concepts in action box in [section 1.1](https://cnx.org/contents/s8Hh0oOc@14.1:-Yx1m5Xz@12/1-1-Them

[2019-02-18 14:43] openstaxalina commented on #2169
This was resolved in content; closing.

[2019-02-18 14:43] #2169 closed

[2019-02-18 14:43] openstaxalina commented on #2190
@lwtchu What do you think about this?  Is there a reason that the tokens/answers must be vertically stacked instead of inline with each other?

[2019-02-18 16:20] brittany-johnson commented on #2186
<img width="913" alt="screen shot 2019-02-18 at 10 20 12 am" src="https://user-images.githubusercontent.com/24909007/52963973-ce293a80-3366-11e9-996e-eb40af5d9275.png">

[2019-02-18 16:23] openstaxalina commented on #2186
Noted that we lost the space between paragraphs when the line is removed; @brittany-johnson posting new screenshot below.

[2019-02-18 19:08] Stackblocks commented on #2186
Displaying as specified with updated version of content / code. Figure number difference is due to difference in test chapter composition.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/0465149d-9585-4ef8-a6c6-dc2c5d87181f)

[2019-02-18 19:08] #2186 closed

[2019-02-18 21:17] brittweinstein commented on #2131
@omehes could you verify this on staging?

[2019-02-18 21:41] openstaxalina commented on #2191
Decision: Analyze the impact, since this is a transforms change.

[2019-02-19 17:34] omehes commented on #2133
Verified on staging.cnx.org
Fixed

{"date": "2019-02-19 10:33:39 CST",
 "webview": "6fea2e99064f4522c968ac6b4ada6203d9eb9e5d (v0.46.0)",
 "cnx-archive": "4.10.0",
 "cnx-publishing": "0.15.0",
 "oer.exports": "bomb.blondie v0.72.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.37.1"
}

[2019-02-19 17:34] #2133 closed

[2019-02-20 17:46] lwtchu opened #2195 "math spacing issues with <munder> followed by <mi>"
Location: https://cnx.org/contents/i4nRcikn@3.8:eJ08AsuX@4/Continuity

PDF
<img width="792" alt="screen shot 2019-02-20 at 12 13 15 pm" src="https://user-images.githubusercontent.com/11299125/53112161-4842f600-3504-11e9-80b1-b69c811a5d50.png">

Webview:
![screen shot 2019-02-20 at 11 41 59 am](https://user-images.githubusercontent.com/11299125/53112542-11b9ab00-3505-11e9-80b9-b85729e61d2c.png)

Pr

[2019-02-20 19:16] openstaxalina commented on #2195
Note:
Similar content also appears in UPhysics, and it is CORRECT there in Web view - with a space between the Lim and the function, plus the stuff underneath. https://cnx.org/contents/1Q9uMg_a@12.5:SXupocJY@7/16-4-Energy-and-Power-of-a-Wave (see about halfway down the page, under Power in Waves, dk=lim 1/2...

Here is a screenshot of the markup; note that there is not a space in the markup.
<img

[2019-02-20 19:17] openstaxalina commented on #2195
Note:
Precalc Webview has a similar but not the same issue.  The webview has no spaces (which is definitely wrong), but the pdf is correct with a space after the limits.    https://cnx.org/contents/_VPq4foj@9.4:QTGFrujQ@8/Continuity

<img width="360" alt="screen shot 2019-02-20 at 12 25 05 pm" src="https://user-images.githubusercontent.com/7863733/53118057-df627a80-3511-11e9-93bd-eb21d8e96ddf.png"

[2019-02-21 20:08] openstaxalina opened #2196 "User Should Be Able to Use Tab to Access the Skip to Content Link (via Screenreader)"
Report routed via Nicole:
In testing the site with NVDA, I initially was not successful in located the Skip to Content link. While following the conversation, I had an idea and decided to go recheck.
I was able to find the Skip to Content link by utilizing Shift+Tab (like tabbing through, but backwards). I'm not sure why it required this backwards navigation... but it could be a bit confusing for

[2019-02-21 20:11] openstaxalina commented on #2196
@philschatz diagnosed this - this occurs because CNX is a single-page app:

1 - From any given page, find and select the Skip to Content option
2 - Once the new page loads, notice that your previous page position was "saved", so when you tab forward, you have already passed the Skip to Content option

[2019-02-21 20:11] openstaxalina commented on #2196
@Stackblocks to also test whether the screenreader speaks, "Skip to Content".

[2019-02-22 14:39] brittweinstein commented on #2131
Assigning to @pumazi for tagging upon release

[2019-02-22 14:58] brittweinstein commented on #2081
@Bkblodget do we want to push this to Q2?

[2019-02-25 15:31] uskka opened #2197 "Numbering of exercise not in line with text"
In Algebra and Trigonometry, Precalculus, College Algebra all of the answers in Answer key are not displayed in line with text.

https://katalyst01.cnx.org/contents/_VPq4foj@8.1:N2wS6bar@8.1/Chapter-1

**PDF**
![try it](https://user-images.githubusercontent.com/40228918/53347371-36ed5580-3919-11e9-90ed-aa915cdcd18f.png)

**Webview**

![try it pdf](https://user-images.githubusercontent.com/40228918

[2019-02-25 16:02] uskka opened #2198 "Remove dots from 2 lists in Preface"
From all of these Prefaces dots should be removed from 2 lists. All of them shere the same recipie.

https://katalyst01.cnx.org/contents/_VPq4foj@8.1:s_RCPZWY@21/Preface
https://katalyst01.cnx.org/contents/E6wQevFf@11.1:qlu7EQLj@6/Preface
https://katalyst01.cnx.org/contents/mwjClAV_@8.1:iKCx0cHP@5/Preface

List 1:
Webview

![screenshot-katalyst01 cnx org-2019 02 25-16-35-44](https://user-images.gi

[2019-02-25 17:35] lwtchu commented on #2190
@openstaxalina theyre in a list with a class where it makes them follow one after the other and inline

[2019-02-25 17:39] lwtchu commented on #2190
@openstaxalina I can't remember why we did it this way - we can take them out of the lists and make them sit better on webview if that works

[2019-02-25 19:08] brittweinstein commented on #2112
@philschatz this is just changing pipeline so otto can test, not closing the issue.

[2019-02-25 23:11] openstaxalina commented on #2190
@lwtchu so in the above example, do 1.116 and 1.117 have different classes?

[2019-02-26 00:36] lwtchu commented on #2190
@openstaxalina we added a `<list class="circled">` so we wouldn't have to manually bump them around and the token will always be with its answer: https://github.com/openstax/oer.exports/issues/2149

[2019-02-26 02:47] brittweinstein opened #2199 "03/26/2019 Release"
Code Freeze: 03/15/2019
Code on Staging: 03/18/2019
Code on Production: 03/26/2019
LAST RELEASE OF THE QUARTER

[2019-02-26 15:32] omehes commented on #2143
reverified on production. ok

{"date": "2019-02-26 08:48:52 CST",
 "webview": "6fea2e99064f4522c968ac6b4ada6203d9eb9e5d (v0.46.0)",
 "cnx-archive": "4.10.0",
 "cnx-publishing": "0.15.1",
 "oer.exports": "bomb.blondie v0.72.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.37.3"
}

[2019-02-26 15:34] omehes commented on #2133
reverified on production. ok

{"date": "2019-02-26 08:48:52 CST",
 "webview": "6fea2e99064f4522c968ac6b4ada6203d9eb9e5d (v0.46.0)",
 "cnx-archive": "4.10.0",
 "cnx-publishing": "0.15.1",
 "oer.exports": "bomb.blondie v0.72.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.37.3"
}

[2019-02-26 18:34] openstaxalina commented on #2191
CNX team (Marvin) will code the fixes, but Books needs to help out with regression testing.

[2019-02-26 21:17] Stackblocks commented on #2193
I'm not sure I understand. The link goes to a Wikimedia Commons video which is outside of the scope of our accessibility efforts, barring us including a description of the content in our book with the link.

[2019-02-26 21:38] openstaxalina commented on #2190
This is a complex issue:
Token are either in paragraphs or lists.
Some token lists have the class "circled" to prevent the token being orphaned and its content going to the next line.
We propose leaving this as-is for now.

With Baked PDF, we may be able to standardize this.

[2019-02-26 22:22] openstaxalina commented on #2193
@Stackblocks Ah, I see.  I am going to close this since this is not a technical issue.

[2019-02-26 22:22] #2193 closed

[2019-02-27 13:54] MartaSztuka opened #2200 "Leading is too wide."
Wide blank space occurs between lines. (end of subsection)
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:DSFrV7ZX@4/6-1-Areas-between-Curves

PDF: (Bit wider leading is justified by fraction in y=-3/5)
![screenshot from 2019-02-27 12-08-22](https://user-images.githubusercontent.com/47241114/53494869-fae3fd00-3a9e-11e9-81eb-4373bd646ff1.png)

webview: (Here leading is wey to big, second line sho

[2019-02-27 14:05] uskka opened #2201 "Line break on math equation- Safari"
In exercises, when there is a math equation in text line breakes but it only appears in Safari browser. See for example exercise 90-91. There should be no line break on Safari.

https://katalyst01.cnx.org/contents/_VPq4foj@8.1:EfTqzMNI@14/1-1-Functions-and-Function-Notation

Safari

<img width="727" alt="screenshot 2019-02-26 at 14 52 40" src="https://user-images.githubusercontent.com/40228918/534

[2019-02-27 14:50] uskka opened #2202 "NOT DOING NOW Center unnumbered figures on webview"
All of the figures in Precalculus that are unnumbered are centered in the PDF, they should be centered on Webview too.

https://katalyst01.cnx.org/contents/_VPq4foj@8.1:Nis4nvtB@11/1-4-Composition-of-Functions

Webview

![webview](https://user-images.githubusercontent.com/40228918/53498596-e6a3fe00-3aa6-11e9-9fc8-253293985259.png)

PDF

![pdf](https://user-images.githubusercontent.com/40228918/534

[2019-02-27 18:08] #2173 closed

[2019-02-28 12:39] MartaSztuka opened #2203 "Solution in Example isn't bold"
In each chapter's subsection 'Exercise' should have bolded 'Solution'
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:DSFrV7ZX@4/6-1-Areas-between-Curves

PDF:
![screenshot from 2019-02-28 13-35-06](https://user-images.githubusercontent.com/47241114/53567157-9ee0ad80-3b5e-11e9-8b59-694c7b865383.png)

webview:
![screenshot from 2019-02-28 13-34-51](https://user-images.githubusercontent.com/4724111

[2019-02-28 13:14] MartaSztuka opened #2204 "Missing table numbering"
Table caption does not appear when table is nested in Examples or Exercises. Problem occurs both in PDF and webview.
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:zjNlU1zg@5/4-5-Derivatives-and-the-Shape-of-a-Graph

![tabelki2](https://user-images.githubusercontent.com/47241114/53574877-c50f4900-3b70-11e9-9cce-d2a8bc1f99b1.png)

![tabelki1](https://user-images.githubusercontent.com/47241114/535

[2019-02-28 14:30] wilkus27 commented on #2204
@openstaxalina I remember there was a similiar issue in Phase 1, but I couldn't find it. I think it is content releated. I mean, the problem with PDF, where all tables are counted, even those with `class="unnumbered"`.

[2019-02-28 15:15] openstaxalina commented on #2060
This should be retested on staging.cnx.org on Monday.  @omehes would you be able to test this on staging after the deploy on Monday?  Britt is going to follow up with you in scrum.

[2019-02-28 15:27] openstaxalina commented on #2204
@wilkus27 I remember now - we had this issue with DevMath and we were able to adjust the PDFs between semesters.  We may be able to do something similar for Calculus - I am investigating.

[2019-02-28 15:55] omehes commented on #2060
@alina I verified this on qa.cnx.org. Looks good. I will check it again on staging on Monday.

[2019-02-28 16:15] omehes commented on #2131
@brittweinstein
Verified Tom 1 book on qa.cnx.org. All sections verified have <span...newline>. Didn't come across any <div. Seems to be fixed. Will reverify on staging.cnx.org on/after Monday.

[2019-03-01 08:29] wilkus27 commented on #2200
It looks like that, because figures in Section Exercises display in line with text.
This problem occurs beacuse release flag `exercise container` wasn't enabled. Now this flag is removed, so I just need to update code with last changes.

I move this issue to cnx-recipes repo.

[2019-03-01 08:29] #2200 closed

[2019-03-01 08:29] wilkus27 commented on #2200
Issue moved to [openstax/cnx-recipes #892](https://github.com/openstax/cnx-recipes/issues/892) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-01 13:21] Adrianltd commented on #2202
Might be related to https://github.com/openstax/webview/issues/2008 but in this case it's not a `figure`, it's an `img`.
If this can be centered without regressions then it's done in: https://github.com/openstax/webview/pull/2206
If should stay as is - please ignore and close the PR.

cc: @openstaxalina

[2019-03-01 14:03] Adrianltd commented on #2179
I could remove those dots for all `ul` elements inside `glossary` as I did for the `preface` here:
https://github.com/openstax/webview/issues/2198

[2019-03-01 15:04] uskka commented on #2198
Looks good. Tested on katalyst01.

<img width="985" alt="screenshot 2019-03-01 at 16 02 38" src="https://user-images.githubusercontent.com/40228918/53646472-8db99e80-3c3b-11e9-88d5-b58d87a35b94.png">
<img width="952" alt="screenshot 2019-03-01 at 16 02 45" src="https://user-images.githubusercontent.com/40228918/53646474-8db99e80-3c3b-11e9-84a5-516af707b733.png">

[2019-03-01 15:04] #2198 closed

[2019-03-01 15:25] uskka commented on #2201
Looks good. Tested on katalyst01.

<img width="931" alt="screenshot 2019-03-01 at 16 24 39" src="https://user-images.githubusercontent.com/40228918/53647772-8b0c7880-3c3e-11e9-84e7-5a43450706ac.png">

[2019-03-01 15:25] #2201 closed

[2019-03-01 20:33] omehes commented on #2112
verified on qa.cnx.org on Uni Phys vol1 and 2
fixed

[2019-03-01 21:37] openstaxalina commented on #2202
@Adrianltd which books does your PR impact?  all images in all books?  or only the books with the precalculus recipe?

[2019-03-04 15:13] brittweinstein commented on #2174
@oscryan please take a look at this content

[2019-03-04 15:22] yblock commented on #2174
https://app.zenhub.com/workspaces/cnx-team-5af1f4cc12da5e6d74331b60/issues/openstax/content-managers/631

[2019-03-04 16:03] openstaxalina commented on #2174
@yblock found other examples of sims that only work properly if they are overflowing the feature box.  He will post details below.

[2019-03-04 16:41] openstaxalina commented on #2196
Per @edwoodward, this is likely resolved by setting the tab index to 0 on each page.

[2019-03-04 17:11] yblock commented on #2174
Locations where the sim is overflowing:
Chapter 29, Section 1, Figure 29.6 - https://cnx.org/contents/Ax2o07Ul@14.44:xuwQZnCi@9/29-1-Quantization-of-Energy

Chapter 30, Section 3, Figure 30.21 - https://cnx.org/contents/Ax2o07Ul@14.44:mirSSr3Q@11/30-3-Bohr-s-Theory-of-the-Hydrogen-Atom

Chapter 31, Section 1, Figure 31.7 - https://cnx.org/contents/Ax2o07Ul@14.44:fjWtUHJu@12/31-1-Nuclear-Radioactiv

[2019-03-05 10:42] Adrianltd commented on #2202
@openstaxalina That PR will impact all `img` elements (not `figure`) inside `span` elements that have a `data-type="media"` in all books.

[2019-03-05 10:46] MartaSztuka commented on #2204
@openstaxalina I've tracked the table issue in Calculus vol.1, here's table of tables: https://docs.google.com/spreadsheets/d/18XOAAwOY8ZPbyf4zdF9Pt49rxfqK8qGDifvhw2kVV0k/edit#gid=0

[2019-03-05 15:11] #2204 closed

[2019-03-05 16:15] MartaSztuka opened #2210 "No scroll bar on Mac OS"
On Mac OS Safari there's no scroll bar under Table 4.7
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:u24zPEAt@10/4-8-L-H%C3%B4pital-s-Rule

![suwak](https://user-images.githubusercontent.com/47241114/53819521-5e23d280-3f6a-11e9-80ae-90b7c20907af.png)

It happens because Safari doesn't support attribute/badge? overflow-x: auto.

[2019-03-05 16:23] openstaxalina commented on #2202
@Adrianltd I think this is too big a change; I am not sure we want all images centered and this also creates a significant testing load.  Could you close the PR?  Sorry, I didn't see this issue until it was already coded :-(

[2019-03-05 17:26] omehes opened #2211 "How to make staging deployment (less) error prone"
We need to discus and document better and safer ways to deploy to staging:
- we need to make staging deployment more error safe
- make sure that steps and dependencies are not omitted causing (multiple) re-deployments and delaying regression tests
- and if possible, automate some part of the deployment process

[2019-03-06 09:29] Adrianltd commented on #2202
@openstaxalina Sure. Will this be solved in the content (eg. add a class to the images that should be centered)?

[2019-03-06 14:09] openstaxalina commented on #2202
@Adrianltd I'm not sure yet, but we do have an issue open for this (https://github.com/openstax/cnx-recipes/issues/676) which we are keeping open until we decide how to handle image alignment globally.

[2019-03-06 15:34] uskka commented on #2197
Works fine. Tested on katalyst01.
<img width="1165" alt="screenshot 2019-03-06 at 16 05 32" src="https://user-images.githubusercontent.com/40228918/53891096-def5d380-4029-11e9-90bc-f558c4c2b70e.png">

[2019-03-06 15:34] #2197 closed

[2019-03-06 16:27] MartaSztuka opened #2212 "Equations & Sentences outside the frame"
Ends of equations and sentences doesn't fit the frame when ToC is opened.
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:056cQH8B@7/1-2-Basic-Classes-of-Functions

![screenshot from 2019-03-06 17-16-07](https://user-images.githubusercontent.com/47241114/53896720-dbb41500-4034-11e9-91ea-a0b9d9f6177c.png)

All locations where problem occurs is in the table:
https://docs.google.com/spreadsheets/d/1

[2019-03-06 19:51] omehes commented on #2060
@openstaxalina
Reverified on staging.cnx.org
Rebaked the book but it is still the same, no fix visible.

[2019-03-06 23:03] openstaxalina commented on #2060
@omehes my apologies -- it looks like this didn't make it into our code freeze for 3/12 production deployment.  This should be on staging the week of March 18.

[2019-03-06 23:17] omehes commented on #2060
@openstaxalina OK. I will test it after March 18th.

[2019-03-07 15:47] omehes commented on #2131
Verifying these cases after rebaking polish books:
staging.cnx.org

Potencjał elektryczny i różnica potencjałów                   | m67174 - Tom2, 7.2 -
 Najważniejsze stałe fizyczne                                  | m65853 - Tom1, Tom2, Tom3, C -
 Siła magnetyczna działająca na przewodnik z prądem            | m67203 - Tom2, 11.4 - None
 Pole magnetyczne cienkiego, prostoliniowego przewodu z prą

[2019-03-07 15:53] brittweinstein opened #2213 "04/09/2019 Release Epic"
Code Freeze: March 29
Code on Staging: :April 1
Code on Production: April 9

[2019-03-07 16:06] MartaSztuka commented on #2212
@lwtchu Location list of issues for vol. 2 is ready, most probably tommorow I'll finish vol. 3

[2019-03-07 18:11] omehes commented on #2112
verified on all Univ Phys books 1,2,3
Preface
and more chapters in each volume
staging.cnx.org
FIXED

{"date": "2019-03-04 14:30:54 CST",
 "webview": "6fea2e99064f4522c968ac6b4ada6203d9eb9e5d (v0.47.0)",
 "cnx-archive": "4.11.0",
 "cnx-publishing": "0.15.1",
 "oer.exports": "crusty.cronut v0.73.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.38.2"
}

[2019-03-07 18:11] #2112 closed

[2019-03-08 11:58] MartaSztuka opened #2214 "Odd bracket in Try it."
In webview bracket is added to equation.
https://katalyst01.cnx.org/contents/mwjClAV_@8.1:GDS8ZHCU@10/1-3-Radicals-and-Rational-Exponents

![nawias](https://user-images.githubusercontent.com/47241114/54027377-9eb96100-41a1-11e9-8d3a-324a8a43c254.jpeg)

*despite numbering differences equations should be the same*

[2019-03-08 16:50] brittweinstein commented on #2211
Issue moved to [openstax/cnx #258](https://github.com/openstax/cnx/issues/258) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-08 16:50] #2211 closed

[2019-03-08 16:58] Bkblodget commented on #2100
A workaround fix was implemented for this via content. This bug is to be reevaluated once other transform/validating XHTML work is completed to see if it is still a problem.

[2019-03-11 15:55] #1547 closed

[2019-03-11 16:24] wilkus27 opened #2215 "Bolded links"
On katalyst01 in Examples and Checkpoint notes links to the figures and tables are bolded.

**Example**
In Examples it appears just in the part with problem describing:
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:fP4FUrwS@7/1-1-Review-of-Functions

![example_problem](https://user-images.githubusercontent.com/40228854/54139420-cd456f00-4421-11e9-8aa3-9727d648779b.JPG)

In part with solution it

[2019-03-11 16:26] wilkus27 commented on #2215
@openstaxalina Bold should be set for links from other parts or removed from Examples and Checkpoints?

[2019-03-12 09:29] wilkus27 opened #2216 "Inline equations in new line"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/i4nRcikn@3.7:blZd_oDf@5/1-3-Trigonometric-Functions) sometimes inline equations display separately in new line:

![inline](https://user-images.githubusercontent.com/40228854/54189164-830bce80-44b1-11e9-853d-fcaa6b619fdf.JPG)

This is how it looks in PDF:

![inline_pdf](https://user-images.githubusercontent.com/40228854/54189181-8e5efa00-44b1-

[2019-03-12 10:26] wilkus27 opened #2217 "Figure in list"
On katalyst01 (https://katalyst01.cnx.org/contents/i4nRcikn@3.7:Ib8OK9lb@6/1-4-Inverse-Functions) there is an instance when image displays inline with list item:

![fig_list](https://user-images.githubusercontent.com/40228854/54192859-2f9d7e80-44b9-11e9-901e-ba31cf594323.JPG)

`a.` and `b.` should be above the images. At this moment this is the only one such case.

That's how it looks in PDF:

![f

[2019-03-12 11:53] wilkus27 opened #2218 "Analysis subtitle in Example"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/i4nRcikn@3.7:jSsxLwzE@4/2-5-The-Precise-Definition-of-a-Limit) subtitle **Analysis** in Examples notes should be bolded.

webview:

![analysis_bold](https://user-images.githubusercontent.com/40228854/54197933-814c0600-44c5-11e9-9c15-368686ae6cb1.JPG)

PDF:

![analysis_bold_pdf](https://user-images.githubusercontent.com/40228854/54197940-87da7

[2019-03-12 15:25] openstaxalina opened #2219 "Attribution Tab Shows Markup for PAGES in Baked Books"
@TomWoodward noticed this.
Here is a place where this occurs: https://cnx.org/contents/Sr8Ev5Og@10.16:6HoLG-TA@10/Introduction
(Scroll down, select the "Attribution" tab, and select "Page" on the right)
![image](https://user-images.githubusercontent.com/7863733/54212446-efd29900-44b0-11e9-92c8-6df581151540.png)

Note from @reedstrm - BTW, this should be a simple case of adding extra curly braces i

[2019-03-12 15:45] openstaxalina commented on #1595
![Screen Shot 2019-03-12 at 10 42 12 AM](https://user-images.githubusercontent.com/7863733/54214222-d1ba6800-44b3-11e9-9eaa-d5417a03e080.png)
https://cnx.org/contents/1Q9uMg_a@12.5:KZu_UBk-@12.5/Chapter-Review
Cannot reproduce; closing this issue.

[2019-03-12 15:45] #1595 closed

[2019-03-12 16:03] openstaxalina opened #2220 "Coverage While Britt Is Out"

[2019-03-12 17:09] openstaxalina commented on #2220
*Monday, March 18*
staging deploy
Alina and Bey coordinating to request from DevOps

*Cards scrums, meetings, retros, planning*
Alina covering for Britt

*Monday, March 25*
Alina to present quarterly progress to Leadership; Britt updating quarterly deliverables document before leaving

*Katalyst Meetings*
Helene leading these while Britt is out

*Hullabaloo*
Larissa, Helene, Britt meet

[2019-03-12 17:10] brittweinstein commented on #2220
Staging Deploy for 3/18/19 card: https://trello.com/c/tz9DIbkt/284-cnxbooks-deploy-to-staging-servers-for-20180318-release

Production Deploy for 3/26/19 card: https://trello.com/c/gAShTqk2/283-cnxbooks-deploy-to-production-servers-for-20190326-release

Staging Deploy for 4/01/19 card: https://trello.com/c/drXKiO1k/285-cnxbooks-deploy-to-staging-servers-for-20180401-release

[2019-03-12 17:12] openstaxalina commented on #2165
@oscryan could you please test the APUSH content on content05 and verify the table numbers are still not displaying and also which parameter is applied?

[2019-03-12 17:23] oscryan commented on #2165
at least 3 table numbers are being counted, and only one is not displaying.
https://content05.cnx.org/contents/jvOGfs7d@11.3:GSGluSA3@2/1-12-%F0%9F%94%8E-The-Ratification-Debate-on-the-Constitution has Table 1
https://content05.cnx.org/contents/jvOGfs7d@11.3:7desLfQq@2/1-17-%E2%9C%92%EF%B8%8F-Thomas-Paine-Common-Sense-1776 has table 2 (in the body, not displaying, as it has unnumbered unstyled cla

[2019-03-12 22:20] openstaxalina commented on #2165
Okay, thanks @oscryan.  I am not sure why table numbers were not displaying previously - it may have been a quirk of devb.  I am going to close this issue.

[2019-03-12 22:20] #2165 closed

[2019-03-13 13:58] omehes opened #2221 "Legacy: Adding section does not complete the action"
Steps:
1. run staging.cnx.org and go to legacy
2. in Mycnx click on add collection and add a title and metadata and save
3. Once saved, click on Add item in the green bar and select Section
4. Click on section
Expected result: section is added and action completes by showing the new section
Actual result: Section is created and "Section has been created" message is shown but the process just conti

[2019-03-13 14:11] omehes opened #2222 "Legacy: Attribute error appears when selecting Section or Selected Content items"
Steps:
1. run staging.cnx.org and go to legacy
2. go to MyCNX and click on add item in the green bar
3. Select Section and Selected Content items and click on them

Actual result: Attribute error appears for both items
Expected result: should an action be performed?

I tried on Chrome and FF and 2 different PCs (Mac and Windows 10)

![section-attrerr.png](https://images.zenhubusercontent.com/5bc8d

[2019-03-13 16:49] openstaxalina commented on #2217
@wilkus27 we do not have to exactly match the behavior of the PDF in this case.  Are there inconsistencies with how images in lists are handled **_within this book in webview_**?  (If so, we may want to address those.)

[2019-03-13 16:55] openstaxalina commented on #2215
@wilkus27 bolding should be removed from Examples and Checkpoints; this will achieve consistency within the titles and across other titles.

[2019-03-13 18:40] openstaxalina commented on #2214
This needs to be adjusted in content; moving there.

[2019-03-13 18:41] #2214 closed

[2019-03-13 18:41] openstaxalina commented on #2214
Issue moved to [openstax/content-managers #666](https://github.com/openstax/content-managers/issues/666) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-13 18:44] openstaxalina commented on #2212
@MartaSztuka could you let us know when the location list is ready for volumes 1, 2, and 3?  (Also -do you have access to [this folder](https://drive.google.com/drive/folders/0AG1Lx6Hi-6CDUk9PVA) to move the document there?  If not, please let us know.)

[2019-03-13 18:49] openstaxalina commented on #2167
@brittany-johnson I noticed that the PDF looks the same in this case:
<img width="521" alt="Screen Shot 2019-03-13 at 1 49 09 PM" src="https://user-images.githubusercontent.com/7863733/54306191-d73cae80-4596-11e9-83e5-bee9faca75c4.png">
Could you clarify what change you recommend here?

[2019-03-13 18:55] openstaxalina commented on #2216
Is this a bug?  It looks like the math is tagged to be inline:
<img width="1332" alt="Screen Shot 2019-03-13 at 1 55 02 PM" src="https://user-images.githubusercontent.com/7863733/54306592-ac068f00-4597-11e9-8c0d-65df019150bf.png">

[2019-03-13 19:22] brittany-johnson commented on #2196
@Stackblocks Ready for testing!

[2019-03-13 22:30] Stackblocks commented on #2196
@brittany-johnson It looks like activating the skip to content button acts more as a sort of page-down, than a jump to the start of the content. When it is first used it blows past the start of the body content and when interacted with again it doesn't go back to the same spot, it does another page-down-esque hop.

The button also only works when the space bar is pressed, not when return is presse

[2019-03-13 22:48] brittany-johnson commented on #2196
Hmmm I tested this fix by pressing the return key on the skip to content link and not the space bar key locally and I was able to do it again just now by following your steps but replacing step 3 with return key instead of space bar key.
I didn't add any code to alter the native functionality of the space bar key and at least when I tried it just now, the space bar key seems to be working as expec

[2019-03-14 03:50] Stackblocks commented on #2196
Turns out Page-Down is just the "press spacebar in the content" action, so on the plus side that isn't something that needs fixing. What that means, though, is that I was unable to get it to activate with either return or space so i'll test it again in the morning and failing that i'll re-deploy and try again. Dragging the issue back into QA column.

[2019-03-14 07:56] MartaSztuka commented on #2212
@openstaxalina I've moved the file to Openstax Joint Project,
Will finish vol.3 as soon as possible

[2019-03-14 15:12] MartaSztuka opened #2224 "Missing Sequence"
In College Algebra PDF, Chapter 9, 9.3. Geometric Sequence.
![pdfakp](https://user-images.githubusercontent.com/47241114/54368199-fe1ce280-4673-11e9-96f1-9d4aba5e2c67.jpeg)

[2019-03-14 15:41] Stackblocks commented on #2196
Working correctly in Chrome, FireFox has some browser-side hangups about this kind of thing.

[code]

Marking as resolved.

[2019-03-14 15:41] #2196 closed

[2019-03-14 16:05] Stackblocks commented on #2196
Follow-up from a11y chat: it is likely that a11y users will already have this setting active and it should not present an issue. We've updated Customer Support with instructions on how to handle this if it comes up.

[2019-03-15 17:07] Stackblocks commented on #2191
- If `longdesc=` was getting lost completely in the transform then it is now present in the markup.
- If `longdesc=` was already showing up in the wrapper and was supposed to be moved onto the `img src=` element then it _is not_ doing that.
- Either way, the `longdesc=` is rendering the image as "Clickable" in FireFox but interacting with the element does nothing.

[2019-03-15 17:16] brittweinstein opened #2225 "4/23/2019 Books Release"

[2019-03-18 13:59] brittany-johnson commented on #2167
@openstaxalina I think I may have added this issue during doomsday testing.
I thought that the list should be aligned with the number, but if this is intentional, nevermind 😂

[2019-03-18 14:22] openstaxalina commented on #2167
Noted and closing; thank you!

[2019-03-18 14:22] #2167 closed

[2019-03-19 19:44] brittweinstein commented on #2060
@omehes this should be ready for retesting

[2019-03-19 21:38] omehes commented on #2060
verified on staging
fixed

{"date": "2019-03-19 14:59:06 CDT",
 "webview": "6402e50a45792a3ce1cc8479eddc9e70f8685e39 (v0.48.0)",
 "cnx-archive": "4.11.0",
 "cnx-publishing": "0.16.2",
 "oer.exports": "crusty.cronut v0.73.0",
 "press": "8.0.2",
 "cnx-deploy": "v2.38.4-4-g0d6ae71"
}

![smallSP](https://user-images.githubusercontent.com/44207656/54643582-4a499780-4a65-11e9-8bae-a78a8142e011.png)

[2019-03-19 21:38] #2060 closed

[2019-03-20 19:02] #2191 closed

[2019-03-22 09:35] MartaSztuka commented on #2212
@openstaxalina Took a while, but table vol.3 is ready

[2019-03-22 15:20] openstaxalina commented on #2212
@MartaSztuka thanks!  We'll take it from here 👍

[2019-03-22 15:28] #2212 closed

[2019-03-22 15:28] openstaxalina commented on #2212
Issue moved to [openstax/content-managers #688](https://github.com/openstax/content-managers/issues/688) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-22 22:16] edwoodward commented on #2168
Going to Legacy from a composite page will cause this error because the content on Legacy is not baked and the composite page does not exist. Our redirect to Legacy should be smarter and send the user to the start of the book.

[2019-03-22 22:20] edwoodward commented on #2189
I could only recreate this in Chrome. Firefox did not have this issue.

[2019-03-25 18:26] openstaxalina commented on #2203
Can these be targeted using `data-type="solution-title"`?
![Screen Shot 2019-03-25 at 1 25 08 PM](https://user-images.githubusercontent.com/7863733/54944456-82d3f000-4f01-11e9-89ac-288cffc33004.png)

[2019-03-25 18:27] openstaxalina commented on #2218
Can these be targeted using `data-type="title"`?
![Screen Shot 2019-03-25 at 1 27 15 PM](https://user-images.githubusercontent.com/7863733/54944545-be6eba00-4f01-11e9-974e-7d2d96d67397.png)

[2019-03-25 18:52] openstaxalina opened #2226 "Book/Page buttons do not show clicked status"
@omehes commented on [Mon Mar 25 2019](https://github.com/openstax/cnx/issues/309)

Steps:
1. open University Physics vol 1 book
2. Click on Chapter Review in Contents
3. Click on any sub-chapter under Chapter Review
4. Scroll down to Downloads, History, Attribution, More Information tabs
5. Click on any of them
6. In the open tab, click on Book/Page buttons
Expected Result: The button should show

[2019-03-25 19:50] omehes commented on #2131
This issue is still present, notes from slack discussions are in the link:
https://openstax.slack.com/archives/C0LA54Q5C/p1553176578574600

[2019-03-25 21:42] openstaxalina commented on #2203
If markup is inconsistent, we need to standardize the markup for the Solution header in Examples.

[2019-03-25 21:42] openstaxalina commented on #2218
If markup is inconsistent, we need to standardize the markup for the Analysis header in Examples.

[2019-03-27 13:36] wilkus27 commented on #2216
This problem occurs also in unbaked raw-html file. Equation is in new line, because it is in separate `<p>`. I think it is a content issue.  cc @openstaxalina

![equation](https://user-images.githubusercontent.com/40228854/55079871-5654db00-509d-11e9-85d4-fe0bd5a8992f.png)

[2019-03-27 14:32] openstaxalina commented on #2131
I moved this into the Books team backlog; this will be re-tested after https://github.com/openstax/cnx-recipes/issues/726 is complete.

[2019-03-27 15:27] openstaxalina commented on #2216
@wilkus27 thank you for the investigation!  I will move this to the content managers repo so that inline math in separate paragraphs can be taken out of those separate paragraphs.

[2019-03-27 15:27] #2216 closed

[2019-03-27 15:27] openstaxalina commented on #2216
Issue moved to [openstax/content-managers #695](https://github.com/openstax/content-managers/issues/695) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-27 22:28] #2220 closed

[2019-03-27 23:31] brittany-johnson commented on #2219
![Screen Shot 2019-03-27 at 6 22 43 PM](https://user-images.githubusercontent.com/24909007/55119078-8660a600-50be-11e9-8c88-525639223025.png)

[2019-03-28 10:06] uskka opened #2228 "Line break in exercises"
There is a line break after the exercise number on webview but it only appears on Safari and in exercises that start with equation and there is a figure after it.

https://katalyst01.cnx.org/contents/HTmjSAcf@3.4:DSFrV7ZX@5/2-1-Areas-between-Curves
https://katalyst01.cnx.org/contents/oxzXkyFi@3.7:9fEOYsBF@8/3-3-Arc-Length-and-Curvature

Webview
<img width="909" alt="Screenshot 2019-03-28 at 10 12

[2019-03-28 12:15] wilkus27 commented on #2218
Will be resolved in recipes. I move it to this repo.

[2019-03-28 12:15] #2218 closed

[2019-03-28 12:15] wilkus27 commented on #2218
Issue moved to [openstax/cnx-recipes #974](https://github.com/openstax/cnx-recipes/issues/974) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-28 12:21] wilkus27 commented on #2203
Will be resolved in recipe. I move it to this repo.

[2019-03-28 12:21] #2203 closed

[2019-03-28 12:21] wilkus27 commented on #2203
Issue moved to [openstax/cnx-recipes #975](https://github.com/openstax/cnx-recipes/issues/975) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-28 19:31] openstaxalina opened #2229 "Accessibility: Add Text to Show Solution Button"
Report received from the IT Dept of Lakeland CC:

_The OpenStax site is pretty good, although 49 errors there are really only 3 issues, and if the “show Solution” button had the text on it that would really take care of 47 of them._

![pastedImagebase640](https://user-images.githubusercontent.com/7863733/55186694-2d981880-5165-11e9-99df-2a8f95eabca7.png)

The requested change is to add text on the

[2019-03-28 19:35] openstaxalina opened #2230 "Fix in Q2 with Rex: General Issue: Equations & Sentences outside the frame"
@openstaxalina commented on [Fri Mar 22 2019](https://github.com/openstax/content-managers/issues/688)

@MartaSztuka commented on [Wed Mar 06 2019](https://github.com/openstax/webview/issues/2212)

Ends of equations and sentences doesn't fit the frame when ToC is opened.
https://katalyst01.cnx.org/contents/i4nRcikn@3.7:056cQH8B@7/1-2-Basic-Classes-of-Functions

![screenshot from 2019-03-06 17-16-0

[2019-03-29 14:17] Adrianltd opened #2232 "Text Should Not Wrap Around Images"
@MartaSztuka commented on [Mon Mar 11 2019](https://github.com/openstax/cnx-recipes/issues/913)

https://katalyst01.cnx.org/contents/mwjClAV_@8.1:z1lgUlD3@8.1/Chapter-3

![ukłądrownan](https://user-images.githubusercontent.com/47241114/54125880-7bdbb680-4406-11e9-83ad-55a936088695.jpeg)

---

@openstaxalina commented on [Wed Mar 13 2019](https://github.com/openstax/cnx-recipes/issues/913#issuecomm

[2019-03-29 14:58] Adrianltd opened #2234 "Leading between number and answer in Key."
@MartaSztuka commented on [Tue Mar 12 2019](https://github.com/openstax/cnx-recipes/issues/920)

https://katalyst01.cnx.org/contents/E6wQevFf@11.1:-S_QNurU@11.1/Chapter-1
https://katalyst01.cnx.org/contents/mwjClAV_@8.1:UZVwLjju@8.1/Chapter-1
https://katalyst01.cnx.org/contents/_VPq4foj@8.1:t6htDPpE@8.1/Chapter-8
In all 3 books leadings in Answer Key is messy
![lead](https://user-images.githubuser

[2019-04-02 14:23] #2199 closed

[2019-04-02 19:40] Stackblocks commented on #2219
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/8b5aa823-fcb1-420c-bfaa-8e8fa57f57d1)

[2019-04-02 19:40] #2219 closed

[2019-04-03 12:03] MartaSztuka opened #2236 "Missing Section #.#. headers in Try it Answers"
https://katalyst01.cnx.org/contents/mwjClAV_@8.2:UZVwLjju@8.2/Chapter-1

In Answer Ket, Try it Answers numbering is reseted on every subsection, but there are no headers.

![answerkey](https://user-images.githubusercontent.com/47241114/55478010-d689bc00-561a-11e9-9452-183102dbc3bb.jpeg)

[2019-04-03 12:38] MartaSztuka commented on #2234
Issue fixed, tested on katalyst01
![Screenshot from 2019-04-03 14-37-30](https://user-images.githubusercontent.com/47241114/55479301-13a37d80-561e-11e9-8562-116c189ed8a4.png)

[2019-04-03 12:39] #2234 closed

[2019-04-03 13:53] Adrianltd opened #2237 "Credit caption in intro"
@MartaSztuka commented on [Fri Mar 15 2019](https://github.com/openstax/cnx-recipes/issues/944)

https://katalyst01.cnx.org/contents/mwjClAV_@8.1:MxXhGPWL@5/Introduction-to-Analytic-Geometry
https://katalyst01.cnx.org/contents/_VPq4foj@8.1:viAMjaPp@3/Introduction-to-Exponential-and-Logarithmic-Functions
https://katalyst01.cnx.org/contents/E6wQevFf@11.1:nU8Qkzwo@5/Introduction-to-Prerequisites
![bu

[2019-04-03 20:54] brittweinstein commented on #2226
@openstaxalina is this ready to be tested?

[2019-04-03 20:59] brittweinstein commented on #2224
This is likely a known issue due to the XYZ redesign but I will ask @marcjeannott to confirm.

[2019-04-04 11:35] uskka commented on #2215
Looks good. Tested on katalyst01.
<img width="854" alt="Screenshot 2019-04-04 at 13 33 07" src="https://user-images.githubusercontent.com/40228918/55552666-42812880-56de-11e9-99b9-0a547cb38da8.png">
<img width="853" alt="Screenshot 2019-04-04 at 13 30 06" src="https://user-images.githubusercontent.com/40228918/55552719-765c4e00-56de-11e9-9dc2-e4b5a2868d79.png">

[2019-04-04 11:35] #2215 closed

[2019-04-04 12:09] MartaSztuka commented on #2232
Tested on katalyst01, all 3 books are fixed.
@openstaxalina Can I close the issue?
![Screenshot from 2019-04-04 14-04-00](https://user-images.githubusercontent.com/47241114/55554505-39468a80-56e3-11e9-91bd-28f8a9b1c521.png)

[2019-04-04 14:23] uskka commented on #2217
There are no more lists like this in this book in webview. But there are lists like this where after a. , b. there is a text and these lists have the letter and caption above the figure like in the screenshot attached. Example 1.28 https://katalyst01.cnx.org/contents/i4nRcikn@4.1:Ib8OK9lb@6/1-4-Inverse-Functions
<img width="630" alt="Screenshot 2019-04-04 at 16 05 41" src="https://user-images.gith

[2019-04-04 16:03] yblock opened #2240 "[CONTENT INVESTIGATION] Figures are scaled too small in College Physics for AP Courses"
In College Physics for AP courses, the figures are scaled too small resulting in an odd look and squished figure text. I do not see any classes applied to them other than the main os-figure class which is on all of them.

https://cnx.org/contents/jQSmhtXo@21.1:L4pdOADV@6/1-1-Physics-An-Introduction

@helenemccarron

[2019-04-04 16:48] openstaxalina commented on #2217
Confirmed this is also how this content appears in PDF; therefore, I am closing this issue as resolved.

<img width="535" alt="Screen Shot 2019-04-04 at 11 47 29 AM" src="https://user-images.githubusercontent.com/7863733/55573403-7dc82b00-56cf-11e9-83d7-2678d5193685.png">

[2019-04-04 16:48] #2217 closed

[2019-04-04 16:49] openstaxalina commented on #2232
@MartaSztuka yes, I agree this can be closed.  Thank you!

[2019-04-04 17:02] openstaxalina commented on #2226
@brittweinstein I don't think so - this is still in the Textbook Devs' Backlog and I do not see a PR for this.

[2019-04-05 07:10] #2232 closed

[2019-04-05 10:54] MartaSztuka commented on #2237
Look's good in all 3 books, tested on katalysty01
![Screenshot from 2019-04-05 12-52-07](https://user-images.githubusercontent.com/47241114/55622982-fa2b3e80-57a1-11e9-8d5b-b80f47292b2a.png)

[2019-04-05 15:34] openstaxalina commented on #2237
I agree this looks good @MartaSztuka.

[2019-04-08 06:54] #2237 closed

[2019-04-08 08:28] MartaSztuka commented on #2236
I't duplicate

[2019-04-08 08:28] #2236 closed

[2019-04-08 12:55] MartaSztuka opened #2241 "Table overlaps text in PDF"
https://d3bxy9euw4e147.cloudfront.net/oscms-prodcms/media/documents/CollegeAlgebra-OP_s3hAxEt.pdf
![overlap](https://user-images.githubusercontent.com/47241114/55725395-e257f280-5a0d-11e9-9c97-42bd40f1c68f.jpeg)
I checked on downloaded PDF and on openstax.com, haven't seen anything like this in other places.

[2019-04-08 14:42] openstaxalina commented on #2241
This is a known issue; this will be fixed next time we update the _College Algebra_ PDF using the baked styles and the webview source.

[2019-04-08 14:42] #2241 closed

[2019-04-08 14:43] openstaxalina commented on #2224
Yes, this is a known issue; this will be resolved next time we update the _College Algebra_ PDF using the baked styles and the webview source content.

[2019-04-08 14:43] #2224 closed

[2019-04-08 15:01] uskka opened #2242 "Padding between chapter outline and figure"
There should be a padding between the chapter outline and the figure below it. It should look like in the Calculus example that is added.

https://katalyst01.cnx.org/contents/_VPq4foj@8.4:eSE3vUlJ@4/Introduction-to-Linear-Functions
<img width="947" alt="Screenshot 2019-04-08 at 16 58 31" src="https://user-images.githubusercontent.com/40228918/55734289-931abd80-5a1f-11e9-9fc3-b1da6e38ac7b.png">

ht

[2019-04-09 08:29] wilkus27 commented on #2210
Issue couldn't be reproduce.

**Decision:** close the issue.

[2019-04-09 08:29] #2210 closed

[2019-04-09 15:09] brittweinstein commented on #2240
assigning to @openstaxalina for prio

[2019-04-09 15:11] brittweinstein commented on #2131
@omehes is this fixed on production?

[2019-04-09 15:19] brittweinstein commented on #2131
@openstaxalina thank you for the clarification!

[2019-04-09 15:59] brittweinstein opened #2243 "05/07/19 Release"
## Milestone dates:
- Code freeze:  **04/12/2019**
- Code deployed to staging server: 04/15/2019
- Testing on staging server: 04/15/2019 => 04/22/2019
- Code Released to Production: **04/23/2019**

## Availability:
Bey: 70% - OOO on 4/12 and limited availability during creator fest
Bryan: 💯
Karen: 100%
Mulich: 100%
Ed: 100%
Marvin: 100%
Britt: 100%

## Link to release report
in Zenhub

## Repos up

[2019-04-09 20:24] Bkblodget commented on #2081
related to https://app.zenhub.com/workspaces/cnx-team-5af1f4cc12da5e6d74331b60/issues/openstax/cnx/250

[2019-04-10 11:42] uskka opened #2244 "Introduction figure caption needs styling"
Introduction figure caption in webview should look like caption in PDF but without the figure numbering.
https://katalyst01.cnx.org/contents/_VPq4foj@8.4:vEOnJry_@4/Introduction-to-Functions

PDF

<img width="1266" alt="Screenshot 2019-04-09 at 17 01 01" src="https://user-images.githubusercontent.com/40228918/55875585-b10a2e80-5b95-11e9-81e8-19db975212a2.png">

WEBVIEW
<img width="906" alt="Screen

[2019-04-10 12:01] uskka commented on #2244
Duplicated issue, it is not merged to master yet and I didn't knew that. https://github.com/openstax/webview/issues/2237

[2019-04-10 12:01] #2244 closed

[2019-04-10 14:56] uskka opened #2245 "Figure caption goes down after click"
Figure caption moves down each time there is a click outside the browser window. I did not figured out the pattern in which figures it appears but it is rare to find figures with this bug.  It appears only on Safari, and I found it so far in Precalculus only.

Figure 2,5
https://katalyst01.cnx.org/contents/_VPq4foj@8.4:HY2ubE-L@12/1-5-Transformation-of-Functions

Figure 13,14,15
https://katalyst01

[2019-04-11 13:50] Adrianltd commented on #2245
I can't replicate the bug on my computer (system: ubuntu, browser: firefox and chrome).
Any other Mac user can verify that this exists and maybe say more about this?

[2019-04-11 15:14] Adrianltd commented on #2245
@openstaxalina @helenemccarron I think you're the Mac users :apple:

[2019-04-11 17:18] uskka commented on #2242
Issue fixed. Tested on katalyst01.

<img width="966" alt="Screenshot 2019-04-11 at 19 15 37" src="https://user-images.githubusercontent.com/40228918/55977104-3cff8180-5c8e-11e9-8fde-39bd1608af17.png">

[2019-04-11 17:18] #2242 closed

[2019-04-12 07:54] helenemccarron commented on #2245
I can confirm it's happening for me as well in Safari. It looks like some of the scripts linked to mouse movements are firing when they shouldn't. @brittany-johnson might have an idea as well.

[2019-04-12 10:31] uskka opened #2247 "Remove bullets from list in learning objectives"
These dots at the left side of the list need to be removed. They do not appear in the pdf.
https://katalyst01.cnx.org/contents/oxzXkyFi@3.7:yhpfq5F1@5/1-1-Parametric-Equations

Webview

<img width="992" alt="Screenshot 2019-04-12 at 12 18 38" src="https://user-images.githubusercontent.com/40228918/56030715-d164f500-5d1d-11e9-80f6-7f8eea5023f3.png">

PDF

<img width="682" alt="Screenshot 2019-04-12

[2019-04-12 11:09] uskka commented on #2247
Looks good in both of the volumes I am unable to bake first volume due to problem with katalyst01. @helenemccarron approved that it is fine to close this and leave the first volume for the regression testing.
<img width="1128" alt="Screenshot 2019-04-12 at 12 58 45" src="https://user-images.githubusercontent.com/40228918/56032992-d2008a00-5d23-11e9-8dfa-0e933ebded68.png">
<img width="1169" alt="Sc

[2019-04-12 11:09] #2247 closed

[2019-04-12 13:47] brittany-johnson commented on #2245
I can also confirm that it is only happening on Safari, not Chrome or Firefox on Mac.
I'll try to find a solution.

[2019-04-12 18:35] pumazi commented on #2243
FYI We're probably looking at 2 database migration being in this release.

[2019-04-16 09:53] wilkus27 commented on #2228
After discussion in https://github.com/openstax/webview/pull/2239#issuecomment-482634139 decision is to not fix this issue.

[2019-04-16 09:53] #2228 closed

[2019-04-17 14:53] MartaSztuka commented on #2202
Problem is tracked in other issue, can be closed.

[2019-04-17 14:53] #2202 closed

[2019-04-17 18:30] openstaxalina commented on #2229
(Note for Alina to follow up with Nicole on the email thread "OpenStax Accessibility" when this is resolved.)

[2019-04-18 15:03] brittany-johnson commented on #2245
Just to note: This is also occurring on prod
https://cnx.org/contents/_VPq4foj@10.3:HY2ubE-L@13/Transformation-of-Functions

[2019-04-19 19:55] openstaxalina commented on #2230
Discussed as part of baked styles collab with REX/Unified.

**Acceptance Criteria for the fix:**

- Math does not flow outside its containing element (like a `<note>`)
- Math resizes so that it all displays within the containing element
- Since this could make the math super tiny, users **must** be able to zoom in and scroll.  We suggest implementing a feature that @philschatz demo'd that automati

[2019-04-22 16:34] BryanEliDimas commented on #1987
@brittweinstein Could you please give me a summary of the status of this PR? One of the two linked PRs has been merged and the other one has a very long conversation and ended up getting closed because it became outdated (too many code conflicts). What do we still have left to update in the codebase, exactly?

[2019-04-22 16:38] brittweinstein commented on #1987
@BryanEliDimas great question! Could you provide a screenshot of the current footer status and we can get this in front of @Bkblodget to let us know what else should change.

[2019-04-22 16:40] BryanEliDimas commented on #1987
![Screen Shot 2019-04-22 at 11 40 05 AM](https://user-images.githubusercontent.com/6620941/56511899-6ec8e180-64f3-11e9-873e-227f3f4b9f25.png)

Book footer currently.

[2019-04-23 15:04] #2190 closed

[2019-04-23 15:04] openstaxalina commented on #2190
Issue moved to [openstax/cnx-recipes #1028](https://github.com/openstax/cnx-recipes/issues/1028) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-23 16:24] #1471 closed

[2019-04-23 17:04] #2225 closed

[2019-04-23 17:15] brittweinstein opened #2248 "05/21/2019 Release"
## Milestone dates:
- Code freeze:  **05/10/2019**
- Code deployed to staging server: 05/13/2019
- Testing on staging server: 05/13/2019 => 05/20/2019
- Code Released to Production: **05/21/2019**

## Availability:

## Link to release report
in Zenhub

## Repos updated:

## Demo:
*(hyperlink the header above to the filter view for CNX milestone, release, and label: `rc-demo`)*
- 1
- 2

## Repo Che

[2019-05-06 15:38] openstaxalina commented on #1943
https://github.com/openstax/cnx-recipes/issues/1051#event-2318972908 is likely related

[2019-05-06 15:54] brittweinstein opened #2249 "06/04/19 Release"
Code Freeze: May 24
Code on Staging: May 27
Code on Production: June 4

[2019-05-13 17:44] #2243 closed

[2019-05-16 00:15] openstaxalina commented on #2195
Retested with Calculus baked on katalyst01; this issue seems to still be present.  https://katalyst01.cnx.org/contents/i4nRcikn@4.1:eJ08AsuX@4/2-4-Continuity

[2019-05-16 15:41] openstaxalina commented on #2154
We do not plan to use shading as a default/standard in tables going forward.  Shading is not used in the oer.exports PDF templates.  Shading will not be used in the baked styles except possibly at a book-specific level and/or via a class added to that specific table.

Therefore, we'd like to pursue removing shading entirely from tables in webview.  Need to assess with template devs and Alan about

[2019-05-16 15:43] openstaxalina commented on #2183
Related to https://github.com/openstax/webview/issues/2154, we should remove the shading and add vertical rules in all tables in webview.   Need to assess with template devs and Alan about the coding and test load on this.

[2019-05-16 15:44] openstaxalina commented on #2184
Our solution proposed in https://github.com/openstax/webview/issues/2183 should resolve this.  Adding the vertical rules will result in a clearer delineation between columns, even when the content is zoomed or otherwise scaled.

[2019-05-16 15:45] openstaxalina commented on #2183
*Need to make sure there is padding on either side of the vertical lines.

[2019-05-20 12:53] Adrianltd commented on #2175
If that's only one spot with dotted list I think it would be better to add `[data-bullet-style="none"]` to that list in the content.
I can remove those dots, but then it would affect all unordered lists within tables.
@openstaxalina ^

[2019-05-20 13:26] Adrianltd commented on #1914
@openstaxalina the fix referenced above will impact all `os-problem-container` paragraphs within exercises in appendices in all baked books. Is this solution acceptable?

[2019-05-20 14:42] #2230 closed

[2019-05-20 14:42] openstaxalina commented on #2230
Issue moved to [openstax/unified #290](https://github.com/openstax/unified/issues/290) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-20 15:28] brittweinstein opened #2252 "Books 06/18/19 Release"
jocular.joulutorrtu
Freeze: 06/07/19
Staging: 06/10/19
Production: 06/18/19

[2019-05-20 15:59] openstaxalina commented on #2175
@Adrianltd good point - I will move this to the content repo.

[2019-05-20 16:00] #2175 closed

[2019-05-20 16:00] openstaxalina commented on #2175
Issue moved to [openstax/content-managers #846](https://github.com/openstax/content-managers/issues/846) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-20 16:10] PiotrKozlowski commented on #1914
@Adrianltd Maybe something like this:
[code]

[2019-05-20 18:43] #2248 closed

[2019-05-21 14:18] brittweinstein commented on #1914
Decision: Leave the left padding as is.

[2019-05-21 14:28] lwtchu commented on #2195
Please investigate whether or not the content is marked up correctly in Calculus (in UPhysics, it looks correct).

[2019-05-21 14:55] yblock commented on #2195
The mathML looks the same to me. There isn't a manual space being added in markup. This may be caused by the `<m:munder>` object being against an italicized letter? In other cases the `<m:munder>` object is up against a math object or number.

[2019-05-21 16:03] openstaxalina commented on #2195
ooh @yblock that's a good point.  This may be a bug in MathJax (the math renderer that webview uses, whereas the PDF uses a different renderer).  I'd like to get @philschatz's opinion on this and whether/how we could open a bug with MathJax...I will message Phil.

[2019-05-21 16:05] openstaxalina commented on #2195
Screenshot of display working as intended from UPhysics:
![Screen Shot 2019-05-21 at 11 03 29 AM](https://user-images.githubusercontent.com/7863733/58111987-223af980-7bb8-11e9-967a-98572dcd40af.png)

Screenshot of display **not** working when it's up against an italicized letter:
![screen shot 2019-02-20 at 11 41 59 am](https://user-images.githubusercontent.com/11299125/53112542-11b9ab00-3505-11e9

[2019-05-22 06:48] MartaSztuka commented on #1914
Padding is even now, is this acceptable?
![Screenshot from 2019-05-21 17-38-36](https://user-images.githubusercontent.com/47241114/58152890-ff6b1c80-7c6d-11e9-94db-a5ea601e9b47.png)

[2019-05-22 07:57] MartaSztuka commented on #1914
It seems fix worked and paddings have slightly different height, but it would be better to make it more distinctive, as in pdf. I would suggest making double leading between question and following exercise.
![Screenshot from 2019-05-22 09-54-15](https://user-images.githubusercontent.com/47241114/58157008-ba4be800-7c77-11e9-8900-fd3bd1731748.png)

[2019-05-22 09:06] MartaSztuka commented on #1914
Leading looks good now. Tested on katalyst01.
https://katalyst01.cnx.org/contents/vEmOH-_p@7.1:pAeLAwQZ@10/A-The-Use-of-Mathematics-in-Principles-of-Economics
![Screenshot from 2019-05-22 11-04-33](https://user-images.githubusercontent.com/47241114/58161901-6e9e3c00-7c81-11e9-817b-7c45945715cc.png)

[2019-05-22 10:04] MartaSztuka commented on #2154
https://katalyst01.cnx.org/contents/mwjClAV_@8.2:SXjiAlpU@8.2/Key-Equations
Here are equations in tables (reported in issue #916).
1. Do we leave it like this?
2. Is there possibility that table overhaul will effect Key equations in tables?

[2019-05-22 11:28] wilkus27 commented on #2229
@openstaxalina I can't reproduce this issue. This is how it looks for me in **College Physics** (I used link from above)

![college-physics](https://user-images.githubusercontent.com/40228854/58170648-410ebe00-7c94-11e9-994f-1a5230cd2df7.png)

It acts the same in **Calculus** on production (https://cnx.org/contents/i4nRcikn@5.2:-xC--8XH@10/The-Limit-Laws)

![calculus-prod](https://user-images.gith

[2019-05-22 13:57] Adrianltd commented on #2226
This bug exists on whatever `ChapterCompositePage` in any book.
This bug exists after the page content loads (if you try to click on that buttons before the content loads, it works)

There's a part of code in `toggle-partial.html` which probably is not working in those cases:

@helenemccarron or @philschatz any ideas on that?

[2019-05-22 14:15] #1914 closed

[2019-05-22 14:16] openstaxalina commented on #2154
@MartaSztuka thank you for finding this.  Yes, with the new table styling, key equations tables will no longer have shading, but will have vertical and horizontal lines.  This is acceptable from my perspective, but do you foresee problems with this @MartaSztuka ?

cc @lwtchu

[2019-05-23 08:17] MartaSztuka commented on #2154
@openstaxalina I don't think this will be problem, without shading lines will not disturb. However Table numbering might be misleading in Key Equations.

[2019-05-23 11:38] wilkus27 commented on #2229
@openstaxalina I analized it and I think that such solution can be done in content. I have found that adding `aria-label` attribute to `<button>` tag also can help. I tried to do this manually on the page and then run Wave. After that there were no more error in this place which I changed,  but I don't know if it's a good solution. Attribute can be added in content or in JS, but I'm not familiar w

[2019-05-23 12:14] Adrianltd commented on #2229
I think that adding `aria-label` is best for accessibility. It proably can be added with JS or recipes, that we still would need adding a class to that button in the content, so it will be much easier to just add that aria-label in the content.
There is already `aria-label="show-solution"` and `aria-label="hide-solution"` added to the parent element, but `button` should also contain that label.

[2019-05-24 14:37] brittweinstein commented on #2195
@philschatz please weigh in above.

[2019-05-24 15:39] philschatz commented on #2195
It looks like a configuration problem on our part.

Example of the MathML breaking: https://jsfiddle.net/philschatz/9qzcgaf7/0/
Example of the MathML working: https://jsfiddle.net/philschatz/9qzcgaf7/1/

The only difference between the two is the actual MathJax JavaScript file that is loaded:

- Breaking: `.../2.7.4/MathJax.js?config=...`
- Working: `.../2.7.4/latest.js?config=...`

Once it is cha

[2019-05-24 17:08] openstaxalina commented on #2195
This will be fixed in REX.  I do not think we need to make the same fix in webview, as books will be moving to REX.  Closing.

[2019-05-24 17:08] #2195 closed

[2019-05-31 15:39] wilkus27 opened #2256 "Note titles are forcing allcaps in College Algebra"
@oscryan commented on [Thu May 30 2019](https://github.com/openstax/cnx-recipes/issues/1106)

# What happened?

The whole titles of notes in College Algebra are being capitalized, including variables which must be lowercase,
THUS COMPROMISING PEDAGOGY
*pushes glasses up nose* -@lwtchu
# Reproducibility Details

- **Does it also happen in an incognito window?**: yes
- **Does this happen in one plac

[2019-05-31 16:46] openstaxalina commented on #2256
@wilkus27 thank you!  Since we are fixing this in webview, are all <note> titles across all titles affected by this change?  Would the content itself dictate the capitalization rather than forcing everything to al caps?

[2019-06-03 11:06] wilkus27 commented on #2256
@openstaxalina changes which I proposed will affect all books, also unbaked. But I'm changing only titles of notes which include `<em>` elements with `[data-effect="italics"]`.
This is how it will display:

![image](https://user-images.githubusercontent.com/40228854/58796407-79e85480-85fd-11e9-8e8c-059d8a2600ee.png)

All words in title will be forcing to all caps as previously, but the capitalizat

[2019-06-03 14:51] openstaxalina commented on #2256
The most semantic solution would be to encode this as MathML rather than using emphasis tags.  Need to discuss pros/cons and feasibility with the content managers.

[2019-06-03 14:54] oscryan commented on #2256
we have definitely used mathml in note titles before

[2019-06-03 15:17] wilkus27 commented on #2256
@openstaxalina When I was doing a research I've found that similar issue appears also in other books, e.g in dev-math and college physics. To find those instances in baked books I put in Elefind (https://content-finder.herokuapp.com/) such selector: `[data-type="note"] .os-title [data-effect="italics"]`

[2019-06-03 17:24] openstaxalina commented on #2256
@wilkus27 thank you!  That is a way that we could find all these instances @oscryan.

Transferring this to Content Managers repo.

[2019-06-03 17:24] #2256 closed

[2019-06-03 17:24] openstaxalina commented on #2256
Issue moved to [openstax/content-managers #866](https://github.com/openstax/content-managers/issues/866) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-04 09:53] MartaSztuka commented on #2154
Tested on Katalyst01
![Screenshot from 2019-06-04 11-47-28](https://user-images.githubusercontent.com/47241114/58869489-9e583580-86be-11e9-8096-a695ceb20e5e.png)

[2019-06-04 09:54] #2154 closed

[2019-06-04 11:44] MartaSztuka commented on #2183
Tested on katalyst01.
![Screenshot from 2019-06-04 13-42-02](https://user-images.githubusercontent.com/47241114/58876534-b1730180-86ce-11e9-960e-cdbeca3c70d3.png)
![Screenshot from 2019-06-04 13-43-37](https://user-images.githubusercontent.com/47241114/58876571-cbacdf80-86ce-11e9-8a59-7784781720a0.png)

[2019-06-04 11:44] #2183 closed

[2019-06-04 12:09] MartaSztuka commented on #2184
Tested on katalyst01
![tabl](https://user-images.githubusercontent.com/47241114/58877903-49261f00-86d2-11e9-9b77-a6663e01a859.jpeg)

[2019-06-04 12:09] #2184 closed

[2019-06-05 17:23] #2249 closed

[2019-06-10 13:50] MartaSztuka opened #2258 "Leading is too wide."
https://katalyst01.cnx.org/contents/AndhM9Sd@6.1:02l1UzkA@17/1-1-Use-the-Language-of-Algebra

Text display weirdly in the table, which is misleading. This issue occurs only here.
![leading](https://user-images.githubusercontent.com/47241114/59199837-3494cb80-8b97-11e9-8f9f-aa6ea78d2ca5.jpeg)

[2019-06-10 14:52] brittweinstein commented on #2258
@marcjeannott please take a look at the content and fix this if possible. If this is not a content error, please assign to @wilkus27 .

[2019-06-10 16:14] marcjeannott commented on #2258
<entry valign="top" align="left">the quotient of <m:math><m:mi>a</m:mi></m:math> and <m:math><m:mrow><m:mi>b</m:mi><m:mo>;</m:mo></m:mrow></m:math><newline/><m:math><m:mi>a</m:mi></m:math> is called the dividend, and <m:math><m:mi>b</m:mi></m:math> is called the divisor</entry>

There's a newline. I don't know why it's being transformed that way. (I thought there was a related issue to this a long

[2019-06-10 16:16] brittweinstein commented on #2258
@helenemccarron could this be a transforms issue?

[2019-06-10 16:56] helenemccarron commented on #2258
I would look at whether the server is up to date compared CNX. It looks like it works on production. It does look like the transforms issue that has been plaguing us.

[2019-06-11 09:06] MartaSztuka opened #2259 "Erratic table styling"
https://katalyst01.cnx.org/contents/E6wQevFf@13.63:aZUaFd4T@13.63/Review-Exercises

Tables styling in whole book shows no pattern whatsoever.
![eoc](https://user-images.githubusercontent.com/47241114/59258502-6316b300-8c38-11e9-87c6-a5b82331f506.jpeg)

[2019-06-11 14:15] brittweinstein commented on #2258
@marcjeannott  could you ensure that the content (CNXML) is the same on the katalyst server and the production server?

[2019-06-11 16:58] marcjeannott commented on #2258
Updated my comment the one above is Katalyst this one is Production. It's the same CNXML

`the quotient of <m:math><m:mi>a</m:mi></m:math> and <m:math><m:mrow><m:mi>b</m:mi><m:mo>;</m:mo></m:mrow></m:math><newline/><m:math><m:mi>a</m:mi></m:math> is called the dividend, and <m:math><m:mi>b</m:mi></m:math>`

[2019-06-11 17:01] brittweinstein commented on #2258
@helenemccarron the content is the same and I assume this is a transforms issue. I will put this in Leaky Pipes to keep an eye on it after all of the transforms work is done.

[2019-06-13 13:39] brittweinstein commented on #2259
@marcjeannott could you please take a look at this and see if this is content related?

[2019-06-13 14:08] lwtchu commented on #2259
Confirmed this should be content related.

[2019-06-14 08:59] MartaSztuka opened #2260 "Unevenly crossed lines in tables."
https://katalyst01.cnx.org/contents/b0yPizXD@2.1:aSsMehg7@1/Word-games
Lines in tables are like not styled all over the book. In several locations doesn't cross properly.
![lines](https://user-images.githubusercontent.com/47241114/59496862-9f455000-8e92-11e9-8513-771b76ed4b27.jpeg)

[2019-06-14 10:04] MartaSztuka opened #2261 "Unnecessary cells."
https://katalyst01.cnx.org/contents/b0yPizXD@2.1:rOr6L5qs@1/Listening-skills-and-tongue-twisters
![tab cells](https://user-images.githubusercontent.com/47241114/59501752-7aee7100-8e9c-11e9-9673-79c2e5b23db8.jpeg)

Most of tables in the book are like this.

[2019-06-14 10:41] MartaSztuka opened #2262 "Text is sticking to table lines."
https://katalyst01.cnx.org/contents/wpkg_88R@2.57:wGnkZ09p@4/Muscle-Tissue-and-Motion

![gluedtext](https://user-images.githubusercontent.com/47241114/59503392-8e9bd680-8ea0-11e9-969b-8c60936e8b72.jpeg)
Issue occurs in other locations too.

[2019-06-14 11:34] MartaSztuka opened #2263 "Table top row bold lines."
https://katalyst01.cnx.org/contents/wpkg_88R@2.57:kwbeYj9S@5/Bone-Structure

![bold](https://user-images.githubusercontent.com/47241114/59506379-4f718380-8ea8-11e9-9b4b-a2b594ef47f8.jpeg)

Table frame has to be smooth outside.

[2019-06-14 15:27] brittweinstein commented on #2260
assigning to @openstaxalina for prio

[2019-06-14 15:35] brittweinstein commented on #2261
This is a content fix. I don't think we should fix it but will leave it for @openstaxalina to decide.

[2019-06-14 15:36] brittweinstein commented on #2262
assigning to @openstaxalina for prio

[2019-06-14 15:37] brittweinstein commented on #2263
assigning to @openstaxalina for prio

[2019-06-16 20:57] openstaxalina commented on #2263
It looks like `Bone Markings` is encoded as a table head, not a table title:
<img width="836" alt="Screen Shot 2019-06-16 at 3 54 26 PM" src="https://user-images.githubusercontent.com/7863733/59569444-16bfde80-904f-11e9-8dec-8e4ff0d77124.png">

Overall, the display of the table is clearer now, even if the table head is now within the table itself.  The textbook creator (note: this is a derived boo

[2019-06-16 20:59] openstaxalina commented on #2262
This seems similar to https://github.com/openstax/webview/issues/2263; will park tomorrow.

[2019-06-16 21:00] openstaxalina commented on #2261
Since this is not an OpenStax book, we will not make this fix.  The content creator will be able to make this fix in content if desired.

[2019-06-16 21:00] #2261 closed

[2019-06-16 21:02] openstaxalina commented on #2260
I believe this is occurring because this is a single table with differing numbers of cells in the rows.
I believe the content creator would need to correct this in the content.  I am going to close this.

[2019-06-16 21:02] #2260 closed

[2019-06-17 15:13] brittweinstein commented on #2263
Decision: we will close b/c this is acceptable visually

[2019-06-17 15:13] #2263 closed

[2019-06-26 20:48] openstaxalina opened #2265 "What Would It Take to Support Italics in Module Titles?"
_The Florentine Codex_, the subject of [this module](https://content05.cnx.org/contents/CmIfJ6vh:JgybCbwI), should be italicized since we are referring to a book-like item.  However, CNX currently does not support italics in module titles.

Would it be possible to support italics in module titles, as well as in the ToC?  What would this break?  Where/how would this need to be implemented?

[2019-07-01 15:39] openstaxalina commented on #2265
Need to apply the emphasis tags to some module title content to facilitate dev testing in a future sprint.

[2019-07-09 13:53] brittany-johnson commented on #2262
<img width="898" alt="Screen Shot 2019-07-09 at 8 52 22 AM" src="https://user-images.githubusercontent.com/24909007/60893674-f5ee4180-a226-11e9-8faf-2ca35989fb78.png">

[2019-07-15 13:46] #2252 closed

[2019-07-15 14:52] openstaxalina opened #2266 "APUSH: Move Exercise Text onto the Line with Its Number"
@openstaxalina commented on [Fri Jun 28 2019](https://github.com/openstax/cnx-recipes/issues/1171)

# Scenario

The text of any exercise should be in line with its number, **not** on the line below.

For example, in [this module](https://staging.cnx.org/contents/KC8KeLYF@2.1:nx-LSZj6@5/1-1-%F0%9F%93%8E-Inquiry-Organizer)...
![APUSHExerciseTxtSameLine](https://user-images.githubusercontent.com/7863

[2019-07-15 20:21] brittany-johnson commented on #2266
![Screen Shot 2019-07-15 at 3 21 10 PM](https://user-images.githubusercontent.com/24909007/61246347-3b71a980-a714-11e9-9f29-c6188b287e9c.png)

[2019-07-16 14:08] MartaSztuka commented on #2262
https://katalyst01.cnx.org/contents/wpkg_88R@2.57:8x7YlLHu@4/Bone-Classification
tested on katalyst01
![Screenshot from 2019-07-16 16-06-23](https://user-images.githubusercontent.com/47241114/61301295-ec934500-a7e3-11e9-87de-c3f5f64f2b74.png)

[2019-07-16 14:08] #2262 closed

[2019-07-19 17:58] Stackblocks commented on #2266
for review with staging APUSH collection from the initial comment.

[2019-07-25 16:42] Stackblocks commented on #2266
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/c067f165-37c2-4b6a-bc5b-6a3e3a420fb1)

[2019-07-25 18:37] omehes opened #2268 "xpath search: adding new tags to existing ones"
html transforms PRs: #610 #600 #557 #477

When running xpath search code: self_close_xpath_search.py

add these tags (complete list):

xitems = ["//h:em[not(node())]",
              "//h:strong[not(node())]",
              "//h:sub[not(node())]",
              "//h:sup[not(node())]",
              "//h:iframe[not(node())]",
              "//h:span[not(node())]",
              "//h:h3[not(node())]"

[2019-07-25 21:14] openstaxalina commented on #2266
It looks like this was fixed!  What do you think, Alan?
Screenshot from: https://staging.cnx.org/contents/KC8KeLYF@2.1:dSSl_YvL@2/1-17-%E2%9C%92%EF%B8%8F-Watercolors-of-Algonquian-Peoples-in-North-Carolina-1585
![Screen Shot 2019-07-25 at 4.13.53 PM.png](https://images.zenhubusercontent.com/5b57372fb01a900cfd923015/4817c4e1-8f6d-4895-a7f3-27c24c78548f)

[2019-07-25 21:17] Stackblocks commented on #2266
@openstaxalina It looks like questions that are importing correctly (read: not `MISSING EXERCISE` display correctly, while the missing ones still line break.

Since `MISSING EXERCISE` is not the desired end state, does this meet our definition of done?

![image](https://user-images.githubusercontent.com/12678235/61909411-b0549880-aef7-11e9-91bb-d2350e428ec8.png)

[2019-07-25 21:19] openstaxalina commented on #2266
@Stackblocks good point. I think that the production teams or I can retest this on content05, where the exercises should import properly.  Then we could (hopefully) close this issue.  Would that plan work?

[2019-07-25 22:03] oscryan opened #2269 "Alignment is broken for stepwise lists in Chemistry"
https://cnx.org/contents/2bhe5sV_@5.10:N_6vCCqT@5/13-4-Equilibrium-Calculations

Webview:
<img width="335" alt="Screen Shot 2019-07-25 at 5 02 12 PM" src="https://user-images.githubusercontent.com/1895432/61911765-fd3b6d80-aefd-11e9-9792-c63a922329fc.png">

Rex test left, PDF right:
<img width="1214" alt="Screen Shot 2019-07-25 at 4 55 48 PM" src="https://user-images.githubusercontent.com/1895432/

[2019-07-31 18:10] brittweinstein opened #2270 "Content Engineering 08/14/2019 Deploy"
Code Freeze: 08/02/2019
Staging Deploy: 08/05/2019
Production Deploy: 08/14/2019

[2019-08-01 18:48] openstaxalina commented on #2266
Unfortunately it looks like assessments pulled in from Exercises still have the line break:
![Screen Shot 2019-08-01 at 1 47 05 PM](https://user-images.githubusercontent.com/7863733/62319125-eb5c4c00-b462-11e9-8534-ba8e32c3ee3e.png)

link: https://content05.cnx.org/contents/CmIfJ6vh@30.1:CtEXAR4u@12/1-3-%F0%9F%94%8E-Native-People

I am going to move this into o.o so we could take a look at this.

[2019-08-01 18:52] Stackblocks commented on #2266
Another point of interest there is that the Review Questions are behaving correctly, so it may be limited to Review Questions

[2019-08-01 19:00] openstaxalina commented on #2266
Review Questions and Test Prep for AP Courses are the only two exercise types in the title that pull in from Exercises - I think pulling in from Exercises seems to cause/be related to the display problem.

[2019-08-05 14:45] openstaxalina commented on #2266
Module with test content: https://staging.cnx.org/contents/KC8KeLYF:w01bi3xv

Need to determine what instance of Exercises easyvm5 points to.

Might need a CM to encode 2-3 exercises with the relevant nicknames on THAT instance of Exercises.

[2019-08-05 14:54] openstaxalina commented on #2266
@dtwilliamson confirmed that easyvm5 is pointing to production exercises.

[2019-08-06 21:36] #2270 closed

[2019-08-09 17:20] #2269 closed

[2019-08-09 17:20] openstaxalina commented on #2269
Issue moved to [openstax/unified #430](https://github.com/openstax/unified/issues/430) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-12 17:48] marcjeannott opened #2271 "Multiple Paragraphs Appearing as One"
In AP Biology Science Practice Challenge Questions, the last paragraph is actually suppose to be multiple paragraphs, yet appears as one on CNX. Below I've posted images of how it's marked up in the editor (with multiple paragraphs) ![2019-08-12_12-34-35.jpg](https://images.zenhubusercontent.com/5b572d7e0e34d640605a661c/832a5b45-d5dc-400a-be07-50e49af43647)

How it looks on the PDF and Rex
![2019-

[2019-08-14 13:58] #2268 closed

[2019-08-19 14:47] brittweinstein commented on #2271
Decision: Will not fix as this is going to REX soon.

[2019-08-19 14:47] #2271 closed

[2019-08-26 18:22] #2185 closed, assigned to Bkblodget

[2019-08-29 19:08] brittweinstein commented on #2252
Britt thiss is wrong! We need version 3333

[2019-08-30 16:22] #2081 closed

[2019-09-09 14:22] oscryan opened #2273 "para tag not rendering in collated Homework in Introductory Statistics"
https://cnx.org/contents/MBiUQmmY@23.33:2uU19ocf@23.33/Homework

<img width="689" alt="Screen Shot 2019-09-09 at 9 21 08 AM" src="https://user-images.githubusercontent.com/1895432/64538943-30399500-d2e3-11e9-8610-27457f353a93.png">

the markup here is `<para id="eip-idp85002752">
Did the silver content of the coins change over the course of Manuel’s reign?
</para>
<para id="eip-idm32834512">
Here

[2019-09-09 16:14] oscryan commented on #2273
It is also not rendering in the collating Additional Problems section in University Physics:
https://cnx.org/contents/rydUIGBQ@12.20:HcDhqVVe@12.20/Additional-Problems
<img width="1404" alt="Screen Shot 2019-09-09 at 10 55 15 AM" src="https://user-images.githubusercontent.com/1895432/64547763-efe21300-d2f2-11e9-8a86-5c5ef8aeffd5.png">

`<para id="fs-id1172102122026">
Each of the following reaction

[2019-09-13 15:41] yblock commented on #2240
The images are small because the width and/or height is defined in markup.

[2019-09-13 15:42] #2240 closed

[2019-09-17 19:36] openstaxalina opened #2274 "APUSH: AP Practice Questions stimuli not appearing in Reference View"
@mwest-WWprod commented on [Mon Sep 16 2019](https://github.com/openstax/tutor/issues/602)

GLOBAL
Tutor APUSH
https://tutor-content.openstax.org/course/88

Stimuli are not appearing in AP Practice Questions in Student/Teacher Reference View. See below example in Chapter 2 Chapter Intro Essay (2.2). Our manuscript input is provided for reference. Note that the stimuli does appear in the Question L

[2019-09-17 19:38] openstaxalina commented on #2274
Question ID is 17707 in exercises.openstax.org.

Question stimulus does not show when question is imported from exercises into CNX instance: (search "According to the excerpt from Roger Williams" on this page: https://content05.cnx.org/contents/CmIfJ6vh@34.1:ati9GAKm@13/2-2-%F0%9F%93%96-Chapter-2-Introductory-Essay-1607-1763)

[2019-09-17 19:39] openstaxalina commented on #2274
Agree this must be resolved for final product.  We are looking into this @mwest-WWprod.  The _earliest_ this would be resolved is 10/23.  I do not have developer feedback on this yet; it may be more complex and take longer to resolve.

However, my understanding is that you are currently QA'ing these assessments in the Question Library, so this issue is **not** holding up your QA.  Is that correct?

[2019-09-17 21:35] mwest-WWprod commented on #2274
@openstaxalina we are QAing in the Question Library, but we are going to end up needing to QA the questions again in the reference view to make sure everything looks good there. The urgency though is around the next pilot in October (I'll confirm date with Alisha), and because we are leaving the AP Practice Questions in the reference view, we do need to get the pertinent issues resolved before the

[2019-09-17 22:56] openstaxalina commented on #2274
@mwest-WWprod got it.   I'll make a note to discuss the scope of the October pilot on Friday's call.  That would help inform whether we could advise a content workaround for the specific content in the pilot.  Meantime, I'll talk with developers to get a rough sense of the workload involved in this issue.

[2019-09-19 16:33] openstaxalina commented on #2274
tl;dr: need to know where the code that pulls in exercises is coming from.  Alina to follow up with CE Tech / Ross.

Documenting team investigation:

Example **from Tutor** where stimulus displays properly:
![Screen Shot 2019-09-19 at 11 30 29 AM](https://user-images.githubusercontent.com/7863733/65262924-fb8ec000-dad0-11e9-9e4a-b6b1baa4b401.png)

Example **from Tutor** of a SINGLE part question d

[2019-09-23 14:38] brittweinstein commented on #2274
@brittweinstein put in SS Sprint

[2019-09-23 16:11] openstaxalina commented on #2265
Confirm that the markup is HTML markup - change some double braces to triple braces once you find the place in the template that renders that.  This would be a change in the webview repo.

We would need a similar change in Tutor.  Need to also look at all the different spots where the titles display and confirm the italics show properly.  This is not a ton of work for dev, but more testing to make

[2019-09-23 16:13] openstaxalina commented on #2274
Display code is located in webview.  May have been Phil S. - can check commits.

There is also code in the old PDF pipeline.

[2019-09-23 16:18] openstaxalina commented on #2265
@oscryan, could you please create sample content with italics in the module titles on easyvm5.cnx.org and put the link here?  Please apply the template APUSH with recipe.

[2019-09-23 16:31] openstaxalina commented on #2274
This code was likely written in 2016 or first half of 2017.  By Ross or Phil S.

[2019-09-23 17:02] oscryan commented on #2265
https://easyvm5.cnx.org/contents/waJb6R7Y@2.1:VDwSTsFR@1/%E2%9C%92%EF%B8%8F-The-Florentine-Codex-c-1585

[2019-09-24 14:38] brittweinstein commented on #2265
We need to find where the title is rendered and ensure that the text does not escape. We will wait for easyvm5 to be cleaned up so we can test the content.

[2019-09-24 14:39] brittweinstein commented on #2274
The problem is in  ./embeddables/exercise-template

[2019-09-24 14:43] openstaxalina commented on #2265
@oscryan the link is leading to a 404.  Can you try publishing without the italics tags and see if it's still a 404?  Any troubleshooting would be welcome...we may need to publish a module title with italics on another server to see if this 404 issue is specific to easyvm5.

[2019-09-24 14:45] openstaxalina commented on #2265
Content troubleshooting steps from devs:

1) publish without italics tags, see if that works
2) publish again with italics tags, see if that works
3) if step 2 didn't work, try sub or sup tags or other markup that seems to work in page titles and see if **that** works

[2019-09-24 15:38] omehes opened #2275 "Fix failing test case due to book redirecting to rex (test_content:test_in_book_search)"
Need to replace book uuid and search term (e42bd376-624b-4c0f-972f-e0c57998e765", "mitosis genetics) in:
[code]

[2019-09-24 19:21] openstaxalina commented on #2274
Some additional info that Ross provided: "should be able to add a conditional stanza at the top of the template to render the stimulus."

[2019-09-25 17:01] oscryan commented on #2265
https://easyvm5.cnx.org/contents/waJb6R7Y@2.1:VDwSTsFR@1/%E2%9C%92%EF%B8%8F-The-Florentine-Codex-c-1585

[2019-09-25 17:12] oscryan commented on #2265
https://easyvm5.cnx.org/content/col29682/latest/ the second module seems to work; html doesn't render in the editor, but webview notices it

[2019-09-25 17:28] openstaxalina commented on #2265
That is exciting!  Since we've had some weird behavior I want to document what I see:
![Screen Shot 2019-09-25 at 12 23 27 PM](https://user-images.githubusercontent.com/7863733/65624368-558afc00-df8f-11e9-85f9-82a6d194a972.png)

It appears that `<i>` works while `<emphasis effect="italics">` doesn't.  In both cases, the markup shows in Legacy (not desired, but doesn't matter because Legacy).  With

[2019-09-25 17:32] openstaxalina commented on #2265
Side note that I am still getting 404s when pasting the URL to either of the above modules directly into my browser.  Probably need to check with devs about this.  Video here: https://drive.google.com/open?id=1gfY5Mzl5jDRZPoCuNHqmtA1RhV5MmkXP

[2019-09-25 18:10] openstaxalina commented on #2265
Another mystery is why the exact same markup yields italics on easyvm5 but not content05:
https://content05.cnx.org/contents/CmIfJ6vh@35.32:JgybCbwI@8/1-15-%E2%9C%92%EF%B8%8F-The-Florentine-Codex-c-1585

https://easyvm5.cnx.org/contents/waJb6R7Y@3.2:bChHirvQ@2/%E2%9C%92%EF%B8%8F-The-Florentine-Codex-c-1585

Park with devs tomorrow

[2019-09-26 16:18] openstaxalina commented on #2265
Results of team investigation:

The content on easyvm5 was NOT baked (we all confirmed this via Inspect).  The baking is stripping off the `<i> `tags.

Screenshot of unbaked content on easyvm5:
![Screen Shot 2019-09-26 at 11 13 18 AM](https://user-images.githubusercontent.com/7863733/65705830-ccd39500-e04e-11e9-9244-7566ad6d4f41.png)

Screenshot of baked content on content05:
![Screen Shot 2019-09

[2019-09-26 16:49] #2179 closed

[2019-09-26 19:21] openstaxalina commented on #2126
closing as this title has now been QA'd and released in REX.

[2019-09-26 19:21] #2126 closed

[2019-09-26 19:26] openstaxalina commented on #2174
Closing as this book has been QA'd and released in REX.

[2019-09-26 19:26] #2174 closed

[2019-09-26 19:51] #2151 closed

[2019-09-26 19:57] #1751 closed

[2019-09-27 14:28] #2134 closed

[2019-09-27 14:32] #1607 closed

[2019-09-27 14:32] #1601 closed

[2019-09-27 14:45] #2039 closed

[2019-09-27 14:52] #1554 closed

[2019-09-27 14:52] #1585 closed

[2019-09-27 14:52] #1590 closed

[2019-09-27 14:53] #1618 closed

[2019-09-30 16:09] lwtchu opened #2276 "WAITING TO TEST IN REX: Captions too lightly colored in Statistics"
@marcjeannott commented on [Thu Sep 26 2019](https://github.com/openstax/cnx-recipes/issues/1422)

# What happened?
While testing Statistics I noticed the table captions are so light it's difficult to read.

# Reproducibility Details
You can find this content on Table 1.8 -  https://content04.cnx.org/contents/8fd0axzV@4.1:km7EgaMp@2/1-2-Data-Sampling-and-Variation-in-Data-and-Sampling

# Environme

[2019-10-01 18:47] openstaxalina commented on #2265
Issue moved to [openstax/cnx-recipes #1429](https://github.com/openstax/cnx-recipes/issues/1429) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-01 18:47] #2265 closed

[2019-10-01 18:51] openstaxalina commented on #2266
not fixing now; webview is not the destination platform for APUSH.  The exercises are already displaying without the line break in Tutor.

[2019-10-01 18:51] #2266 closed

[2019-10-01 21:04] brittweinstein opened #2277 "Overview and Decisions: Isolate PDF specific styles"
@helenemccarron commented on [Mon Feb 18 2019](https://github.com/openstax/cnx-recipes/issues/862)

This is tracked in Unified in https://github.com/openstax/unified/issues/168

The work done matches the coding section of https://github.com/openstax/unified/issues/168.
The checkbox in coding should be checked when this is complete.
---

Decouple styles that apply only to PDF from styles that may a

[2019-10-03 15:13] #2245 closed

[2019-10-03 15:14] #2229 closed

[2019-10-03 15:14] #2226 closed

[2019-10-03 15:14] #2105 closed

[2019-10-03 19:14] openstaxalina opened #2278 "APUSH: Multi-part assessments not numbered correctly in Reference View"
@mwest-WWprod commented on [Mon Sep 16 2019](https://github.com/openstax/tutor/issues/601)

GLOBAL
Tutor APUSH
https://tutor-content.openstax.org/course/88

Multi-part assessments are assigned a single assessment number in the Student/Teacher Reference View. This will mismatch the Instructor Answer Guide ancillary in which each part is individually numbered. Each separate question under the stimul

[2019-10-03 19:39] openstaxalina commented on #2278
@brittany-johnson would you be able to take a look at this?  I'm wondering if it would make sense to do this while you're working on https://github.com/openstax/webview/issues/2274.

https://github.com/openstax/webview/issues/2274 is definitely still the bigger priority, though.

[2019-10-03 19:40] openstaxalina commented on #2278
(The gist is that we want the stimulus to NOT be numbered, and we want the questions under the stimulus to be numbered, like in the manuscript screenshot above.)

[2019-10-03 20:00] openstaxalina commented on #2278
Discussed in person with BrittanyJ - she is going to look at this as part of #2274, but this issue (2278) may slide to t.t.

[2019-10-10 18:54] Stackblocks commented on #2274
Like the pets at the end of Homeward Bound, the stimuli have crested the hill into the backyard of their new APUSH home and we are glad to see them again after spending so much time worried about their safety.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/c368372c-218e-4654-be47-7ee9c3e3d0f6)

[2019-10-10 18:54] #2274 closed

[2019-10-10 21:33] openstaxalina commented on #2276
@lwtchu are you recommending content investigation on this or is this ready for dev work?

You had mentioned that there was a table caption somewhere else that **was** appearing properly; did you find the markup for that?

[2019-10-11 21:47] lwtchu commented on #2276
@openstaxalina Can confirm this is in the table caption and not a footer row.

I think I got confused with the other table titles.

The design should follow how figure caption and titles work. Should match base font color. Titles should be bold and captions are not.

[2019-10-14 18:55] omehes opened #2280 "Adding 6 new redirecting books to auto-tests (23/10)"
Intro Stats
Business Stats
AmGov 2e
US History
Principles of Accounting Vol 1
Principles of Accounting Vol 2

[2019-10-15 15:05] omehes opened #2281 "Customer is unable to access content"
user can't view his personal workspace, the collection is col30267, Introduction to the Human Body fvcc104. The content team was not able to replicate his error.

Here is the link to his workspace: https://legacy.cnx.org/Members/ctaylor_fvcc

When going to this link, I am seeing 500 error (see attached)

More details from the customer and Tabitha H.
Hello! This guy came back. He's continuing to ex

[2019-10-15 16:39] omehes commented on #2281
Notes from devops:

These are potential candidates from /var/lib/cnx/cnx-buildout/var/log/instance0.log on prod04

<details>
<summary>Click here for more info</summary>

  Module Products.PageTemplates.TALES, line 221, in evaluate
   - URL: file:RhaptosRepository/skins/rhaptos_repository/expanded_browse_authors.cpt
   - Line 177, Column 20
   - Expression: standard:'context/expanded_browse_authors

[2019-10-15 18:53] openstaxalina commented on #2276
Most likely this will need to be fixed in REX once we can test content there.

Putting in the Icebox until we have statistics ready to migrate to production and put in a REX sandbox for testing.

[2019-10-15 22:01] karenc commented on #2281
This might be one of the errors: (`/var/lib/cnx/cnx-buildout/var/log/instance2.log` from `prod04`)

[code]

[2019-10-15 22:48] pumazi commented on #2281
The users content items: `['col30271', 'col30267', 'm79460', 'm79299', 'm79523', 'm79390', 'm79245', 'm79447', 'm79302', 'm79475', 'm79246', 'm79301', 'm79395', 'm79429', 'm79242', 'm79340', 'm79344', 'm79436', 'm79425', 'm79468', 'm79421', 'm79441', 'm79483', 'm79479', 'm79433', 'm79412', 'm79506', 'm79304', 'm79415', 'm79411', 'm79463', 'm79408', 'm79300', 'm79244', 'm79524', 'm79335', 'm79517',

[2019-10-15 23:00] karenc commented on #2281
Objects in the user's workspace:

[code]

Workspace items returned by the portal catalog (used by the view):

[code]

The difference:

[code]

[2019-10-15 23:18] karenc commented on #2281
What we need to do is to unindex the missing object from the portal catalog, otherwise the workspace can't display correctly.

This is the `unindexObject` code from /var/lib/cnx/cnx-buildout/parts/plone/CMFCore/CatalogTool.py:

[code]

But trying to uncatalog the object raised an error:

[code]

I'll need to look into this tomorrow.

[2019-10-15 23:23] karenc commented on #2281
This looks similar to https://github.com/openstax/cnx/issues/561

[2019-10-16 14:13] karenc commented on #2281
Here's what I did in `/var/lib/cnx/cnx-buildout/bin/instance debug` on `prod04` to fix the problem:

[code]

@omehes Could you check to see if the user's workspace is working now?

[2019-10-16 15:22] #2281 closed

[2019-10-17 16:22] omehes opened #2282 "bakery spike testing"

[2019-10-18 18:28] openstaxalina commented on #2278
The exercises are pulled in by cnx-epub **after** baking occurs (numbers are assigned during baking).  So right now we don't seem to be able to target each question under the stimulus to assign a number.

@brittany-johnson and @tomjw64 proposed an alphabetic schema for the questions: 1A, B, C for example:
![Screen Shot 2019-10-15 at 10 45 39 AM](https://user-images.githubusercontent.com/7863733/67

[2019-10-21 06:47] tomjw64 commented on #2278
An estimation for the options listed:

1/ideal - I don't think this is possible without a pipeline level change

2/less ideal - should be slightly less easy than the uppercase letters initially suggested, but still not difficult

3/last resort - I might resort to generated numbers with CSS before this, possibly. It's not very kosher in bakedpdf, but if we have to do it, we could

[2019-10-21 14:58] openstaxalina commented on #2278
Fourth "kind of hacky" option - add an attribute that says how many questions are in that exercise.  Then baking can adjust its numbering accordingly (i.e. allow space for 1-3, etc.).  However this is risky because we might decide to add or remove sub-questions.  Could be easy to get out of sync.  This would be another last resort option.

[2019-10-21 15:12] openstaxalina commented on #2278
Steps for the ideal fix:

1. move the injection out of cnx-epub and into the database triggers for baking (need to verify which repo has the code)

2. regression test any book that pulls in stuff from Exercises (AP Bio, I think HS Physics...any others?) OR make a recipe flag `if book = apush, then pull in the exercises earlier`. (We think the former is better for now - fix this for all books.)

3.

[2019-10-22 11:09] karenc commented on #2278
Hm... what I'm seeing is that the bakery CLI doesn't fetch exercises :neutral_face:  I added `<link class="os-embed" url="#ost/api/ex/k12phys-ch22-ex110"/>` to one of the module's `index.cnxml` and the html remains ` <a href="#ost/api/ex/k12phys-ch22-ex110" class="autogenerated-content"></a>` right till the end.

<summary>As for server side baking, exercises are fetched before the book is baked.
<

[2019-10-23 14:31] omehes commented on #2280
tested on staging - PASS

[2019-10-23 16:38] openstaxalina commented on #2274
confirmed seeing this on content05 (screenshot below).  @oscryan, could you please reimport the APUSH collection in tutor-content and confirm you are seeing the stimuli on AP Practice Questions?  Please post a screenshot so we could also double-check the styling.

<img width="851" alt="Screen Shot 2019-10-23 at 11 36 39 AM" src="https://user-images.githubusercontent.com/7863733/67414917-97f12a00-f

[2019-10-23 17:54] oscryan commented on #2274
Reimported, and I am... not seeing them in tutor, in browse the book. https://tutor-content.openstax.org/book/88/page/96996

The manifest has ap-practice under reading processing instructions, and the questions are there, but not the stimulus.
<img width="747" alt="Screen Shot 2019-10-23 at 12 54 24 PM" src="https://user-images.githubusercontent.com/1895432/67420451-4306e100-f594-11e9-9d95-c4c05d3

[2019-10-23 18:14] oscryan commented on #2274
now it works https://tutor-content.openstax.org/book/88/page/97177

[2019-10-23 18:15] openstaxalina commented on #2274
The above appears related to caching, or the book not being fully reimported yet.  Ryan and I both confirmed the stimuli show at the link she pasted just above:
<img width="778" alt="Screen Shot 2019-10-23 at 1 14 35 PM" src="https://user-images.githubusercontent.com/7863733/67421963-291acd80-f597-11e9-9938-68716d11995c.png">

[2019-10-24 14:28] omehes commented on #2280
tested on prod. PASS

[2019-10-25 14:04] #2280 closed

[2019-10-28 16:10] openstaxalina commented on #2278
We will need to make sure this is tested both locally (w/ CLI) and on the server.

[2019-10-29 16:05] omehes opened #2283 "test creating pdf of math and non-math books"
use baked pdf cli to create collection pdfs of math and non-math books
check the time of mathify process on these types of books
check the size of these types of books

books with literally no math:
Sociology 2e
U.S. History
Business Ethics
American Government 2e
book with ONE math: Organizational Behavior

[2019-10-29 16:15] #2283 closed, assigned to omehes

[2019-10-29 16:15] brittweinstein commented on #2283
Issue moved to [openstax/cnx #746](https://github.com/openstax/cnx/issues/746) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-30 16:51] openstaxalina commented on #2278
I think this is the issue CE Tech is working on: https://github.com/openstax/cnx/issues/747

And this webview issue is for @brittany-johnson once CE Tech is done.

More context: https://openstax.slack.com/archives/C0LA54Q5C/p1572278647384200

[2019-10-30 18:05] omehes commented on #2278
@openstaxalina That means I will be testing 747 only, not this issue (#2278), right?
@brittweinstein

[2019-10-30 18:07] Stackblocks commented on #2278
Yeah, i'll probably be the one testing this side since I did the testing for https://github.com/openstax/webview/issues/2274.

[2019-11-04 15:55] openstaxalina commented on #2278
@Stackblocks to paste a link to the content on easyvm5.

[2019-11-04 15:56] Stackblocks commented on #2278
Link to easyvm5.cnx.org dummy content: https://easyvm5.cnx.org/contents/I3AIQB35@12.1:iV27iQYm@2/1-6-Origins-of-the-Slave-Trade

[2019-11-05 22:34] karenc commented on #2278
@brittany-johnson exercise fetching is now working in nebuchadnezzar `v9.4.0`.

[2019-11-07 19:16] #2278 closed

[2019-11-07 19:16] openstaxalina commented on #2278
Issue moved to [openstax/cnx-recipes #1577](https://github.com/openstax/cnx-recipes/issues/1577) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-13 20:57] jrchamp opened #2285 "Accessibility: Contrast is too low between secondary brand colors and white"
"Get This Book!", "Introduction" and footer icons have insufficient contrast
See: https://cnx.org/contents/Rko_umjB@6.4:MXTQeFW9@5/Introduction

The green color comes from here:
https://github.com/openstax/webview/blob/b7838e4422a1235d15caf078b68425a525a0f98b/src/styles/variables.less#L11-L12

Please note that both the "secondary" and "secondary-dim" are too similar to the white background, failin

[2019-11-19 16:47] omehes opened #2286 "adaptarr install and using/learning"
1. install adaptarr
2. start using it and observe how it works and what it knows (differences between legacy and adaptarr)

[2019-11-21 17:23] omehes commented on #2286
cannot upload book zip file

[2019-11-25 20:02] #2286 closed

[2019-12-02 16:08] helenemccarron commented on #2277
This looks like a duplicate of https://app.zenhub.com/workspaces/textbook-developers-5cdc84baee941c07853fbbf2/issues/openstax/cnx-recipes/862 - closing

[2019-12-02 16:08] #2277 closed

[2019-12-16 22:17] brittweinstein commented on #2275
@omehes is this still an issue?

[2019-12-16 22:20] omehes commented on #2275
This was fixed. Closing

[2019-12-16 22:20] #2275 closed

[2019-12-16 22:26] #2188 closed

[2020-01-16 09:04] wilkus27 opened #2287 "hs physics: display of section exercises"
Number and content of exercises should display inline.
Problem occurs for exercises inside modules: (e.g. https://katalyst01.cnx.org/contents/qRkBHZVu@4.2:T1clFaXi@3/14-1-Speed-of-Sound-Frequency-and-Wavelength)

![image](https://user-images.githubusercontent.com/40228854/72509179-4a622180-3847-11ea-8f23-a1d27322712f.png)

![image](https://user-images.githubusercontent.com/40228854/72509191-548420

[2020-01-16 10:49] wilkus27 opened #2289 "Double titles in composite chapters"
In composite chapters from EOC titles of composite pages appear twice (e.g. https://katalyst01.cnx.org/contents/CImQfPDv@8.46:92s-N-ry@8.46/Review-Exercises)

![image](https://user-images.githubusercontent.com/40228854/72518751-3f62bd80-3856-11ea-87e5-f622aa1b2860.png)

[2020-01-22 17:52] omehes opened #2291 "Verify TOC link issues on cops (related to issue #768)"
Creating this issue as per conversation with Thomas and Bey

Test TOC links and their page numbering in cops on prod as per info in
https://app.zenhub.com/workspaces/content-engineering-tech-team-5af1f4cc12da5e6d74331b60/issues/openstax/cnx/768

[2020-01-23 09:37] MartaSztuka commented on #2289
tested on https://katalyst01.cnx.org/contents/qRkBHZVu@4.2:lMaFCtXn@4.2/Short-Answer
![Screenshot from 2020-01-23 10-28-15](https://user-images.githubusercontent.com/47241114/72972748-4b0d3180-3dcc-11ea-8eb6-4ae2d23fd9c4.png)

[2020-01-23 11:01] MartaSztuka commented on #2287
https://katalyst01.cnx.org/contents/qRkBHZVu@4.2:_VnwQKLB@4/7-1-Kepler-s-Laws-of-Planetary-Motion
![Screenshot from 2020-01-23 11-57-34](https://user-images.githubusercontent.com/47241114/72978983-ac86cd80-3dd7-11ea-857b-cf696268fc06.png)

[2020-01-30 20:28] #2100 closed

[2020-01-30 20:28] brittweinstein commented on #2100
I am closing as this is a longterm known issue. We can come back to this in the archives if needed.

[2020-01-31 18:59] omehes commented on #2291
I checked this on cops.openstax.org and chapter numbering looks good now.
I leave it open for @openstaxalina to verify.

![chap_no.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/44b8bf69-19be-4d4f-a6d3-d6951f6a2653)

![chapt_no33.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/6d0791b4-4b8a-44d9-9c82-894c9b86d9c9)

[2020-02-03 18:14] omehes commented on #2291
@openstaxalina I saw completed hs-physics book on katalyst01. The pdf has links which still show incorrect numbering. Should the code be deployed to katalyst too?

![chap-no5.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/b57be01f-9d4d-4e6a-b199-eb4477c2f717)

[2020-02-03 22:29] openstaxalina commented on #2291
@omehes this may be because HS Physics doesn't have styles merged to master (I think).  I'll go ahead and close this issue since you verified with Chemistry (which does have styles merged to master).

[2020-02-03 22:29] #2291 closed

[2020-02-06 19:42] #2131 closed

[2020-02-17 12:40] MartaSztuka commented on #2289
tested on https://katalyst01.cnx.org/contents/qRkBHZVu@7.29:bX_wX-Pp@7.29/Short-Answer
![Screenshot from 2020-02-17 13-38-25.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/c1bb8fe3-7053-4f5f-ad65-053ed22c1764)

[2020-02-17 12:40] #2289 closed

[2020-02-17 12:43] MartaSztuka commented on #2287
tested on https://katalyst01.cnx.org/contents/qRkBHZVu@7.29:T1clFaXi@4/14-1-Speed-of-Sound-Frequency-and-Wavelength
![Screenshot from 2020-02-17 13-42-14.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/a962a517-d9cd-43ea-8d0a-923797b9aa17)

[2020-02-17 12:43] #2287 closed

[2020-02-28 14:36] omehes opened #2293 "Interacting with tables in FF, Chrome and Safari"
This is an issue reported by Sourav
Test case: https://openstax.testrail.com/index.php?/tests/view/515227&group_by=cases:title&group_order=asc&group_id=-1

Follow these steps:
1. Go to https://vendor.cnx.org/contents/jMTw1gpP@1.1:WlJVnEI0@1/A-Present-Values-Table-Set-Rotated-Landscaped-at-90%C2%B0-as-Art-and-Table
2. Interact with the table labeled "Present Value Table as Data" (scroll it horizont

[2020-03-02 16:03] brittweinstein opened #2294 "WAITING: Exercises in new line in Polish U-Physics"
@wilkus27 commented on [Thu Dec 19 2019](https://github.com/openstax/cnx-recipes/issues/1711)

Some of the exercises display in-line with number, but part of them below:

![image](https://user-images.githubusercontent.com/40228854/71187262-021f0600-227f-11ea-85cd-15bea47605ca.png)

All of them should display in-line (exception: if exercise start with list it should be below the number like in exer

[2020-03-02 16:54] openstaxalina commented on #2294
Issue moved to [openstax/unified #895](https://github.com/openstax/unified/issues/895) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-02 16:54] #2294 closed

[2020-04-02 13:53] omehes opened #2295 "vendor-staging.cnx.org is displaying books incorrectly"
![vendors.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/42a2671d-99d8-4c6d-ba12-7ca8bcb91b1e)

this is how vendor-staging shows books. vendor.cnx.org looks good.

[2020-04-17 15:48] omehes opened #2296 "Internal server error when using assemble, bake, etc tasks with CLI"
Internal server error issue occurring when uploading artifacts in assemble, bake, mathify, disassemble and jsonify tasks when uploading artifacts (book or cnx-recipes). The error is below and happen with or without vpn connection. To fix it, I have to repeat the action few times until it succeds (1-10x):

[code]

PR: https://app.zenhub.com/workspaces/content-engineering-tech-team-5af1f4cc12da5e6d7

[2020-04-20 15:45] brittweinstein commented on #2258
we will be able to verify this after our test fest! @openstaxalina @marcjeannott

[2020-04-21 15:16] rnathuji commented on #2296
I have observed this issue as well a few times while running the `bake` command. I did find the following Concourse issues which seems to be related:
* [fly execute sometimes returns 500 error when loading an input directory containing a terraform state file](https://github.com/concourse/concourse/issues/4621)
* [Make `zstd` compression opt-in; default to `gzip`](https://github.com/concourse/conco

[2020-04-21 20:14] omehes opened #2297 "rundeck errors out when running deploy to qa"
Issue with changes to rundeck:

[code]

Discussed with Dennis. Fix on its way.

[2020-04-21 20:16] omehes commented on #2297
New PR fixing the issue: https://github.com/openstax/cnx-deploy/pull/1306

[2020-04-21 21:27] omehes commented on #2297
new error:
[code]

[2020-04-22 15:02] tomjw64 commented on #2296
This is now blocking further CLI + CLI driven testing work on output-producer-service.

[2020-04-22 16:21] omehes commented on #2297
Deploy worked and qa.cnx.org looks good too! Fixed

[2020-04-22 16:21] #2297 closed

[2020-04-22 21:16] omehes opened #2298 "openstax books not present on https://vendor-(staging).cnx.org page"
run https://vendor.cnx.org/ or https://vendor-staging.cnx.org/
books are missing. only community created books are shown

discussed in the channel. CORS issue.

similar issue with staging.cnx.org reported by Mike.

qa looks good.

[2020-04-22 21:36] #2298 closed

[2020-04-23 04:19] tomjw64 commented on #2296
Looks like that PR you linked has recent activity. That's a good sign.

[2020-04-23 21:03] rnathuji commented on #2296
# Summary of initial investigation and findings
I'm documenting some of the testing / investigations that I did as part of this issue, but the TLDR is it seems a fix / work around is in addition to waiting for the Concourse port to become responsive, we should wait a second for it to "settle". In other words, the following seems to fix the observed behavior:

[code]

If that leaves you somewhat un

[2020-04-23 21:13] tomjw64 commented on #2296
that's hilarious. I was literally planning earlier today to add in a sleep myself to let it settle after startup, since I reasoned there's no way it fails that much under normal running circumstances. I'm glad there's some actual data behind it and I have no problem sleeping for 1 second if it solves an error of this severity.

[2020-04-24 14:19] rnathuji commented on #2296
I will wait to see whether the work around is found to be sufficient for our needs to determine next steps on this issue.

[2020-04-30 12:52] omehes commented on #2296
@rnathuji @tomjw64 This PR is in Merged column but it does not look like is ready and testable?

[2020-04-30 13:01] tomjw64 commented on #2296
It is. The associated PR was attached to another issue

[2020-05-01 16:27] omehes commented on #2296
Tested on col11844 and col11992:

node ./bakery/src/cli/execute.js fetch staging.cnx.org col11844 latest -c /Users/om9/Documents/Projects/output-producer-service -d /Users/om9/Documents/Projects/output-producer-service/bakery/data

node ./bakery/src/cli/execute.js assemble col11844 -c /Users/om9/Documents/Projects/output-producer-service -d /Users/om9/Documents/Projects/output-producer-service/bak

[2020-05-01 16:42] #2296 closed

[2020-05-27 15:39] brittweinstein commented on #2276
@lwtchu can we confirm that this is no longer an issue: https://openstax.org/books/introductory-statistics/pages/1-introduction

[2020-05-27 15:59] lwtchu commented on #2276
Fyi it's in hs stats not intro stats: https://openstax.org/books/statistics/pages/1-2-data-sampling-and-variation-in-data-and-sampling

<img width="878" alt="Screen Shot 2020-05-27 at 10 59 23 AM" src="https://user-images.githubusercontent.com/11299125/83043979-2d193d00-a009-11ea-8580-161405ae815c.png">
verified not an issue

[2020-05-27 15:59] #2276 closed

[2020-05-27 16:12] brittweinstein commented on #2273
@lwtchu @openstaxalina what is the prio here?

[2020-05-27 17:07] lwtchu commented on #2273
<img width="582" alt="Screen Shot 2020-05-27 at 12 06 38 PM" src="https://user-images.githubusercontent.com/11299125/83050699-8a65bc00-a012-11ea-904a-b8a9dc2efc36.png">

fixed on rex. might've been a webview issue only.

[2020-05-27 17:07] #2273 closed

[2020-06-15 21:16] omehes opened #2299 "unwanted artifacts in neb get progress output (via distr pipeline)"
When you run book baking and uploading via distribution pipeline, in fetch book phase the neb get progress output shows

[code]
incorrect page numbers: 186/18625h

Discussed with Ripal:
This does not happen when using neb get directly.

Seems like the output there gets “sandwiched” between 25l and 25h. Whatever it is has been there since the very first build: https://concourse-dev0.openstax.org/te

[2020-06-16 15:56] brittweinstein commented on #2299
This is a known issue that we will not fix.

[2020-06-16 15:56] #2299 closed

[2020-07-02 19:34] omehes opened #2300 "s3 bucket: Microbiology book has incorrect title"
This is an issue coming from PR https://app.zenhub.com/workspaces/content-engineering-tech-team-5af1f4cc12da5e6d74331b60/issues/openstax/cnx/1017

44 books were uploaded to the new s3 bucket with incorrect title name for Microbiology (with a space character after y)

discussed with Brenda

[2020-07-09 15:06] c0ldcalamari commented on #2300
[code]

char_length of  13 contains trailing space, in prod09.cnx.org database

[code]

Questions:
1. Should this be addressed in the script as we take the book name and add to our json file? (strip out any trailing spaces) If we do than out downstream users (CM) may not catch this.
2. Fixed by a CM? What does this process look like? Create a card on the CM board?

[2020-08-10 14:48] brittweinstein commented on #2258
8/10 Decision: Closing b/c this has been released in REX.

[2020-08-10 14:48] #2258 closed

[2020-10-23 12:08] wilkus27 opened #2301 "New footnotes tags"
After tags for footnotes were changed text of footnote displays right after footnote number:

(https://staging.cnx.org/contents/TqqPA4io@3.11:Zx_pvyiS@6/1-1-Zakres-stosowalno%C5%9Bci-praw-fizyki)
![image](https://user-images.githubusercontent.com/40228854/97159796-aadda200-177b-11eb-9008-e5aaedffd6d7.png)

It should be moved to the end of the page:

![image](https://user-images.githubusercontent.c

[2020-10-23 15:28] openstaxalina commented on #2301
I think that this would be fixed when books are moved into REX, but that will happen in Q1 2021 at the earliest (per Kim).

I am curious if it is _possible_ to fix this issue on CNX, without undoing some of the recent transform work. cc @brittany-johnson @lwtchu may want to discuss the plan for this with Katalyst.

[2020-10-23 15:52] lwtchu commented on #2301
We could potentially apply the webview fix that REX did to cnx-webview and focus testing only on these titles. But I'll also await @brittany-johnson's input in case it's not as easy as I might've made it seem like :joy:

[2020-10-26 08:55] wilkus27 commented on #2301
@openstaxalina @lwtchu we discussed it on one of our weekly call. We will apply similar solution to one from REX. Everything will be tested on staging.cnx.org, because there is old content on katalyst01.

Link to solution from REX: https://github.com/openstax/rex-web/pull/557/files

Link to book on staging: https://staging.cnx.org/contents/TqqPA4io@3.11:Zx_pvyiS@6/1-1-Zakres-stosowalno%C5%9Bci-pra

[2020-11-12 08:44] MartaSztuka commented on #2301
#### PASSED
Tested on https://staging.cnx.org/contents/TqqPA4io@3.11:Zx_pvyiS@6/1-1-Zakres-stosowalno%C5%9Bci-praw-fizyki#fs-idm248304896
![Screenshot from 2020-11-12 09-39-18](https://user-images.githubusercontent.com/47241114/98916084-02de0d80-24cb-11eb-826b-92a75bf93884.png)

[2020-11-12 08:44] #2301 closed

[2020-11-24 18:23] #2293 closed

[2020-12-04 20:37] kswanson33 opened #2307 "Accounting Appendix"
It looks like the appendix class is missing in accounting.

![image.png](https://images.zenhubusercontent.com/5fa9a1a6a99686111a824015/f243f022-2a2e-470f-8987-ee103b550d7f)

(Should have `class="appendix"` on the selected div.)

According to #3115, the preface is also missing.

[2020-12-04 20:37] #2307 closed, assigned to nobody

[2020-12-07 19:11] lwtchu commented on #2307
@kswanson33 did this still need to be added into the content? if it's missing on production, i'll have to get them added in.

[2020-12-07 19:37] lwtchu commented on #2307
Real card here: https://github.com/openstax/cnx-recipes/issues/3128

[2020-12-18 15:31] marcjeannott opened #2308 "Update Polish titles adoption form link"
Katalyst has notified us that currently Fizyka and Pscyhologia links on Openstax.org are wrong. The adoption form link should be https://openstax.pl/formularz-adopcyjny

Currently CMs are unable to edit this directly in the CMS.

[2020-12-18 16:12] #2308 closed, assigned to paulinaszczucinska

[2020-12-18 16:12] openstaxalina commented on #2308
Issue moved to [openstax/business-intel #1694](https://github.com/openstax/business-intel/issues/1694) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-11 17:36] marcjeannott opened #2309 "Clicking Answer Key Link doesn't stay on location"
We received an errata from a user frustrated by the fact that **throughout the library** when they click a solution in the Answer Key - or vice versa - the location moves once the math has loaded. "Opening a link to a solution from the problem set in a new tab, (for example: <a class="os-number" href="chapter-2#fs-id1163723183650-solution">63</a>) also causes the the user to lose their current spo

[2021-02-24 19:04] marcjeannott opened #2310 "Credentials for Anthropology on C06"
Hello! I'd like credentials created for Anthropology on Content06 please. I've uploaded the username and password to the usual place and shared with Dennis.

[2021-02-24 19:38] dtwilliamson commented on #2310
user and password addition completed

[2021-02-24 19:38] #2310 closed, assigned to dtwilliamson

[2021-03-08 20:39] omehes opened #2311 "POET: I can create a no-name subcollection"
1. Start gitpod and vscode
2. Install the latest extension
- editor-0.0.0-dev-2d1cf65.vsix
3. The ToC Editor is opened
4. The Add Subcollection button is clicked
5. New subcollection is added
6. Delete the name of the subcollection

Result: Name is deleted and subcollection becomes nameless and cannot be edited anymore.

collection.xml looks like this:

![9D4354EC-1108-459B-8814-93CFD4390877_4_500

[2021-03-08 21:28] omehes opened #2312 "POET: Typing/Deleting module/subcollection names is erroneous"
Start gitpod and vscode
Install the latest extension
editor-0.0.0-dev-2d1cf65.vsix
The ToC Editor is opened
The Add Subcollection button is clicked
New subcollection is added
Change its name and type in letters then
Delete the name of the subcollection, one letter after the other

Result:
typing in a new name is weird. And if I type in fast and then click outside the box, the name will be differen

[2021-03-08 21:51] omehes commented on #2312
Wrong project, created a new one

[2021-03-08 21:51] #2312 closed, assigned to omehes

[2021-03-17 14:00] marcjeannott opened #2313 "Credentials for Sociology3e on production"
Hello! I'd like credentials created for Sociology3e on Production please. I've uploaded the username and password to the usual place and shared with Dennis.

[2021-03-17 14:55] dtwilliamson commented on #2313
Completed.

[2021-03-17 14:55] #2313 closed, assigned to dtwilliamson

[2021-04-19 14:56] ckline-tryptic opened #2314 "Tests for tagging for release and release candidate"
# Acceptance Criteria
- [ ] update existing tests for push-content
- [ ] test for getNewTag release candidate with no previous releases
- [ ] test for getNewTag release candidate with previous releases
- [ ] test for getNewTag release with no previous releases
- [ ] test for getNewTag release with previous releases
- [ ] test for tagging dialog

[2021-04-19 16:47] ckline-tryptic opened #2315 "Make PR to VSCode to expose tagging methods to API"
# Description
The VSCode git API does not expose the methods we need for implementing tagging in a reliable manner, and the workaround makes us vulnerable to potential changes in the code we are relying on. Having these methods enshrined in the exposed API makes it more likely that we can rely on the underlying code for a long time, and allows us to use a non-hacky solution for tagging.

# Accepta

[2021-04-26 20:48] ne-newton opened #2316 "Fix Validation error in LLPH"
CE found a duplicated id in LLPH, which needs to be fixed to move LLPH to RAP for Tutor to use.

`Found 1 duplicate(s) with id='BRI_APUSH_08_03_Draft'`

- [ ] Fix validation error

- [ ] Trigger CORGI job with latest collection version

- [ ] Notify Neil/Bey

[2021-04-26 21:18] oscryan commented on #2316
Hey, there are only 3 instances of this string in the collection and they all have different functions. one's a Figure ID, one's a link to that figure, and one's the filename of the image the figure displays. This shouldn't be causing a conflict.

[2021-05-03 15:02] #2316 closed, assigned to oscryan

[2021-05-17 16:23] ckline-tryptic opened #2317 "Add option to run CORGI jobs on forked book repos."
# Story
As a tester, it would be very useful to be able to fork a book repo and run CORGI jobs against it.

# Acceptance Criteria
- [ ] osbook repos are forkable
- [ ] corgi accepts full github repo urls in the Collection ID field

[2021-05-24 16:25] m1yag1 commented on #2317
Existing issue for securing CORGI backend in case we want to edit / add comments: [1172](https://github.com/openstax/cnx/issues/1172)

[2021-05-24 16:27] m1yag1 commented on #2317
Issue moved to [openstax/cnx #1561](https://github.com/openstax/cnx/issues/1561) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-24 16:27] #2317 closed, assigned to philschatz

[2021-07-08 20:59] ckline-tryptic opened #2318 "Add Style Info to META-INF file"

[2021-07-08 21:03] ckline-tryptic commented on #2318
# Story
Style info needs to be added to the META-INF file to support automatic job queueing in CORGI when tagging from POET.
# Acceptance Criteria
- [ ] `META-INF` file contains `style` specification for each book entry in all the `osbook-*` repos

[2021-09-27 14:17] ckline-tryptic opened #2319 "Update CORGI to allow for no style"

[2022-01-18 20:13] TylerZeroMaster opened #2320 "Enki tests should warn if shellcheck is absent"
Note to self: clicking the plus button at the top of a column in ZenHub puts the issue in *unexpected* places 🤔

[2022-01-25 16:52] #2320 closed, assigned to TylerZeroMaster

[2022-04-29 16:18] kswanson33 opened #2321 "filter cnx-recipes -> ce-styles"
`git-filter-repo` filters not just the files, but also the commit history for those files, and creates a new repo with the files & history. We will use this to create the `ce-styles` repo to bring over relevant files & their history.

Phil suggested this in a thread a while back: https://openstax.slack.com/archives/C0LA54Q5C/p1642612936119700?thread_ts=1642610000.107200&cid=C0LA54Q5C

The list of

[2022-05-04 15:45] ne-newton opened #2322 "relative link to style_href in book json"
# Description

REX need the link to the style in a book's json to be a relative link.

## Additional Information

Currently, the field reads `style_href: "resources/styles/webview-generic.css"`
However, the link should be relative, like the other resource links `../`

## Acceptance Criteria

- [ ] The `style_href` book's json, from the pipeline, needs to be relative.